<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exampleModalLabel">
    	<i class="fa fa-user"></i>	&nbsp;Project Team		
    </h4>
  </div>
  <div class="modal-body p-a-md" style="min-height:300px;max-height: 400px;overflow-y:auto;">
	  
	<% if @invitee.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  <% @invitee.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
	      <% end %>
	  </div>						
	<% end %>
	  
	  <% current_project.users.each do |u| %>
	  	
        <div class="row p-y" style="border-bottom:1px solid #efefef" id="member_<%= u.id %>">
			<div class="col-sm-9 control-label" style="text-align:left;" >
				<%= u.full_name unless u.first_name == "__missing__" %> 
				<small><em><%= mail_to u.email %></em></small>
			</div>
			<div class="col-sm-2">
				<strong><%= u.id == current_project.owner_id ? "Owner" : nil %></strong>
			</div>
			<% unless current_project.owner_id == u.id %>
			<div class="col-sm-1">
				<%= link_to fa_icon("times"), project_invite_path(current_project,u), method: :delete, remote: true, data: {confirm: "Are you sure you want to remove access to this project for #{u.full_name}"}  %>
			</div>
			<% end %>
		</div>		
		
	  <% end %>
  </div>
  <div class="modal-footer" style="background:#12466f;text-align:left;">
	  <%= form_for @invitee, url: project_invites_path(current_project), method: :post, html: { class: "form-horizontal"}, remote: true do |f| %>
	  
	  	<%= f.label :email, fa_icon("paper-plane","INVITE TEAM MEMBER"), style: "font-size:13px;color:#2aa9d2" %>
    
	
	  	<div class="input-group p-b">
	  		<%= f.email_field :email, class: "form-control", value: "", placeholder: "Enter an email address" %>
	  	      <span class="input-group-btn">
	  	        <%= f.submit "INVITE", class: "btn btn-primary" %>
	  	      </span>
	  	</div>
	  <% end %>
  </div>
</div>