$("#invite-users .modal-dialog").html("<%= j(render 'invite')%>");

<% if @invitee.valid? %>
	$("#invite-users .modal-body").prepend('<div class="alert alert-success">Invite sent...</div>');
	setTimeout(function(){
		$("#invite-users .modal-body .alert").slideUp();
	}, 1500);
<% end %>