<% if @user.errors.any? %>
	$("#invite-users .modal-body").prepend(
	  '<div id="error_explanation" class="alert alert-danger">'+
		  '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>'	+	  
		  '<% @user.errors.full_messages.each do |message| %>'+
		        '<li><%= message %></li>'+
	      '<% end %>'+
	 ' </div>'
	);
<% else %>
	$("#invite-users #member_<%= @user.id%>").remove();
<% end %>