<h3 class="title m-b-0">Execution History</h3>
<div id="exec-stats" class="m-t p-a square-bordered">
<script type="text/javascript">
	$(function () {
		
	lodr.dash.exec_stats_chart = Highcharts.chart('exec-stats', {
	        chart: {
	            type: 'bar',
				spacingLeft: 0,
				spacingRight: 0,
				height: 50            
	        },
			credits: { enabled: false },
	        title: { text: null },
			legend: { enabled: false },
	        xAxis: {			
	            visible: false,
				categories: ["Status"]
	        },
			yAxis: { visible: false },
	        plotOptions: {
				bar: { 
					pointWidth: 50, 
					dataLabels: {
	                    enabled: true,
	                    color: 'white',
						format: '{y} {series.name}',
						style: {
							color: "#fff", 
							fontSize: "11px", 
							fontWeight: "normal", 
							textOutline: "0px 0px" }					
	                }
				},
	            series: {
	                stacking: 'percent'
	            }
	        },
	        tooltip: {
				enabled: true,
				shared: false,
				pointFormat: '{series.name}: <b>{point.y}</b><br/>'
	        },
	        series: [{
				name: "Failed",
				color: '#c7121d',				
	            data: [<%= @stats["failed_jobs"] %>]
	        }, {
				name: "Succeeded",
				color: '#29b929',
	            data: [<%= @stats["succeeded_jobs"] %>]
	        }, {
				name: "Running",
				color: 'lightblue',
	            data: [<%= @stats["running_jobs"] %>]
	        }, {
				color: "orange",
				name: "Cancelled",
	            data: [<%= @stats["cancelled_jobs"] %>]
	        }]
	    });
	});
</script>
</div>


	
	