<script type="text/javascript">
$(function () {
	Highcharts.setOptions({
		global: { // useUTC: false,			
		},
		lang: {
		        thousandsSep: ','
		}
	});
    Highcharts.chart("<%= ctr %>", {
		credits: { enabled: false },
        chart: {
            type: 'areaspline',
			zoomType: 'x',
			height: 200,
			spacingLeft: 0
        },
        title: { text: null },
		legend: { enabled: false },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {  text: null }
        },
        yAxis: {
			labels: {
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
			},
            title: { text: null }
        },
        tooltip: {
            shared: true,
			valueDecimals: 1,
			pointFormat: '<b>{point.y}</b><br/>'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: false
                }
            }
        },

        series: [{
            data: [
				<% @perf.each_with_index do |p,i| %>
					[<%= p["started_at"] %>, <%= p[col] %> ]
					<%= "," if i+1 < @perf.size %>
				<% end %>
            ]
        }]
    });
});
</script>