<td id="job-started"><%= formatted_time(job.started_at || job.created_at) %></td>

<td id="job-status" class="<%= job.status%>" data-job-id="<%= job.id %>">
	<% if job.failed? %>
		<label class="label label-danger"><%= job.status %></label>
	<% elsif job.cancelled? %>
		<label class="label label-warning"><%= job.status %></label>
	<% elsif job.succeeded? %>
		<label class="label label-success"><%= job.status %></label>
	<% elsif job.succeeded_with_errors? %>
		<label class="label label-warning"><%= job.status %></label>
	<% elsif job.scheduled? %>
		<label class="label label-info"><%= job.status %></label>
	<% else %>
		<label class="label label-info"><%= job.status %> </label> &nbsp;<%= fa_icon("spinner","","fa-spin") %>
		<label class="text-muted"><%= job.info %> </label>
	<% end %>
</td>

<td id="job-loader">
	<% if job.loader_id %>
		<%= link_to job.loader_name, show_loader_path(job.loader_id) %>
	<% else %>
		<%= job.loader_name %>
	<% end %>
	
	<% if job.selected_file %>
		<p class="help-block"><i>Auto selected file name:<br/> <%= job.selected_file %></i></p>
	<% end %>
</td>
					
<td id="job-duration"><%= 
	number_with_precision(job.duration,precision: 1) %></td>

<td id="job-processed-rows"><%= number_to_human job.input_rows, units: num_units  %></td>

<td id="job-actions">
	<%= link_to(fa_icon("ban","Cancel"), loader_cancel_path(job.loader_id), class: "btn btn-xs btn-danger") if job.is_running? %>
	
	<% if job.execution_errors %>
	<a href="#" class="btn btn-xs btn-danger-outline" data-target="#errorModal" data-toggle="modal"
		data-body="<%= job.execution_errors %>">
		Show Error
	</a>
	<% end %>
	
	<% if !job.scheduled? %>
	<%= link_to "Stats", "#", class: "btn btn-xs btn-info-outline job-stats", 
		data: {
			stats: job.to_json(:except => :execution_errors), 
			toggle: "modal", target: "#stats-modal"
				}%>
	<% end %>
</td>