<div class="row">
	<div class="col-xs-8">
<h1 class="page-title">Dashboard</h1>
	</div>
	<div class="col-xs-4 text-right">
	<%= select_tag :per_page, options_for_select(LoadJob::PERIODS, @dash_period),
		class: "form-control custom-select m-t-md", style: "max-width: 150px;",
       :onchange => "if(this.value){Turbolinks.visit('?dash_period='+this.value);}" %>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div id="rows-processed" class="stat-chart p-a">
			<div class="statcard p-b">
			  <h3 class="statcard-number">
				  	<%= number_to_human @stats["rows_processed"], units: num_units  %></h3>
			  <span class="statcard-desc">Processed Rows</span>
			</div>
			<div id="rows-processed-chart">
				<%= render 'micro_chart', col: "rows_processed", ctr: "rows-processed-chart"  %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div id="avg-dur" class="stat-chart p-a">
			<div class="statcard p-b">
			  <h3 class="statcard-number">
				  	<%= number_to_human @stats["avg_dur"], units: num_units  %></h3>
			  <span class="statcard-desc">Avg Duration (Secs)</span>
			</div>
			<div id="avg-dur-chart">
				<%= render 'micro_chart', col: "avg_dur", ctr: "avg-dur-chart"  %>
			</div>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div id="rows-per-sec" class="stat-chart p-a">
			<div class="statcard p-b">
			  <h3 class="statcard-number">
				  	<%= number_to_human @stats["avg_rows_per_sec"], units: num_units  %></h3>
			  <span class="statcard-desc">Avg Rows Per Second</span>
			</div>
			<div id="rows-per-sec-chart">
				<%= render 'micro_chart', col: "avg_rows_per_sec", ctr: "rows-per-sec-chart"  %>
			</div>
		</div>
	</div>
</div>

<%= render 'exec_stats' %>

<div class="lodr-pretty-table m-t-md">
<h4 class="table-title">JOB HISTORY</h4>	
<table class="table table-striped m-t-md">
	<thead>
		<tr>
			<th>Started At</th>
			<th>Status</th>
			<th>Loader Name</th>
			<th>Duration</th>
			
			<th colspan="2"><i data-toggle="tooltip" 
				data-title="Total input rows" 
				class="fa fa-question-circle" ></i> Rows Processed</th>
			
			
		</tr>	
	</thead>
	<tbody>
		<% @jobs.each do |job| %>					
			<tr id="job_<%= job.id %>">	
				<%= render 'stat', job: job %>	
			</tr>	
		<% end %>
	</tbody>

</table>

<div class="m-y-md">
<%= will_paginate @jobs, {"data-scroll" => true} %>
<% if @jobs.length > 9 %>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right custom-select", style: "width:70px",
	       :onchange => "if(this.value){Turbolinks.visit('?per_page='+this.value);}" %>
<% end %>

</div>

</div>



<%= render 'shared/error_modal' %>

<div class="modal fade" id="stats-modal" tabindex="-1" role="dialog" aria-labelledby="statsModelLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      
      
    </div>
  </div>
</div>



<script id="_job_stats" type="text/x-handlebars-template">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="errorModalLabel">{{ loader_name }}</h4>
    </div>
    <div class="modal-body p-a-md statcard-info">      
    
	<div class="row">
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{ started_at }}</h5>
			  <span class="statcard-desc">Started At</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{ finished_at }}</h5>
			  <span class="statcard-desc">Finished At</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale duration }}</h4>
			  <span class="statcard-desc" >Duration (SECS)</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale input_rows }}</h4>
			  <span class="statcard-desc" >Rows Processed</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale total_rows_loaded }}
			  <small class="delta-indicator delta-positive">{{ percent_loaded }}</small>
			  </h4>
			  <span class="statcard-desc">Rows Loaded</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale total_failed_rows }}
			  <small class="delta-indicator delta-positive">{{ percent_failed }}</small>
			  </h4>
			  <span class="statcard-desc">Rows Failed</span>
			</div>
		</div>			
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale inserted_rows }}
			  <small class="delta-indicator delta-positive">{{ percent_inserted}}</small>
			  </h4>
			  <span class="statcard-desc" >Rows Inserted</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale updated_rows }}
			  <small class="delta-indicator delta-positive">{{ percent_updated }}</small>
			  </h4>
			  <span class="statcard-desc">Rows Updated</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{numberToLocale rows_per_second }}</h5>
			  <span class="statcard-desc">Rows Per Second</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="statcard p-a">
			  <h4 class="statcard-number">{{sizeToHuman bytes_per_second}}</h5>
			  <span class="statcard-desc">KB Per Second</span>
			</div>
		</div>
	</div>
	
	</div> <!-- end body -->
    <div class="modal-footer">
	  <label class="text-muted pull-left"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;{{ info }}</label>
      <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Close</button>
    </div>
</script>