<% @jobs.each do |job| %>
	$("#job_<%= job.id %>").html(
		"<%=raw escape_javascript(render 'stat', job: job)%>"
	);
<% end %>

for(var i=0;i<lodr.dash.exec_stats_chart.series.length;i++){
	var ser = lodr.dash.exec_stats_chart.series[i];
	if(ser.name.toLowerCase() == "failed"){
		ser.update({data: [<%= @stats["failed_jobs"] %>]});
	}else if(ser.name.toLowerCase() == "succeeded"){
		ser.update({data: [<%= @stats["succeeded_jobs"] %>]});
	}else if(ser.name.toLowerCase() == "cancelled"){
		ser.update({data: [<%= @stats["cancelled_jobs"] %>]});
	}else if(ser.name.toLowerCase() == "running"){
		ser.update({data: [<%= @stats["running_jobs"] %>]});
	}
} 