<div class="ctr max-400 m-x-auto p-a shadow bordered-radiused m-t">

<div class="">
<p class="text-muted">Sign up for a new account. <%= link_to ("Sign Up #{fa_icon('angle-double-right')}").html_safe, new_registration_path(resource_name) %></p>	
<h3 class="text-info">Resend Confirmation Instructions</h3>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email , class: "hidden"%><br />
    <%= f.email_field :email, autofocus: true, 
		value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
		class: "form-control", placeholder: "Enter your email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend Confirmation Instructions" , class: "w-full btn btn-info" %>
  </div>
<% end %>

</div>

<div class="max-400 m-x-auto p-y-md">
<p class="text-muted">Already have an account? <%= link_to ("Log In #{fa_icon('angle-double-right')}").html_safe, new_session_path(resource_name) %></p>
<%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>
