<div class="row">
	<div class="col-md-5">
		<div class="row">
			<div class="col-sm-3 text-center icon-ctr checkbox-inline">
				<%= check_box_tag 'source_file_ids[]', file.id, false, class: "input-lg"%>	 
				  <% if file.loadable_type == "S3Bucket" %>
				  	<%= image_tag 'aws-S3-file-icon.png', class: "img-responsive file-icon", title: "S3 File" %>
				  <% elsif file.file_type == "excel" %> 
				  	<i class="fa fa-file-excel-o fa-3x" aria-hidden="true"></i>
				  <% else %>
				  	<i class="fa fa-file-o fa-3x" aria-hidden="true" title="User uploaded file"></i>
				  <% end %>						  
			</div>
			<div class="col-sm-9">
				<h4 class="title"><%= link_to file.clean_name, source_path(file) %></h4>
				<p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> 
					<%= file.loadable.nil? ? "uploaded" : "added" %> 
					
					<%= time_ago_in_words(file.uploaded_at) %> ago</p>
						
				<div class="file-status">
					<% if file.pre_processing? %>
						<span class="label label-info <%= file.status %>" 
							data-file-id="<%= file.id %>" data-toggle="tooltip" 
							data-title="Analyzing file encoding, delimeter, quote char, and a light preview of the data." 
							data-placement="top" >Pre Processing</span>&nbsp;<i class="fa fa-spinner fa-spin"></i>
					<% elsif file.profiling? %>
						<span class="label label-warning <%= file.status %>"
							data-file-id="<%= file.id %>" data-toggle="tooltip" 
							data-title="Detecting column data types and building a larger file preview." 
							data-placement="top" >Profiling</span>&nbsp;<i class="fa fa-spinner fa-spin"></i>
					<% elsif file.ready? %>
						<span class="label label-success <%= file.status %>"
							data-file-id="<%= file.id %>" data-toggle="tooltip" 
							data-title="Data is profiled and ready to be used in a load job." 
							data-placement="top" >Ready</span>
					<% elsif file.failed? %>
						<span class="label label-danger <%= file.status %>"
							data-file-id="<%= file.id %>" data-toggle="tooltip" 
							data-title="<%= file.processing_errors %>" 
							data-placement="top" >Failed  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
					<% else %>
						<span class="label label-primary <%= file.status %>"
							data-file-id="<%= file.id %>" data-toggle="tooltip" 
							data-title="This file has been uploaded to a target database in the past." 
							data-placement="top" ><%= file.status.titleize %> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
					<% end %>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="col-md-2 titled-label">
		<label class="label" >FILE SIZE</label>
		<h4><%= number_to_human_size(file.size) %></h4>
	</div>
	
	<div class="col-md-1 titled-label">
		<label class="label" >COLUMNS</label>
		<h4><%= file.columns %> </h4>
	</div>
	
	<div class="col-md-2 titled-label">
		<label class="label" >ROWS</label>
		<h4><%= number_to_human(file.rows, significant: false, precision: 1) %></h4>
	</div>
	
	<div class="col-md-2 text-center">
		<div class="btn-group-vertical btn-group-sm" role="group" aria-label="...">
			<%= link_to(source_path(file), class: "btn btn-default") do  %>
					<i class="fa fa-eye" aria-hidden="true"></i> View
			<% end %>
			<%= link_to(loader_load_source_path(file), class: "btn btn-default") do  %>
					<i class="fa fa-upload" aria-hidden="true"></i> Load
			<% end %>
			
			<%= link_to(source_path(file), class: "btn btn-default",
				data: {confirm: "Are you sure you want to delete this file?"}, method: :delete) do  %>
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
			<% end %>
		</div>				
		
	</div>	
</div>

<% if file.loadable_type == "S3Bucket" %>
<div class="row">
	<div class="col-sm-offset-1">
		<p class="text-muted p-l"><i class="fa fa-key" aria-hidden="true"></i>
			key: <%= file.name %>
		</p>	
	</div>
</div>
<% end %>