	<% jheaders = @file.parsed_headers %>
	<% sample = (@file.sample ? JSON.parse(@file.sample.sample) : []) %>
	
	<div class="lodr-pretty-table m-t-md over-x-a">
	<h4> <%= @file.name %> </h4>
	<span class="help-block m-b">First 20 rows</span>
	<table class="table table-striped" id="wrangle-content">
		<thead>
			<tr>
				<% if @file.ready? %>
					<% jheaders.each do |hd| %>
						<% if hd.has_key? "columnName" %>
							<th><%= hd["columnName"] %></th>
						<% else %>
							<th><%= hd["name"] %></th>
						<% end %>						
					<% end %>
				<% else %>
					<% jheaders.each do |hd| %>
						<% if hd.class == Hash %>
							<th><%= hd["columnName"] %></th>
						<% else %>
							<th><%= hd.strip! || hd %></th>
						<% end %>
					<% end %>
				<% end %>				
			</th>	
		</thead>
		<tbody>
			<% sample.each_with_index do |row,i| %>
				<% break if i > 20 %>
				<tr>
						<% row.each do |col| %>
							<td><%= col %></td>
						<% end %>
				</tr>	
			<% end %>
		</tbody>
	</table>
	
	</div>