<% if @zips.size > 0 %>
<div id="zips-status-content" class="alert alert-warning" style="z-index:9">
	<div class="row">
		<div class="col-xs-1 p-x">
			<%= fa_icon("info-circle","","fa-3x")%>
		</div>
		
		<div class="col-xs-11">
			<h4>Zip Files</h4>
			
			<% if @zips.select(&:unzipping?).count > 0 %>
				<p>Some of your source files are currently being unzipped.  Unzipping can take a while depending how many files are in the zip and how large the files are.  We will send you an email when the unzip is completed.</p>			
			<% else %>	
				<p>We completed the unzip process on the files listed below.  You can now load files that were successfully unzipped.  Click Dismiss below to remove this notice.</p>
			<% end %>
			
			
			<ul>
				<% @zips.each do |z| %>
					<li><%= z.name %>, <%= number_to_human_size z.size %>
						<% if z.failed? %>
							<span class="label label-danger m-l">Failed</span>
							<% if z.failed_reason %>
								<span class="m-l text-danger"> 
									<%= z.failed_reason %>
								</span>
							<% end %>									
						<% elsif z.unzipping? %>
							<span class="label label-warning unzipping">
								Unzipping <%= fa_icon("spinner","", "fa-spin") %>
							</span>
						<% else %>
							<span class="label label-success m-l">Succeeded</span>
						<% end %>
					</li>
				<% end %>
			</ul>
			
			<% if @zips.select(&:unzipping?).count == 0 %>
				<%= link_to "Dismiss Notice", dismiss_zips_sources_path, class: "btn btn-warning btn-sm m-y" %>
			<% end %>
		</div>
	</div>
</div>
<% end %>