<%= form_for(@file, url: source_path(@file)) do |f| %>	

	<% if @file.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
	      Please fix <%= pluralize(@file.errors.count, "error") %>
		  <ul>
		      <% @file.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		  </ul>
	  </div>
	<% end %>

<div class="row">	

<div class="col-md-6">
	<div class="titled-label">
		<label>FILE NAME</label>
		<h1 class="title"><%= @file.clean_name %>
		</h1>
	</div>
	
	<% if @file.is_s3? %>
		<p class="text-muted">
			<i class="fa fa-folder"></i> Bucket: <%= @file.loadable.bucket_name %>
		</p>
		<p class="text-muted">
			<i class="fa fa-key"></i> Key: <%= @file.name %>
		</p>
	<% end %>
	
	<div style="max-width:350px">
		<%= f.label :sample_size, "Sample Size", class: "text-muted" %>
		<%= f.number_field :sample_size, class: "form-control", placeholder: "Sample Size" %>
		<span id="helpBlock" class="help-block">This is the number of rows sampled from the original file. We recommed you keep this below 2000.</span>
	</div>
	
    <div class="checkbox">
      <label>
        
	  <%= f.check_box :includes_header %>
	  Includes Header Row
      </label>
	<span class="help-block">Checked if the first row of the file includes column names</span>
    </div>
	
	<%= f.submit "Update File Settings", class: "btn btn-danger btn-sm"%>
	
	<%= link_to "Cancel", source_path(@file),class: "btn btn-primary btn-sm"%>
</div>

<div class="col-md-3">
	<div class="titled-label">
		<label class="label">DELIMITER</label>
		<%= f.text_field :delimiter, class: "form-control" %>
	</div>
	<div class="titled-label">
		<label class="label">QUOTE</label>
		<%= f.text_field :quote_char, class: "form-control" %>
	</div>
	<div class="titled-label">
		<label class="label">ENCODING</label>
		<%= f.select :encoding, SourceFile::ENCODINGS, {}, { class: "form-control" } %>
		
	</div>
</div>

<div class="col-md-3">
	<div class="titled-label">
		<label class="label">ROWS</label>
		<h4>
			<%= number_to_human @file.rows %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">SIZE</label>
		<h4>
			<%= number_to_human_size @file.size %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">COLUMNS</label>
		<h4>
			<%= @file.columns %> 
		</h4>
	</div>
</div>

</div>

<% end %>

<hr />
<div class="sample-area">
	<h5>First 20 Rows</h5>
	<%= render 'sample' %>
</div>