<h1 class="page-title">Source Files</h1>

<div id="zips-status">
<%= render 'zips' %>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="btn-toolbar">
			<a class="btn btn-default check-all" data-checked="false" data-check-all-target=".check-enable"> <i class="fa fa-square-o fa-1x" aria-hidden="true"></i></a>
			<%= link_to fa_icon("cloud-upload", "Upload Files"), upload_sources_path, class: "btn btn-sm btn-primary-outline", data: {turbolinks: false} %>
	
			<%= link_to fa_icon("trash","Delete Selected"), "#", 
				class: "btn btn-sm btn-danger-outline hidden check-enable" ,
				data: {"check-all-form" => "#destroy_sources" } %>
	
	
			<%= link_to en_icon("bucket", "Add S3 File"), s3_buckets_path, class: "btn btn-sm btn-warning-outline" %>
		</div>
	</div>
	<div class="col-sm-6 text-right">
		<%= form_tag(sources_path, method: "get", class: "form-inline") do %>
		<div class="form-group">
		  <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "search sources") %>
		</div>
		  <%= submit_tag "Search", class: "btn btn-sm btn-default-outline" %>
		<% end %>
	</div>
</div>



<br />

<%= form_tag delete_sources_path, id: "destroy_sources", method: :delete do %>
<% end %>

<%= form_tag "", id: "main-check-all-form" do %>

<div class="lodr-table list-group">
	
	<% if @files.count ==0 %>
		<% if params[:search].blank? %>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/58KreJ-p7AI" frameborder="0" allowfullscreen></iframe>
			</div>
		<% else %>
			<div class="alert p-a-lg alert-warning">
				<i class="fa fa-exclamation-triangle"></i>
				<strong>Oh oh,</strong> we could not find any file with a name containing <strong><%= params[:search] %></strong>
			</div>
		<% end %>
	<% end %>
	
	<% @files.each do |f| %>
		<div class="list-group-item input-file" id="input_file_<%= f.id %>" data-file-id="<%= f.id %>">
			<%= render partial: "file", locals: {file: f} %>
		</div>
	<% end %>
</div>

<% end %>

<%= will_paginate @files %>

<% if @files.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>
