<div class="row">
	
<div class="col-md-6">
	<div class="titled-label">
		<label>FILE NAME</label>
		<h1 class="title"><%= @file.clean_name %> </h1>
		<div class="btn-toolbar m-b">
			<%= link_to(edit_source_path(@file), class: "btn btn-info btn-xs") do %>
				<i class="fa fa-pencil" aria-hidden="true"></i> Edit
			<% end %>
			
			<%= link_to(loader_load_source_path(@file), class: "btn btn-warning btn-xs", title: "Load as table into database") do %>
				<i class="fa fa-upload" aria-hidden="true"></i> Load
			<% end %>
			
			<%= link_to(source_path(@file), class: "btn btn-danger btn-xs",
				data: {confirm: "Are you sure you want to delete this file?"}, method: :delete) do  %>
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
			<% end %>
		</div>
	</div>
	
	<% if @file.is_s3? %>
		<p class="text-muted">
			<i class="fa fa-folder"></i> Bucket: <%= @file.loadable.bucket_name %>
		</p>
		<p class="text-muted">
			<i class="fa fa-key"></i> Key: <%= @file.name %>
		</p>
	<% end %>	
	
	<p class="text-muted"><i class="fa fa-clock-o"></i> 
		<%= @file.loadable.nil? ? "uploaded" : "added" %> 
		
		<%= time_ago_in_words(@file.uploaded_at) %> ago</p>
	<div class="file-status">
		<% if @file.pre_processing? %>
			<span class="label label-info <%= @file.status %>" 
				data-file-id="<%= @file.id %>" data-toggle="tooltip" 
				data-title="Analyzing file encoding, delimeter, quote char, and a light preview of the data." 
				data-placement="top" >Pre Processing</span>
		<% elsif @file.profiling? %>
			<span class="label label-warning <%= @file.status %>"
				data-file-id="<%= @file.id %>" data-toggle="tooltip" 
				data-title="Detecting column data types and building a larger file preview." 
				data-placement="top" >Profiling</span>
		<% elsif @file.ready? %>
			<span class="label label-success <%= @file.status %>"
				data-file-id="<%= @file.id %>" data-toggle="tooltip" 
				data-title="Data is profiled and ready to be used in a load job." 
				data-placement="top" >Ready</span>
		<% elsif @file.failed? %>
			<span class="label label-danger <%= @file.status %>"
				data-file-id="<%= @file.id %>" data-toggle="tooltip" 
				data-title="<%= @file.processing_errors %>" 
				data-placement="top" >Failed  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
		<% else %>
			<span class="label label-default <%= @file.status %>"
				data-file-id="<%= @file.id %>" data-toggle="tooltip" 
				data-title="This file has been uploaded to a target database in the past." 
				data-placement="top" ><%= @file.status.titleize %> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
		<% end %>
	</div>
	
</div>

<div class="col-md-3">
	<div class="titled-label">
		<label class="label">DELIMITER</label>
		<h4>
			<%= @file.delimiter %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">QUOTE</label>
		<h4>
			<%= @file.quote_char %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">ENCODING</label>
		<h4>
			<%= @file.encoding %> 
		</h4>
	</div>
</div>


<div class="col-md-3">
	<div class="titled-label">
		<label class="label">ROWS</label>
		<h4>
			<%= number_to_human @file.rows %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">SIZE</label>
		<h4>
			<%= number_to_human_size @file.size %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">COLUMNS</label>
		<h4>
			<%= @file.columns %> 
		</h4>
	</div>
</div>


</div>

<% if @file.errors.any? || @file.processing_errors %>
<br />
<div class="alert alert-danger">	  
  <div><p><i class="fa fa-exclamation-triangle fa-2x" ></i> This source has 
	  <span class="label label-danger"><%= @file.errors.count %></span> <%= @file.errors.count > 1 ? "errors" : "error" %> that needs to be fixed: </p></div>
  <ul>
      <% @file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </ul>
</div>
<% end %>

<br />
<div class="sample-area">
	<h5>First 20 Rows</h5>
	<%= render 'sample' %>
</div>