<div class="row">
	<div class="col-xs-8">
		<h1 class="page-title"><%= fa_icon('cloud-upload') %>Upload Files</h1>
	</div>
	<div class="col-xs-4 text-right">
		<%= link_to "Done", sources_path, class: "btn btn-default-outline m-t-md"%>
	</div>
</div>        

<div class="block text-center upload-drop-zone" id="drop-zone" data-file-types="<%= SourceFile::UPLOADABLE_FILE_TYPES %>">

			<%= form_tag('/upload', class: 'direct-upload',
							multipart: true,
							data: { 'form-data' => (@s3_direct_post.fields), 
							'url' => @s3_direct_post.url,
							'host' => URI.parse(@s3_direct_post.url).host } ) do |f| %>
						
			<h1 class="block-title">Drag and Drop Files Here</h1>
		    <h4 class="text-muted">Accepted file types: <%= SourceFile::UPLOADABLE_FILE_TYPES.join(", ") %></h4>	
            <div class="form-inline m-t">
              <div class="form-group">											
				<label class="btn btn-lg btn-primary-outline btn-file">
				    <%= fa_icon('folder-open') %> Browse Files
						<input type="file" style="display: none;" name="files[]" id="js-upload-files" multiple>
				</label>
              </div>
            </div>
		
			<% end %>
</div>


<div class="file-upload-status">
<!-- Progress Bar -->	
<div class="overall-progress">
	<h4>Overall Progress</h4>					
	<div class="overall progress">
	  <div class="progress-bar" role="progressbar" 
			aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
	    0%
	  </div>
	</div>
</div>

<!-- Upload Status -->

<h4>File Status</h4>
<table class="file-status table table-striped">
	<thead>
		<tr><th>File Name</th> <th>File Size</th><th colspan="2">Status</th></tr>
	</thead>
	<tbody>

	</tbody>
</table>          
		
		
<script id="_fileItem" type="text/x-handlebars-template">
	<tr data-file-name="{{ name }}">
		<td>{{ name }}</td>
		<td>{{normalizeSize size}}
			<td> 
				<div class="progress">
					<div class="progress-bar" role="progressbar" 
													aria-valuenow="0" aria-valuemin="0" 
													aria-valuemax="100" style="min-width: 2em;">
										    		0%
					</div>
				</div>
			</td>
		<td> 
			{{#if error}}
				<span class="badge alert-danger pull-right">{{ error }}</span>
			{{ else }}
				<span class="badge alert-info pull-right">Uploading...</span>
			{{/if }}
		</td>
</script>