<h2 class="page-title">Databases</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>User</th>
		<th>Name</th>
		<th>Test Status</th>
		<th>Test Error</th>
		<th>Schema Status</th>
		<th>Schema Error</th>
	</tr>
	</thead>
	<tbody>
		<% @databases.each do |x| %>
			<tr>
				<td><%= link_to x.user_id, admin_path(x.user_id)  %></td>
				<td><%= x.name %></td>
				<td><%= x.test_connection_status%></td>
				<td>
					<% if x.test_error %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.test_error %>">
						<%= x.test_error[0..10]+"..." %>
					</a>
					<% end %>					
				</td>
				<td><%= x.schema_status %></td>
				<td>
					<% if x.schema_error %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.schema_error %>">
						<%= x.schema_error[0..10]+"..." %>
					</a>
					<% end %>					
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'shared/error_modal'%>

<%= will_paginate @databases %>

<% if @databases.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>