<h2 class="title">Users</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>ID</th>
		<th>Last Sign In At</th>
		<th>Email</th>
		<th>Full Name</th>
		<th>Company</th>
		<th>Last IP</th>
		<th>Plan</th>
		<th>Rows Processed</th>
		<th>Queries Ran</th>
		<th>Period Start</th>
		<th>Period End</th>
		</tr>		
	</thead>
	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td><%= link_to u.id, admin_path(u) %></td>
				<td><%= u.current_sign_in_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless u.current_sign_in_at.nil? %></td>
				<td><%= u.email %></td>
				<td><%= u.full_name %></td>
				<td><%= u.company %></td>
				<td><%= u.last_sign_in_ip %></td>
				<td><%= u.subscription.plan.name %></td>
				<td><%= u.subscription.rows_processed %></td>
				<td><%= u.subscription.queries_run %></td>
				<td><%= u.subscription.current_period_starts_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless u.subscription.current_period_starts_at.nil? %></td>
				<td><%= u.subscription.current_period_ends_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless u.subscription.current_period_starts_at.nil? %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @users %>

<% if @users.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>