<h2 class="title">Load Jobs</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Started At</th>
		<th>Status</th>
		<th>Loader</th>
		<th>Job ID</th>
		<th>Rows Processed</th>
		<th>Duration</th>
		<th>User</th>
		<th> </th>
		<th>Error</th>
	</tr>
	</thead>
	<tbody>
		<% @load_jobs.each do |x| %>
			<tr>
				<td><%= x.started_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless x.started_at.nil? %></td>
				<td><%= x.status %></td>
				<td><%= x.loader_name[0..75] %></td>
				<td><%= x.job_id %></td>
				<td><%= x.input_rows %></td>
				<td><%= x.duration %></td>
				<td><%= link_to x.user_id, admin_path(x.user_id)  %></td>
				<td><%= link_to "Cancel", admin_cancel_path(x.loader_id), data: {confirm: "Are you sure?"}, method: :delete if x.is_running? %></td>
				<td>
					<% if x.execution_errors %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.execution_errors %>">
						<%= x.execution_errors[0..10]+"..." %>
					</a>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>


<%= render 'shared/error_modal'%>

<%= will_paginate @load_jobs %>

<% if @load_jobs.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>