<h2 class="title">Queries</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Started At</th>
		<th>Job ID</th>
		<th>User ID</th>
		<th>Status</th>
		<th>SQL</th>
		<th> </th>
		<th>Error</th>
	</tr>
	</thead>
	<tbody>
		<% @queries.each do |x| %>
			<tr>
				<td><%= x.started_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless x.started_at.nil? %></td>
				<td><%= x.id %></td>
				<td><%= link_to x.user_id, admin_path(x.user_id) %></td>
				<td><%= x.status %></td>
				<td><%= x.sql[0..75] %></td>
				<td> </td>
				<td>
					<% if x.query_error %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.query_error %>">
						<%= x.query_error[0..10]+"..." %>
					</a>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'shared/error_modal'%>

<%= will_paginate @queries %>

<% if @queries.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>