<h2 class="title">User Stats</h2>
<div class"row">
	<div class="col-xs-6">
		<li>ID: <%= @user.id %></li>
		<li>Last Sign In At: <%= @user.current_sign_in_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') %></li>
		<li>Email: <%= @user.email %></li>
		<li>Full Name: <%= @user.full_name %></li>
		<li>Company: <%= @user.company %></li>
		<li>Last IP: <%= @user.last_sign_in_ip %></li>
	</div>
	<div class="col-xs-6">
		<li>Plan: <%= @user.subscription.plan.name %></li>
		<li>Rows Processed: <%= @user.subscription.rows_processed %></li>
		<li>Queries Ran: <%= @user.subscription.queries_run %></li>
		<li>Period Start: <%= @user.subscription.current_period_starts_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless @user.subscription.current_period_starts_at.nil? %></li>
		<li>Period End: <%= @user.subscription.current_period_ends_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless @user.subscription.current_period_starts_at.nil? %></li>
		<li>Reset At: <%= @user.subscription.reset_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless @user.subscription.reset_at.nil? %></li>
	</div>
</div>	

<p class="m-b-md">&nbsp;</p>

<h2 class="title m-t-lg">Load Jobs</h2>
<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Started At</th>
		<th>Status</th>
		<th>Loader</th>
		<th>Job ID</th>
		<th>Rows Processed</th>
		<th>Duration</th>
		<th>User</th>
		<th> </th>
		<th>Error</th>
	</tr>
	</thead>
	<tbody>
		<% @user.load_jobs.order(updated_at: :desc).limit(10).each do |x| %>
			<tr>
				<td><%= x.started_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless x.started_at.nil? %></td>
				<td><%= x.status %></td>
				<td><%= x.loader_name[0..75] %></td>
				<td><%= x.job_id %></td>
				<td><%= x.input_rows %></td>
				<td><%= x.duration %></td>
				<td><%= x.user_id %></td>
				<td><%= link_to "Cancel", admin_cancel_path(x.loader_id), data: {confirm: "Are you sure?"}, method: :delete if x.is_running? %></td>
				<td>
					<% if x.execution_errors %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.execution_errors %>">
						<%= x.execution_errors[0..10]+"..." %>
					</a>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 class="title">Queries</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Started At</th>
		<th>Job ID</th>
		<th>User ID</th>
		<th>Status</th>
		<th>SQL</th>
		<th> </th>
		<th>Error</th>
	</tr>
	</thead>
	<tbody>
		<% @user.queries.order(updated_at: :desc).limit(10).each do |x| %>
			<tr>
				<td><%= x.started_at.in_time_zone('EST').strftime('%Y-%m-%d %I:%M:%S') unless x.started_at.nil? %></td>
				<td><%= x.id %></td>
				<td><%= x.user_id %></td>
				<td><%= x.status %></td>
				<td><%= x.sql[0..75] %></td>
				<td> </td>
				<td>
					<% if x.query_error %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.query_error %>">
						<%= x.query_error[0..10]+"..." %>
					</a>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 class="title">Loaders</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Updated At</th>
		<th>Name</th>
		<th>Step</th>
		<th>Active</th>
		<th>Mode</th>
		<th>Transforms</th>
		<th>User</th>
	</tr>
	</thead>
	<tbody>
		<% @user.loaders.order(updated_at: :desc).limit(10).each do |x| %>
			<tr>
				<td><%= x.updated_at %></td>
				<td><%= x.name %></td>
				<td><%= x.step %></td>
				<td><%= x.active %></td>
				<td><%= x.update_mode %></td>
				<td><%= JSON.parse(x.transformations).size unless x.transformations.blank? %></td>
				<td><%= x.user_id %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 class="title">Databases</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>User</th>
		<th>Name</th>
		<th>Test Status</th>
		<th>Test Error</th>
		<th>Schema Status</th>
		<th>Schema Error</th>
	</tr>
	</thead>
	<tbody>
		<% @user.databases.each do |x| %>
			<tr>
				<td><%= x.user_id %></td>
				<td><%= x.name %></td>
				<td><%= x.test_connection_status%></td>
				<td>
					<% if x.test_error %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.test_error %>">
						<%= x.test_error[0..10]+"..." %>
					</a>
					<% end %>					
				</td>
				<td><%= x.schema_status %></td>
				<td>
					<% if x.schema_error %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.schema_error %>">
						<%= x.schema_error[0..10]+"..." %>
					</a>
					<% end %>					
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<h2 class="title">Sources</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Updated At</th>
		<th>Name</th>
		<th>Status</th>
		<th>Size</th>
		<th>Errors</th>
		<th>User</th>
		<th>Bucket</th>
	</tr>
	</thead>
	<tbody>
		<% @user.source_files.order(updated_at: :desc).limit(10).each do |x| %>
			<tr>
				<td><%= x.updated_at %></td>
				<td><%= x.name %></td>
				<td><%= x.status %></td>
				<td><%= number_to_human_size x.size %></td>
				<td>
					<% if x.processing_errors %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.processing_errors %>">
						<%= x.processing_errors[0..10]+"..." %>
					</a>
					<% end %>
				</td>
				<td><%= x.user_id %></td>
				<td><%= x.loadable.bucket_name if x.loadable %></td>
				
			</tr>
		<% end %>
	</tbody>
</table>


<%= render 'shared/error_modal'%>

