<h2 class="title">Sources</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Updated At</th>
		<th>Name</th>
		<th>Status</th>
		<th>Size</th>
		<th>Errors</th>
		<th>User</th>
		<th>Bucket</th>
	</tr>
	</thead>
	<tbody>
		<% @sources.each do |x| %>
			<tr>
				<td><%= x.updated_at %></td>
				<td><%= x.name %></td>
				<td><%= x.status %></td>
				<td><%= number_to_human_size x.size %></td>
				<td>
					<% if x.processing_errors %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= x.processing_errors %>">
						<%= x.processing_errors[0..10]+"..." %>
					</a>
					<% end %>
				</td>
				<td><%= link_to x.user_id, admin_path(x.user_id) %></td>
				<td><%= x.loadable.bucket_name if x.loadable %></td>
				
			</tr>
		<% end %>
	</tbody>
</table>

<%= render 'shared/error_modal'%>

<%= will_paginate @sources %>

<% if @sources.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>