<h2 class="title">Zips</h2>

<table class="admin table table-condensed table-striped">
	<thead>
		<tr>
		<th>Updated At</th>
		<th>Name</th>
		<th>Status</th>
		<th>Size</th>
		<th>Error</th>
		<th>User</th>
		<th> </th>
	</tr>
	</thead>
	<tbody>
		<% @zips.each do |x| %>
			<tr>
				<td><%= x.updated_at %></td>
				<td><%= x.name %></td>
				<td><%= x.status %></td>
				<td><%= number_to_human_size x.size %></td>
				<td><%= x.failed_reason[0..75] if x.failed_reason %></td>
				<td><%= link_to x.user_id, admin_path(x.user_id) %></td>
				<td><%= link_to("Cancel", admin_cancel_unzip_path(x.id), method: :delete) if x.unzipping? %> </td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @zips %>

<% if @zips.size > 0%>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>