<div class="ctr max-500 m-x-auto p-a shadow bordered-radiused m-t">

<div class="">
<p class="text-info"><%= link_to ("Back to My Account #{fa_icon('angle-double-right')}").html_safe, account_path %></p>		
<h3 class="text-info"><%= image_tag('favicon/favicon-32x32.png') %> &nbsp;Edit Your Account</h3>
</div>

<%=form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <% if resource.first_name.strip == "__missing__" %>
  	<% resource.first_name = "" %>
	<% resource.last_name = "" %>
	
	<div class="alert alert-warning">
		You must complete your profile and reset the temporary password before proceeding...
	</div>
  <% end %>
  	
  <div class="field form-group">
    <%= f.label :email, class: "hidden" %><br />
    <%= f.email_field :email, class:"form-control", autofocus: true, placeholder: "Enter email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="field form-group">
    <%= f.label :first_name, class: "hidden" %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
  </div>
	
  <div class="field form-group">
    <%= f.label :last_name, class: "hidden" %>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :company, class: "hidden" %>
    <%= f.text_field :company, class: "form-control", placeholder: "Company" %>
  </div>

  <div class="field form-group">
    <%= f.label :password, class: "hidden" %> 
	<small><span class="help-block">Leave blank if you don't want to change it</span></small>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter password or leave blank" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: "hidden" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password if you're changing it"%>
  </div>

	<br />

  <div class="actions form-group">
    <%= f.submit "Update", class: "btn btn btn-info w-full" %>
  </div>
<% end %>

</div>

