<div class="ctr max-400 m-x-auto p-a shadow bordered-radiused m-t">

<div class="p-b">
<p class="text-info">Already have an account?  <%= link_to ("Log In #{fa_icon('angle-double-right')}").html_safe, new_session_path(resource_name) %></p>	
<h3 class="text-info"><%= image_tag('favicon/favicon-32x32.png') %> &nbsp;Join Lodr Today!</h3>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	
  <div class="field form-group">
    <%= f.label :first_name, class: "hidden" %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "First Name" %>
  </div>
	
  <div class="field form-group">
    <%= f.label :last_name, class: "hidden" %>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
  </div>
	
  <div class="field form-group">
    <%= f.label :company, class: "hidden" %>
    <%= f.text_field :company, class: "form-control", placeholder: "Company" %>
  </div>
	
  <div class="field form-group">
    <%= f.label :email, class: "hidden" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="field form-group">
    <%= f.label :password, class: "hidden" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: "hidden" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Sign Up", class: "btn btn btn-info w-full" %>
  </div>
<% end %>

</div>

<%= render "devise/shared/links" %>

