<div class="big-form-container">
	
	<% if @bucket.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
	      Please fix <%= pluralize(@bucket.errors.count, "error") %>
		  <ul>
		      <% @bucket.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		  </ul>
	  </div>
	<% end %>
	
	<%= form_for @bucket,  html: { class: "form-horizontal"} do |f| %>
	   	 <div class="form-group">
	   	 	   <%= f.label :access_id, "S3 Access ID", class: "col-sm-3 control-label" %>
	   	      	<div class="col-sm-9">
	   				<%= f.text_field :access_id, class: "form-control" %>
	   	    	</div>	     	  
	   	 </div>
		 
	   	 <div class="form-group">
	   	 	   <%= f.label :access_key, "S3 Access Key", class: "col-sm-3 control-label" %>
	   	      	<div class="col-sm-9">
	   				<%= f.password_field :access_key, class: "form-control", autocomplete: "off", placeholder: "access key" %>	
					<% unless @bucket.new_record? %>
						<p class="help-block">Leave blank unless you are changing the access key</p>
					<% end %>   	  
	   	    	</div>
				
	   	 </div>
		 
	   	 <div class="form-group">
	   	 	   <%= f.label :region, "Region", class: "col-sm-3 control-label" %>
	   	      	<div class="col-sm-9">
					<%= f.select :region, S3Bucket::REGIONS, {prompt: "Choose a Region"}, { class: "form-control" } %>
	   				
	   	    	</div>	     	  
	   	 </div>
		 
	   	 <div class="form-group">
	   	 	   <%= f.label :bucket_name, "Bucket Name", class: "col-sm-3 control-label" %>
	   	      	<div class="col-sm-9">
					<%= f.text_field :bucket_name, class: "form-control" %>	   				
	   	    	</div>	     	  
	   	 </div>
		 
		 <div class="btn-toolbar pull-right">
			 <%= link_to "Cancel", sources_path, class: "btn btn-default"%>
			 <%= f.submit "Save", class: "btn btn-primary"%>
		 </div>
	<% end %>
	
</div>