<div class="max-500 m-x-auto">

<h1 class="page-title">S3 Buckets</h1>

<div class="list-group">
  
  <a href="<%= new_s3_bucket_url %>" class="list-group-item list-group-item-warning">
	  <h4>
  	<span class="glyphicon glyphicon-plus-sign text-success" aria-hidden="true"></span> 
	<span class="text-muted">Add New Bucket</span></h4>
	<p class="help-block">Configure a new bucket from which new files can be loaded</p>
  </a>
  
  
  <% @buckets.each do |b| %>
  	
  <div class="list-group-item ">
	
	<div class="row">
	  	
		<div class="titled-label col-sm-5">  
		    <label class="label">		
	  		BUCKET NAME
		  	</label>
		  	<h4><%= link_to b.bucket_name, s3_bucket_path(b) %></h4>
	  	</div>
		
		<div class="titled-label col-sm-2">  
		    <label class="label">		
	  		ACCESS ID
		  	</label>
		  	<h6><%= "*****" + b.access_id.split(//).last(5).join("").to_s %></h6>
	  	</div>
		
		<div class="titled-label col-sm-3">  
		    <label class="label">		
	  		REGION
		  	</label>
		  	<h6><%= b.region %></h6>
		</div>
		
		<div class="titled-label col-sm-2">
		    <label class="label">		
	  		ACTIONS
		  	</label>
			<div class="btn-group">
			<%= link_to(edit_s3_bucket_path(b), {class: "btn btn-xs btn-info"}) do  %>
				<i class="fa fa-pencil" aria-hidden="true"></i>
			<% end %>
			<%= link_to(s3_bucket_path(b), { method: :delete, 
				data: {confirm: "Are you sure?"},
				class: "btn btn-xs btn-danger" }) do  %>
				<i class="fa fa-trash" aria-hidden="true"></i>
			<% end %>
			</div>
		</div>	
	  	
	</div>
  </div>
  
  <% end %>
  
</div>

</div>