<div class="row">
	<div class="col-sm-6">
		<div class="titled-label">
			<label>BUCKET NAME</label>
			<h1 class="title"><%= @bucket.bucket_name %> <br />
				<%= link_to(edit_s3_bucket_path(@bucket), class: "btn btn-info btn-xs") do %>
					<i class="fa fa-pencil" aria-hidden="true"></i> Edit
				<% end %>
				<%= link_to(s3_bucket_path(@bucket), { method: :delete, 
					data: {confirm: "Are you sure?"},
					class: "btn btn-xs btn-danger" }) do  %>
					<i class="fa fa-trash" aria-hidden="true"></i> Delete
				<% end %>
			</h1>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="alert alert-warning row">
			<div class="col-xs-1">
				<%= fa_icon("info-circle","","fa-2x") %>
			</div>
			<div class="col-xs-11">
				 <p>When you add a file from this bucket, only a reference is created from Lodr to this file.  The file will be read only when you load it.</p>
				<p> 
				<strong>Accepted File Types: &nbsp;</strong> <%= SourceFile::UPLOADABLE_FILE_TYPES.join(", ") %>
				</p>
				<p class="text-muted">Unaccepted file types were filtered out</p>
			</div>
		</div>
	</div>
</div>


<% if @bucket.errors.any? %>
<div id="bucket-error" class="alert alert-danger">
  <p><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;<strong>Error!</strong> We were not able to connect to your bucket. Please check the following:</p>
  <br /> 
  
  <% @bucket.errors.full_messages.each do |msg| %>
  	<p><%= msg %></p>
  <% end %>
  <br />
  <ul>
	  <li>Are the credentials correct? <%= link_to "Edit bucket info", edit_s3_bucket_path(@bucket) %> </li>
	  <li>Does the provided credentials have permissions to list objecs in the S3 bucket: <%= @bucket.bucket_name %></li>
	  
	  
	  <li><a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html" target="_blank">Learn More about AWS S3 Permissions here</a></li>
  </ul>
</div>
<% end %>

<div class="row">
	<div class="col-sm-6">
		<div class="btn-toolbar">
			<a class="btn btn-default check-all" data-checked="false" data-check-all-target=".check-enable"> <i class="fa fa-square-o fa-1x" aria-hidden="true"></i></a>
			<%= link_to ("<span class=\"icon icon-bucket\"></span> New Bucket Loader").html_safe, new_bucket_loader_path(s3_bucket_id: @bucket.id), 
							class: "btn btn-sm btn-primary", title: "Sync all or parts of this bucket to Redshift" %>
	
			<%= link_to fa_icon("plus-circle","Add Selected Files"), "#", 
				class: "btn btn-sm btn-info-outline hidden check-enable" ,
				data: {"check-all-form" => "#add_s3_sources" } %>
	
		</div>
	</div>
	<div class="col-sm-6 text-right">
		<%= form_tag(search_s3_bucket_path, method: "get", class: "form-inline") do %>
		<div class="form-group">
		  <%= text_field_tag(:prefix, params[:prefix], class: "form-control", placeholder: "Search by Prefix") %>
		</div>
		  <%= submit_tag "Search", class: "btn btn-sm btn-default-outline" %>
		<% end %>
	</div>
</div>

<br />

<%= form_tag add_multiple_files_s3_bucket_path(@bucket), id: "add_s3_sources", method: :post do %>
<% end %>

<%= form_tag "", id: "main-check-all-form" do %>
<ul class="lodr-table list-group">
	<% if @bucket.errors.empty? %>
	<% @bucket.contents.each do |f| %>		
		<% obk = f["key"] %>
		<% parts = obk.split("/") %>
		<% fn = parts.last %>
		<% ext = parts.split(".").last %>
	    <li class="list-group-item">
		  <div class="row">
		  	<div class="col-md-5">
		  		<div class="row">
		  			<div class="col-sm-3 text-center icon-ctr checkbox-inline">
		  				<%= check_box_tag 's3_bucket_keys[]', obk, false, class: "input-lg"%>	 
		  				<%= image_tag 'aws-S3-file-icon.png', class: "img-responsive file-icon" %>
		  			</div>
		  			<div class="col-sm-9">
		  				<h4 class="title"><%= fn %></h4>		  				
						<small class="text-muted"><strong>Object Key: </strong><%= obk %></small>
		  			</div>
		  		</div>
		
		  	</div>
			
  			<div class="col-md-offset-1 col-md-2 titled-label">
				<label class="label">FILE SIZE</label>
  				<h4><%= number_to_human_size(f["size"]) %></h4>
  			</div>
  			<div class="col-md-2 titled-label">
				<label class="label">LAST MODIFIED</label>
  				<h5>
					<%= f["last_modified"].strftime('%c') %></h5>
  			</div>
					  	
		  	<div class="col-md-2 titled-label">
				<% if @current_keys.include? obk %>
					<div class="text-center">
					<i class="fa fa-check-circle fa-3x text-success" aria-hidden="true"></i><br />
					<small class="text-muted">Already added</small>
					</div>
				<% else %>
				
				<label class="label">ACTIONS</label>
				<div class="btn-toolbar">
					<!-- no direct loading of zips right now -->
					<% unless ZipFile.is_zip?(obk) %>
				  		<%= link_to(load_file_s3_bucket_path(@bucket, key: obk), 
							{ class: "btn btn-xs btn-info", method: :post, title: "Start the load process for this file right away."}) do %>
							<i class="fa fa-upload" aria-hidden="true"></i> Load
						<% end %>
					<% end %>
					
					<%= link_to( add_file_s3_bucket_path(@bucket, key: obk),  
						{ class: "btn btn-xs btn-success", method: :post,
							title: "Add file to list of sources. Lodr.io will sample and profile the file and you can load it at a later time." }) do %>
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Add
					<% end %>
		  		</div>
				
				<% end %>
			</div>	
		  </div>
	    </li>
  	<% end %>
	<% end %>
</ul>
<% end %> 

<div class="btn-group">
<%= link_to fa_icon("caret-left","Restart"), s3_bucket_path(@bucket), class: "btn btn-sm btn-primary-outline"%>
<% if @bucket.response.is_truncated %>
	<%= link_to fa_icon("angle-double-right","Fetch Next"), s3_bucket_path(@bucket,
		continuation_token: @bucket.response.next_continuation_token,
		prefix: @bucket.response.prefix), class: "btn btn-sm btn-primary-outline"%>
<% end %>
</div>
<!-- end main form -->

