<div class="max-400 m-x-auto p-y-md">

<%- if controller_name != 'sessions' %>
  <p class="text-muted">Already have an account? <%= link_to ("Log In #{fa_icon('angle-double-right')}").html_safe, new_session_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p class="text-muted">Start loading files today <%= link_to "Sign Up", new_registration_path(resource_name) %></p>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>

</div>