 <div class="browser-panel">
	<div class="browser-panel-header">
		<button class="btn browser-panel-btn btn-folder" type="button" data-toggle="collapse" data-target="#scripts_panel" 
			aria-expanded="false" aria-controls="collapseExample">
			<i class="fa fa-folder-open-o" aria-hidden="true"></i> Scripts
		</button>	
	</div>
	
	<% folders = folderize(@scripts) %>
	<div class="browser-panel-body collapse in" id="scripts_panel">
		<ul class="table-columns fa-ul" >			
			<% folders.each do |k,v| %>
			    <% if k != "root" %>
					<li class="table-column" >
						<i class="fa-li fa fa-folder-o fa-fw" aria-hidden="true"></i>
						<button class="btn tree-node btn-folder" type="button" 
						data-toggle="collapse" data-target="#folder_<%= k.gsub(' ','_') %>" 
						aria-expanded="false" aria-controls="collapseExample">
							<%= k %>
						</button>
						<ul class="table-columns collapse fa-ul" id="folder_<%= k.gsub(' ','_')  %>">
							<% v.each do |s| %>
								<li class="table-column has-browse-tools script-item"  data-script="<%= s.id %>">
									<i class="fa-li fa fa-file-code-o fa-2x"></i>
									<%= link_to s.name, sql_path(s), id: "script_#{s.id}_link" %>
								</li>
							<% end %>				
						</ul>
					</li>
				<% end %>
			<% end %>
			
			<% folders["root"].each do |s| %>
				<li class="table-column has-browse-tools script-item" data-script="<%= s.id %>" >
						<i class="fa-li fa fa-file-code-o fa-2x"></i>
						<%= link_to s.name, sql_path(s) %>								
				</li>
			<% end %>
		</ul>
	</div>

</div>

<div class="modal fade" id="moveFolderModal" tabindex="-1" role="dialog" aria-labelledby="moveFolderModal">
  <div class="modal-dialog modal-sm" role="document">
	<%= form_for @script, remote: true, html: {id: "move_to_folder"} do |f| %>
		
	  
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        Move to Folder
	      </div>
	      <div class="modal-body">
			   <div class="form-group">
				   <label class="control-label">Enter Folder Name</label>
			  		<%= f.text_field :folder, class: "form-control" %>
				</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Close</button>
			<%= f.submit "Apply", class: "btn btn-sm btn-info"  %>
	      </div>
	    </div>
	
	<% end %> 
  </div>
</div>


<% unless @script.folder.blank? %>
<script>
	$(function(){
		$("button.btn-folder[data-target='#folder_<%= @script.folder.gsub(' ','_')  %>']").trigger('click');
	});
</script>
<% end %>

<ul class="dropdown-menu sql-context-menu" aria-labelledby="script-ctx-menu" id="script-context-menu" style="position:absolute; left:100px; top:100px;">
	<li><a href="#" onclick="lodr.sql.cx.moveScript();"><%= fa_icon("folder-o") %> Move To</a></li>			
	<li>
		<%= link_to fa_icon('trash-o', "Delete"), script_path(@scripts.first), class: "script-delete-btn",
			remote: true, method: :delete, data: {confirm: "Are you sure you want to delete this script?"} %>
	</li>	
</ul>