$(function(){	
	$("#moveFolderModal").on('hidden.bs.modal',function(){
		$("#scripts").empty();	
		$("#scripts").append("<%= raw escape_javascript(render 'scripts/browser') %>");
	});
	$("#moveFolderModal").modal('hide');	
});
