<div class="btn-toolbar m-t-lg">
	<%= link_to "TRY IT FREE", new_user_registration_path, id: "main-call-to-action",class: "btn btn-lg btn-warning btn-square" %>
	<%= link_to "Learn more about Lodr", "https://blog.lodr.io", class: "btn btn-default-outline btn-lg  btn-square", target: "_blank"%>	
</div>