<% content_for :title, "Getting Started with Redshift - Lodr Use Cases" %>
<h1 class="title">Getting Started with Redshift</h1>
<h2 class="subtitle">Lodr Use Case</h3>

<div class="article m-b-lg">
	
	<p>
		One of the leading use cases for Lodr is bootstrapping a brand new Redshift data warehouse.  We often find customers with loads of files from various source systems and third party channels.  For people new to Redshift and often new to data warehousing in general, Lodr became a time and money saver.  In fact, this was one of the main reasons we launched Lodr in the first place.
	</p>
	
	<%= image_tag('lodr-load-stats.png', class:"img-responsive m-x-auto m-y-lg" , data:{action: "zoom" })%>
	
	<p>
		As you might have experienced, loading data into Redshift is painful.  You have to deal with messy data and the problem of defining the correct target table configuration.  This often required additional engineering resources.
	</p>
	
	<p>
		This is where Lodr saves you both time and money.  Using Lodr you can visually prep your data (no coding) and load into a target table with zero configuration.  Lodr will analyze your data, apply the transformations, and build the most optimal target table for Redshift.  If your data evolves over time, Lodr will handle this evolution seamlessly.
	</p>
	
	<h2>Summary</h2>
	
	<p>Most users who signup are able to load a file without ever reading any documentation.</p>	
	
	<p>Here are 5 reasons you should start using Lodr today:</p>
	
	<ol>
		<li>Lodr will automatically determine the optimal target table design by analyzing every single record.</li>
		<li>You can visually prep your data. Your transformations will be applied on our high performance serverless backend. This will result in files split and optimized for parallel loading into Redshift.</li>
		<li>Our serverless data processing engines is fast and cost efficient. It saves us mucho dineros which translates into savings for you!</li>
		<li>You can easily build incremental data loads with a few easy steps. Simply provide the prefix of the incremental update file name.  This can even be a zip file!</li>
		<li>You can sync an entire S3 bucket into Redshift automatically and configure how files are grouped into tables.</li>
	</ol>
		
	
	
	<%= render 'pages/articles/cta_buttons' %>
		
</div>

