<% content_for :title, "Prepare and Load Partitioned Files into Redshift - Lodr Feature Highlight" %>
<h1 class="title">Prepare and Load Partitioned Files into Redshift</h1>
<h2 class="subtitle">Lodr Feature Highlight</h3>

<div class="article m-b-lg">
	
	<p>
	  Today we can access a ton of public datasets from sources ranging from <%= link_to "Data.gov", "http://www.data.gov", target: "_blank" %> to <%= link_to "Kaggle.com", "http://www.kaggle.com", target: "_blank" %>.  However, often these datasets are partitioned (split) across many files by some time dimension like year or month.
    </p>
   	<p> One such dataset might be the <a href="https://catalog.data.gov/dataset/housing-affordability-data-system-hads" target="_blank">Housing Affordability Data (HADS).</a> For HADS data you can get zipped ASCII files for the years 2013 and 2011.  Preparing and loading this dataset would have been a huge pain in the past, but now we have the Lodr Multi-File Processor.
	</p>
	
	<p>Below both the 2013 and 2011 file was selected for the same load operation:</p>
	<%= image_tag('multi-file_sources.png', class:"img-responsive m-x-auto m-y" , data:{action: "zoom" }) %>	
	
	<p>
		Great, we can configure a single loader to load multiple files into the same Redshift Table.  However, this doesn't solve the whole problem! You see we also need to know what year each record is from. The only place we can get that information is from the file name.
	</p>
		
	<p>
		Not a problem with Lodr!  We'll use the <strong>Row Processing > Insert File Name</strong> transform to encode the file name information into the rows of the dataset:
	</p>
	
	<%= image_tag('insert_file_name.png', class:"img-responsive m-x-auto m-y" , data:{action: "zoom" }) %>	
	
	<p>
		Once the file name is inserted into each row you can apply pattern extract transforms to get the specific year or time dimension out of the file name.
	</p> 
	
	<p>
		When you run the loader all records from both files will be loaded into the same table and they will have the correct time dimensions associated with them.  Easy peasy!
	</p>
	
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/4cDuutSkaNY" frameborder="0" allowfullscreen></iframe>
	
	<%= render 'pages/articles/cta_buttons' %>
		
</div>