<% content_for :title, "Prepare and Load JSON files into Redshift - Lodr Feature Highlight" %>
<h1 class="title">Prepare and Load JSON files into Redshift</h1>
<h2 class="subtitle">Lodr Feature Highlight</h3>

<div class="article m-b-lg">
	
	<p>
		JSON is the lingua franca of modern applications.  There isn't an API worth it's salt that doesn't support JSON.  </p>
		
	<p>
		The problem though is the semi-structured nature of JSON. This makes JSON difficult to work with in analytical settings.  Interesting bits of data could be at unpredictable levels of depth with arbitrary sets of attributes.  Even though Redshift has support for JSON data, it is not as intuitive as being able to visually explore a JSON structure while plucking relevant attributes.
	</p>
		
	<p>
		Now with Lodr you can now visually browse JSON objects and extract meaningful data points with a few clicks.  The days of struggling with nested JSON objects are over.  Getting JSON data into Redshift has never been easier.
	</p>
	
	<%= image_tag('extract-json-load-redshift.png', class:"img-responsive m-x-auto m-y-md" , data:{action: "zoom" }) %>	
	
	<p>
		If you are familiar with <a href="https://blog.lodr.io/jsonpath-expressions-in-lodr-7f28f9b553fd" target="_blank">JSONPath</a>, you can enter the path specification directly as well.
	</p> 
	
	<p>
		<h3>How it Works</h3>
		<ol>
			<li>Upload a JSON or JSONL file. <span class="help-block">jsonl separates each record with a newline</span></li>
			<li>Create a new loader with this file and choose the Extract JSON transformation option on your JSON column</li>
			<li>This will launch the Lodr JSON Explorer</li>
			<li>Browse the explorer and click on attribute nodes you want to extract</li>
			<li>Lodr will expand any arrays into rows</li>
		</ol>
	</p>
	
	<p>Now there is nothing stopping you from getting the most out of your data!</p>
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/bFrGSW-2_tE" frameborder="0" allowfullscreen></iframe>
	
	<%= render 'pages/articles/cta_buttons' %>
		
</div>

