<% content_for :title, "Lodr Release Notes" %>

<h1 class="title">Release 7 - Bucket Loaders</h1>
<h2 class="subtitle">May 23, 2017</h3>

<div class="article m-b-lg">
	
	
	<p>
		Another amazing release is here for the history books.  Ever wished you could sync your S3 buckets with redshift?  We now you can without defining target schemas, wrangling data, or worrying about data types.  You can run one time loads or schedule sync's.
	</p>
	
	<p>One more thing.  We have also introduce new collaborative tools. Create projects and invite users.  Billing and usage is linked to the project owner</p>
	
	<h3>Bug Fixes and New Features:</h3>
	<ul>
		<li>Sync S3 Buckets with Redshift</li>
		<li>Bucket loaders can handle multi level s3 key structures</li>
		<li>Schedule bucket loads</li>
		<li>Create and manage projects</li>
		<li>Invite specific users to collaborate on data prep projects</li>
		<li>Fixed issue with incorrect loading of Boolean types</li>
		<li>Fallback location when Lodr does not have bucket write access</li>
		<li>Sample gz files</li>
	</ul>	
		
		
</div>

<h1 class="title">Release 6 - JSON Baby</h1>
<h2 class="subtitle">April 24, 2017</h3>

<div class="article m-b-lg">
	
	
	<p>
		This release brings light upgrades to the SQL IDE, starting with the replacement of Delete and Move To buttons.  Enjoy!
	</p>
	
	<h3>Bug Fixes and New Features:</h3>
	<ul>
		<li>Added a context menu for Script actions</li>
		<li>Removed the old hover buttons for Scripts</li>
		<li>Double click column names to add to script</li>
		<li>Properly insert table script generations into the current active IDE cursor position</li>
		<li>DB schema refresh doesn't remove the current table list anymore</li>
		<li>Warning on delete transform command added</li>
		<li>Added a schema selector to the SQL IDE</li>
		<li>Fixed issue with no_delimiter file types</li>
		<li>Added longer timeout for db connection testing</li>
	</ul>	
		
		
</div>

<h1 class="title">Release 5 - JSON Baby</h1>
<h2 class="subtitle">April 8, 2017</h3>

<div class="article m-b-lg">
	
	
	<p>
		We have been busy busy. Your going to love the new enhancements starting with our JSON extractor!  If you worked with JSON before, you already know it is a pain to pick out the correct attributes.  This is more so when you are dealing with a new source.  We fixed that for you with our new visual JSON extractor!
	</p>
	
	<p>
		Besides the features listed below and bug fixes, we also updated our pricing tier to make it easy for startups and small bussiness to get going.  Our entry level plan is nos $19 per month for 2 million rows!
	</p>
	
	<h3>Bug Fixes and New Features:</h3>
	<ul>
		<li>Visual JSON Extractor</li>
		<li>Insert file name metadata into tables</li>
		<li><%= link_to "New Team Cloud Data Warehouse Offering.", page_path('articles/team-cloud-data-warehouse') %> </li>
		<li>Handling of more file types including ones with no extensions</li>
		<li>Collapse all rows and columns into a single cell.  This is useful when working with a single JSON object.</li>		
		<li>Better organized the Transforms menu</li>
		<li>New $19 per Month pricing tier</li>
		<li>Fixed bugs with extract pattern</li>
		<li>Fixed bug with find and replace using a Regex</li>
		<li>SQL IDE alphabetical sort</li>
	</ul>
	
		
		
</div>

<%= render 'pages/articles/cta_buttons' %>