<% content_for :title, "Self Service ETL for Redshift - Lodr Use Cases" %>
<h1 class="title">Self Service ETL for Redshift</h1>
<h2 class="subtitle">Lodr Use Case</h3>

<div class="article m-b-lg">
	
	<%= image_tag('data-hero.jpg', class:"img-responsive m-x-auto m-b-lg" , data:{action: "zoom" })%>
	
	<p>
		We built Lodr for Data Heroes like you.  You are the consumate professional who wants to be fully in charge of your data destiny.  Before Lodr, data prep and loading was usually handled by another team.  This was just terrible for productivity.
	</p>
	
	<p>
	 By the time your IT or dedicated ETL team resolved your request, you were already onto something else.  It is dissappointing as professionals in analytics to have to recommend decisions on partial or no data.  With Lodr, this is no longer the case.	
	</p>	
	
	<p>
		Whether you're a Data Scientist, a BI Engineer, or a Data Visualizaion Specialist, you can now control integration of critical source data. </p> 
	
	<p>Use Lodr to visually transform messy data into structured data, schedule recurring loads, and query Redshift like a boss.  Lodr's serverless backend can plow through 100's of gigabytes in minutes.  You will be astonished by how much you can accomplish on your own.
	</p>
	
	<%= image_tag('lodr-transforms.png', class:"img-responsive m-x-auto m-y-lg img-shadow" , data:{action: "zoom" })%>
		
	<p> Most users who signup are able to load a file without ever reading any documentation.</p>
	
	<h2>Summary</h2>
	
	<p>You have lots of options when it comes to data integration. Some with very complicated UI's and some that require intense programming.  Lodr is designed for the teams that wants to focus on analysis rather than data engineering.</p>	
	
	<p>Here are 5 reasons you should start using Lodr today:</p>
	
	<ol>
		<li>Lodr will automatically determine the optimal target table design by analyzing every single record.</li>
		<li>You can visually prep your data. Your transformations will be applied on our high performance serverless backend. This will result in files split and optimized for parallel loading into Redshift.</li>
		<li>Our serverless data processing engines is fast and cost efficient. It saves us mucho dineros which translates into savings for you!</li>
		<li>You can easily build incremental data loads with a few easy steps. Simply provide the prefix of the incremental update file name.  This can even be a zip file!</li>
		<li>You can sync an entire S3 bucket into Redshift automatically and configure how files are grouped into tables.</li>
	</ol>
	
	<%= render 'pages/articles/cta_buttons' %>
		
</div>

