<% content_for :title, "Skip the COPY Command - Lodr Feature Highlight" %>
<h1 class="title">Skip the COPY Command</h1>
<h2 class="subtitle">Lodr Feature Highlight</h3>

<div class="article m-b-lg">
	<div style="background:#d08118">
		<%= image_tag('shredder.png', class:"img-responsive m-x-auto m-y-md" , data:{action: "zoom" }) %>	
	</div>
	
	<p>
		All over the internet you will find the oft repeated claim that all you need is the COPY command to load data into Redshift. Predictably, they fail to mention that you have to create a proper table with a defined schema.
	</p>
		
	<p>
		This means if you have a 100 column file with millions of rows, you have to analyze every record, determine the correct datatypes, and build a table schema.  Now scale this up to dozens of datasets with predictable data quality issues.  Say goodbye to your weekends! 
	</p>
	
	<%= image_tag('lots-of-data.jpg', class:"img-responsive m-x-auto m-y") %>	
	
	<p>
		This is the tedious rubbish you can avoid by using Lodr! Not only will Lodr automatically determine the best data types, you can visually fix data quality issues. On the chance some data issues slips through, Lodr will simply null the bad record and continue.  Data quality issues will be reported in the field errors report.
	</p>
	
	<p>
		Looks like you just got your weekends back!
	</p> 
	
	
	<%= render 'pages/articles/cta_buttons' %>
		
</div>

