<% content_for :title, "Sync S3 Buckets with Redshift" %>
<h1 class="title">Sync S3 Buckets with Redshift</h1>
<h2 class="subtitle">Lodr Feature Highlight</h3>

<div class="article m-b-lg">
	<%= image_tag('lodr-bucket-loader.png', class:"img-responsive m-x-auto m-b-lg" , data:{action: "zoom" })%>
	<p>
		Automatically sync S3 buckets with Redshift.  No ETL pipelines, data profiling, or type resoultion.  Lodr eliminates bad data and creates optimized tables in Redshift. Lodr can be configured to group files into tables based on S3 object key structures.  Weeks of ETL work can be automated in minutes.
	</p>
		
	<p>
		One customer is using Lodr to auto sync user uploaded files on an hourly basis.  Users would upload files into specific S3 buckets which gets copied into Redshift by Lodr.  These users are not aware of Lodr or our serverless data processing engine.  They simply get fast results!  
	</p>
	
	<p>
	Another customer uses the Bucket Loader to sync data processed through a Kinesis firehose. This data arrives in a highly partitioned date structure down to the minute level.  For example, a series of files might have the key <em><strong>daily-activity/2017/06/17/13/1/activity.log</strong></em> and can be auto loaded into a table called <em><strong>daily_activity</strong></em> or <em><strong>daily_activity_2017</strong></em> and so on.
	</p>	
	
	<p>
		Every step along the way could be customized with additional data transformations if necessary.
	</p>
		
	<p>		
		Lodr is simply the fastest way to get data loaded into Redshit.  Watch the tutorial:
	</p>
	<br />
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Kn26TRobl-I" frameborder="0" allowfullscreen></iframe>

	<p>
		<h3>How it Works</h3>
		<ol>
			<li>Connect your S3 Bucket</li>
			<li>Go to Navigation > More > Bucket Loaders</li>
			<li>Click on New Bucket Loader</li>
			<li>Choose your Bucket and target Database</li>
			<li>Choose a File Mapping Type</li>
		</ol>
	</p>
	
	<%= link_to "See Detailed Instructions.", "https://blog.lodr.io/syncing-an-s3-bucket-with-redshift-a2d3586175c4" %>
	
	
	<%= render 'pages/articles/cta_buttons' %>
		
</div>

