<% content_for :title, "Team Cloud Data Warehouse" %>
<h1 class="title">Team Cloud Data Warehouse</h1>
<h2 class="subtitle">Lodr Use Case</h3>

<div class="article m-b-lg">
	
	<%= image_tag('hero-team-800.jpg', class:"img-responsive m-x-auto m-b-lg")%>
	
	<p>
		Whether you're a team of one or many, timely access to key insights could make or break business strategies.  Missing out on crucial insights could cost you a win.  All you needed was access to the right data at the right time.	
	</p>
	
	<p>
		Sometimes this means directly controlling platforms that provide insight.  Many of you are already doing this with Excel, Access, or even your personal SQL Server database. We know this has been time consuming and overwhelming at times, but we also know it has been a worthwhile effort.  We know this because we meet pros like you and your team everyday. From Startups to large Enterprises we meet teams and solo professionals who want to own their data destiny.
	</p>
	
	<p>	
	 	To help teams like these, Lodr has been providing fully managed Cloud Data Warehouses for more than a year now.  Our current customers include the Marketing Department of a large hotel chain to one person small businesses.  Our Cloud Data Warehouse has allowed these teams to analyze more data faster than ever.  
		<br />
		<h3>Benefits of subscribing to a Lodr Cloud Datawarehouse:</h3>
		<ol>
			<li>Go from laptop scale to cloud scale. A few gigs to 100's</li>
			<li>Faster queries that can run offline</li>
			<li>Connectivity to other cloud tools like Mode, Tableau, and More </li>
			<li>Share data with important stakeholders and teammates easily</li>
			<li>Worry free management:</li>
				<ul>
					<li>Automatic Backups and Recovery</li>
					<li>Managed Tuning and Performance Optimization</li>
					<li>Security and User Admin</li>
					<li>Scaling and Performance Advisory Services</li>
				</ul>			
			<li>Scale from a few Gigs to Petabytes as needed</li>
		</ol> 		
	</p>
	
	<h3>Lodr Cloud Data Warehouse</h3>
	<p>
		With a cloud data warehouse you can leverage cutting edge technology to drive wining business strategies like never before.  
		
		<p><strong>You can get started for as little as $89 per month</strong>.  This includes 12 months of the Lodr Startup Plan, 50GB of storage, and initial consultation.</p>
	</p>
	
	<p>
		Get started today by sending us a quick email:		 
	</p>
	
 <%= mail_to "ajo@lodr.io", "Request More Info", 
	subject: "Interest in Lodr Cloud Data Warehouse", 
	body: "Hello,\n\n I would like to learn more about the cloud data warehouse offering.\n\nI'm available to chat at these times: \n\n 12:30 EST this coming Monday",
	class: "btn btn-lg btn-warning btn-square w-md" %>
		
		
</div>