<div class="browser p-a p-x-md">
	
	<div id="scripts">
		<%= render 'scripts/browser' %>
	</div>
	
	<div id="database">
		<%= render 'databases/browser' %>
	</div>
	
</div>

<div class="main row">
	<div class="main-content col-sm-9">
		<% unless notice.nil? %>
				<div class="p-x"><div id="main-ok-alert" class="alert alert-info"><%= notice %></div></div>
		<% end %>
	
		<div id="main-error-alert" class="alert alert-danger alert-dismissible hidden m-a">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="message">
		
			</div>
		</div>	
	
		<div id="main-warning-alert" class="alert alert-warning alert-dismissible m-a">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="message">
		
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-8 p-x">
			<%= form_for @script, remote: true, html: {id: "edit_script_name", class: "auto-forms"} do |f| %>
				<div class="script-name h3 "> 
					<span class="script-name editable-label" data-target="#script_name"><%= @script.name %></span>			
					<%= f.text_field :name, class: "form-control hidden editable-label-target" %>
				</div>			
			<% end %>
			</div>
			<div class="col-xs-4 p-a-md">
				<div id="save-state" class="text-muted text-small text-right ">
					<i class="fa "></i>
					<span class="text-muted">&nbsp;</span>
				</div>
			</div>
		</div>
	
		<div class="btn-toolbar p-x" role="toolbar" aria-label="...">		
			<div class="btn-group btn-group-sm" role="group" aria-label="..."> 
				<%= link_to fa_icon('plus-square', 'New Script'), new_script_path, class: "btn btn-default btn-sm", id: "new-script" %>
				<button id="save" class="btn btn-default btn-sm" title="Ctrl-S or Cmd-S">	
						<%= fa_icon('save') %> <span class="btn-text">Save</span></button>
				<%= link_to fa_icon('clone', 'Duplicate'), 
					new_script_path(duplicate_id: @script.id), class: "btn btn-default btn-sm", id: "duplicate" %>	  	
			</div>
			<div class="btn-group btn-group-sm" role="group" aria-label="...">
				<%= link_to fa_icon('play-circle-o', 'Run'), new_script_query_path(@script), 
					class: "btn btn-primary-outline btn-sm", id: "run", 
					title: "Ctrl-r or Cmd-r" ,remote: true %>
			</div>
			<%= link_to fa_icon('trash'), script_path(@script), 
				class: "btn btn-danger-outline btn-sm", id: "delete-script", method: :delete, 
				data: {confirm: "Are you sure you wan to delete this script?"} %>
		</div>
	
		<div class="p-a">
			<div id="editor" >
				<%= form_for @script, remote: true, html: {id: "edit_script", class: "auto-forms"} do |f| %>
					<%= f.text_area :content %>
				<% end %>
			</div>
			<!-- <div id="editor-footer">
				<input type="text" id="script-search" value=""  placeholder="search">
			</div> -->
		</div>
	</div>

	<div id="history" class="query-history p-a col-sm-3" data-script-id="<%= @script.id %>">
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<span class="h4 pull-left">Query History</span>
			<%= link_to fa_icon('trash', 'Clear All'), script_queries_path(@script),
				id: "clear-history", class:"btn btn-danger-outline btn-xs pull-right", method: :delete, remote: true %>
		</div>
		<div id="upgrade" class="alert alert-danger">
			<div class="row">
				<div class="col-xs-1"><i class="fa fa-exclamation-triangle fa-1x"></i></div>
				<div class="col-xs-11"> 
					Unfortunately you have no more queries left in your current plan. Please consider upgrading to an unlimited plan.
					<br />
					<%= link_to "Upgrade Plan", page_path('upgrade'), 
						class: "btn btn-danger btn-square m-t" %>
				</div>
			</div>
		</div>
		<div id="queries">
		
		</div>
	</div>
</div>

<script id="_query" type="text/x-handlebars-template">
<div class="query lite-shadow m-t m-b-lg {{status}}" id="query_{{ id }}" data-query-id="{{ id }}">
	<div class="query-header">
		<div class="btn-toolbar " role="toolbar" aria-label="...">
			{{#if fetched_rows }}			
				<div class="btn-group btn-group-xs" role="group" aria-label="...">
					<button class="query-expand btn btn-primary-outline btn-xs"> <%= fa_icon('arrows-alt') %></button>
					<button class="query-sql-toggle btn btn-primary-outline btn-xs"> SQL</button>
					<button class="query-export btn btn-primary-outline btn-xs"> <%= fa_icon('download') %></button>			
				</div>
			{{/if}}
			<div class="btn-group btn-group-xs" role="group" aria-label="...">
				<button class="query-text btn btn-primary-outline btn-xs" disabled="true">
					<%= fa_icon('clock-o') %>
					ran {{ ago }}
				</button>
			</div>
			<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
				<a class="query-delete btn btn-primary-outline btn-xs" 
					data-remote="true" rel="nofollow" 
					data-method="delete" href="/sql/scripts/2/queries/{{ id }}"><i class="fa fa-trash " aria-hidden="true"></i> </a>
			</div>
		</div>
	</div>
	<div class="query-body">
		
	</div>
	<div class="query-body-sql p-a hidden">
		<code>
			<i>
			{{ sql }}
			</i>
		</code>
		<div class="help-block">{{ info }}</div>
	</div>
	<div class="query-body-error p-a hidden">
		<i class="fa fa-exclamation-triangle fa-2x pull-left"> </i>
		{{ query_error }}
	</div>
	<div class="query-footer">
		<i class="fa fa-circle fa-fw {{ status }}" title="{{ info }}"> </i> 
		{{#if fetched_rows }}
			{{ fetched_rows }} / {{ total_rows }} Rows
		{{ else }}
			{{#if query_error}}
				Error
			{{ else }}
				{{#if completed }}
					Completed
				{{ else }}
					<i class="fa fa-spinner fa-spin fa-fw"> </i> Running...
				{{/if}}
			{{/if}}			
		{{/if}}
		<span class="pull-right">{{ dur }} {{ units}}</span>
	</div>	
</div>
</script>

<div class="modal fade" id="gridFullScreenModal" tabindex="-1" role="dialog" aria-labelledby="griddFullScreenModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body">
		  
      </div>
      <div class="modal-footer">
		  
      </div>
    </div>
  </div>
</div>