
<div id="cover-header" class="block block-inverse">
  <nav class="navbar navbar-transparent  navbar-fixed-top navbar-padded p-t-md">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-com">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <%= link_to image_tag("brand-logo-white-220x60.png"), root_path, class:"navbar-brand lodr-logo" %>
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-com">
        <ul class="nav navbar-nav navbar-right">
			<li class="dropdown dropdown-pop">
			   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
					 aria-haspopup="true" aria-expanded="false">Product <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><%= link_to "Features", page_path('features') %></li>
						<li><%= link_to "Team Cloud Data Warehouse", page_path('articles/team-cloud-data-warehouse') %> </li>
			            <li><%= link_to "Getting Started with Redshift", page_path('articles/getting-started-with-redshift') %> </li>
			  		  	<li><%= link_to "Self Service ETL", page_path('articles/self-service-etl') %> </li>
						
						<li class="divider"></li>						
						<li><%= link_to "Sync S3 Buckets", page_path('articles/sync-s3-buckets-with-redshift') %> </li>
						<li><%= link_to "Skip the COPY Command", page_path('articles/skip-the-copy-command') %> </li>
						<li><%= link_to "JSON Extractor", page_path('articles/load-json-files-into-redshift') %> </li>
						<li><%= link_to "Partitioned File Loader", page_path('articles/load-multiple-files-into-the-same-redshift-table') %> </li>
						<li class="divider"></li>
						<li>
							<%= link_to "Release Notes", page_path('articles/lodr-release-notes') %> 						</li>
			          </ul>
		    </li>
			
			<li><%= link_to "Pricing", page_path('pricing'), class: "nav-item nav-link" %></li>
			<li><%= link_to "Blog ", 'https://blog.lodr.io',target: "_blank", class: "nav-item nav-link" %></li>
			<li>&nbsp;</li>
	        <li>	
			  <% if current_user.nil? %>
			  	<%= button_to "Sign In", new_user_session_path, class: "navbar-btn btn btn-sm btn-white-outline", method: :get %>
			 <% end %>
		   </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
	  
	  <div class="container text-center">
          <div class="lead-block max-500">
			<h1 class="block-title m-b-sm">
				Redshift Data Studio
			</h1>
            <h2 class="lead m-b-md m-t">
				Prepare and load files, Query data, and Sync your S3 buckets
			</h2>			
	  		  
          </div>
		  
  		  <div class="hidden-xs">
  			  <%= image_tag('redshift-hz-files.png', class: "img-responsive")%>
  		  </div>
		
          <%= link_to "TRY LODR FREE", new_user_registration_path, id: "main-call-to-action",class: "btn btn-primary btn-lg btn-danger m-t-lg btn-square" %>		  
	  </div>
  </div>
    
  
</div>