<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-light-up"></span>
          </div>

          <h3>Type Resolution</h3>
          <p>
            Automatic data type resolution ensures your data is correctly mapped to the optimal Redshift type.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-users"></span>
          </div>

          <h3>Collaboration Tools</h3>
          <p>
            Create projects and invite colleagues to collaborate. Lodr is built for data driven teams!
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-infinity"></span>
          </div>
          <h3>Essential Transforms</h3>
          <p>
            All the essential transformations in an easy to use UI. Split, extract, find and replace, and more!
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
           <i class="fa fa-terminal" aria-hidden="true"></i>
          </div>
          <h3>SQL IDE</h3>
          <p>
            The SQL IDE designed for Amazon Redshift. Inspect table schema and execute queries against your cluster.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-tools"></span>
          </div>
          <h3>Schema Management</h3>
          <p>
            Automatic DDL generation with UI to configure Sort Keys and Distribution Keys.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-chevron-up"></span>
          </div>
          <h3>Incremental Update</h3>
          <p>
            Incrementally update data using the Lodr merge option.  You can repeatedly load a file and update matching records.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="fa fa-envelope-o"></span>
          </div>
          <h3>Email Notifications</h3>
          <p>
            Optionally choose to receive email notifications when your data loads are successfully completed. You can disable notifications.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-bucket"></span>
          </div>

          <h3>S3 Sources</h3>
          <p>
            You can upload files from your desktop or connect to an existing S3 bucket.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>

          <h3>S3 Bucket Loader</h3>
          <p>
            Sync your entire bucket into Redshift.  Schedule Lodr to autoload newly added files. 
			<%= link_to "Learn More", page_path('articles/sync-s3-buckets-with-redshift') %>
          </p>
        </li>
		
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <h3>Schedule your Loads</h3>
          <p>
            Use our comprehensive time based scheduler to trigger loads. i.e. <em>Monthly on the first and last Monday at 1 AM EST</em>
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <i class="fa fa-file-archive-o" aria-hidden="true"></i>
          </div>
          <h3>Zip Files and More</h3>
          <p>
            Have a Zip full of files? No problem! Upload zip, bzip, gz, txt, csv and more!
          </p>
        </li>
		
        <li class="m-b-md">
          <div class="featured-list-icon">
            <span class="icon icon-bar-graph"></span>
          </div>
          <h3>Load Stats</h3>
          <p>
            Load large files concurrently into your Redshift cluster and monitor throughput and performance in the Lodr dashboard.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon icon-clock"></span>
          </div>
          <h3>Fastest File Loader</h3>
          <p>
            Our serverless backend enables high throughput file transformations and data loading.  Every field is analyzed at break neck speeds.
          </p>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon">{_}</span>
          </div>
          <h3>Visual JSON Extractor</h3>
          <p>
            Use Lodr's visual JSON extractor to make the unwieldiest JSON file yield insightful data.  
				<%= link_to "Learn More", page_path('articles/load-json-files-into-redshift') %>
          </p>
        </li>
		
      </ul>
    </div>
  </div>
</div>