<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
           Proudly created in the nations capital with love <i class="fa fa-heart" aria-hidden="true"></i> 
		   
		   <br/><br/>Getting data prepared for Redshift is a pain so we created Lodr. Please reach out with any questions <a href="mailto: info@lodr.io"> info@lodr.io</a>.
		   
		   <br /><br />
		   <p>Vero Analytics, Inc. © <%= Date.today.year %></p>
          </li>
        </ul>
		
      </div>
	  
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled">
          <li><h6 class="text-uppercase">Start</h6></li>
          <li class="text-muted"><%= link_to "Home", root_path %></li>
		  <li class="text-muted"><%= link_to "Sign Up", new_user_registration_path %></li>
		  <li class="text-muted"><%= link_to "Log In", new_user_session_path %></li>
        </ul>
		
		
        <ul class="list-unstyled m-t">
          <li ><h6 class="text-uppercase">Use Cases</h6></li>
          <li class="text-muted"><%= link_to "Getting Started with Redshift", page_path('articles/getting-started-with-redshift') %> </li>
		  <li class="text-muted"><%= link_to "Self Service ETL", page_path('articles/self-service-etl') %> </li>
		  <li class="text-muted"><%= link_to "Team Cloud Data Warehouse", page_path('articles/team-cloud-data-warehouse') %> </li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled">
          <li ><h6 class="text-uppercase">Product</h6></li>
          <li class="text-muted"><%= link_to "Features", page_path('features') %></li>
          <li class="text-muted"><%= link_to "Pricing", page_path('pricing') %></li>  
		  <li><%= link_to "Blog ", 'https://blog.lodr.io', target: "_blank" %></li>
        </ul>
		
        <ul class="list-unstyled m-t">
          <li ><h6 class="text-uppercase">Features</h6></li>
		  <li class="text-muted">
			<%= link_to "Skip the COPY Command", page_path('articles/skip-the-copy-command') %> 		
		  </li>
          <li class="text-muted"><%= link_to "JSON Extractor", page_path('articles/load-json-files-into-redshift') %> </li>
		  <li class="text-muted">
			  <%= link_to "Load Partitioned Files", page_path('articles/load-multiple-files-into-the-same-redshift-table') %> 
		  </li>
		  <li class="text-muted">
			  <%= link_to "Sync S3 Buckets", page_path('articles/sync-s3-buckets-with-redshift') %> 
		  </li>
		  
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled">
          <li ><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted"><%= link_to "Terms", page_path("terms") %></li>
          <li class="text-muted"><%= link_to "Privacy", page_path("privacy") %></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
	<h5 style="color:white;">PROUD REDSHIFT PARTNER</h5>
	  <%= link_to image_tag('logo-apn-tech-small.png'),'https://aws.amazon.com/redshift/partners-detail/lodr/', target: '_blank' %>
  </div>
</div>

