<div class="block bock-secondary m-b-lg" id="how-it-works-section">
	<div class="text-center p-b-lg">
		<h1 class="block-title">How it Works</h1>
	    <h4 class="text-muted">3 easy steps to load data into Redshift</h4>
	</div>
	<div class="container max-700">
    <ul class="featured-list featured-list-bordered">
       <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon">1</span>
          </div>

          <h3>Upload Files or Connect S3 Buckets</h3>
          <p>
            Lodr can handle everything from Zipped files to Log files.  Lodr can even be configured to automatically select the latest file matching a prefix.
          </p>
        </li>
        <li class="m-b-lg">
           <div class="featured-list-icon">
             <span class="icon">2</span>
           </div>

           <h3>Visually Apply Data Transformations</h3>
           <p>
             Create a Loader with our intuitive step by step wizzard.  Lodr will automatically determine the best target data types and automatically create a target table for you. Many more options to configure how you load data.
           </p>
         </li>	
         <li class="m-b-lg">
            <div class="featured-list-icon">
              <span class="icon">3</span>
            </div>

            <h3>Execute the Loader</h3>
            <p>
              You can schedule the Loader to run on a regular basis or run it immediately. Use our new SQL IDE to explore your data. You just saved yourself hours of boring work!
            </p>
          </li>	
	</ul>
	</div>
	<div class="container">
		<div class="max-700" id="seeWorks" >
			 <%= image_tag('see-how-it-works.png', class: "img-responsive", style: "margin-bottom: -30px;")%>
		</div>
		<div class="demo-video lite-shadow-boxed m-t">
			
			
			<script src="https://fast.wistia.com/embed/medias/4a1gnk8idp.jsonp" async></script>
			<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
			<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
					<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
						<div class="wistia_embed wistia_async_4a1gnk8idp videoFoam=true" style="height:100%;width:100%">
							&nbsp;
						</div>
					</div>
			</div>					
			
			
		</div>
	</div>
</div>