<div class="modal fade" tabindex="-1" role="dialog" id="on-premise-info"> 
  <div class="modal-dialog modal-md" style="width:450px;" role="document">
    <div class="modal-content">
		
      <form action="//veroanalytics.us12.list-manage.com/subscribe/post?u=63af1c5d68e228b00c67b8f0a&amp;id=43748865d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		
	  <%= image_tag('450x400_mailchimp.png', class:"img-responsive" )%>
	  
      <div class="modal-body">
	   
		<!-- Begin MailChimp Signup Form -->
	    <div id="mc_embed_signup">
  		  
	        <div id="mc_embed_signup_scroll">
	    	<label for="mce-EMAIL">Send me information about Lodr on Premise</label>
	    	<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" style="width: 100%;" required>
	        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_63af1c5d68e228b00c67b8f0a_43748865d1" tabindex="-1" value=""></div>
      
	        </div>
	    
	    </div>
				
	    <!--End mc_embed_signup-->
      </div>
	  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default-outline">Submit</button>
      </div>
	  </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 