<div class="block block-secondary text-center block-inverse" >
  <h1 class="block-title" style="color:yellow;">Start Loading Data Today</h1>
  <h4 class="text-muted">You can now get Lodr deployed on your own AWS infrastructure.</h4>
  <%= link_to "TRY LODR FREE", new_user_registration_path, class: "btn btn-primary btn-lg btn-square m-t" %>
  <button type="button" class="btn btn-warning-outline btn-lg btn-square m-t" data-toggle="modal" data-target="#on-premise-info">LODR ON PREMISE</button>
  
  <%= render 'pages/shared/lodr_on_premise' %>
</div>