<div class="ctr max-400 m-x-auto p-a shadow bordered-radiused m-t">

<div>
<p class="text-info">Already have an account?  <%= link_to ("Log In #{fa_icon('angle-double-right')}").html_safe, new_session_path(resource_name) %></p>
<h3 class="text-info">Change Your Password</h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field form-group">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off",  placeholder: "Enter new password" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %>
  </div>

  <div class="actions">
    <%= f.submit "Send Me Reset Password Instructions", class: "btn btn btn-info w-full" %>
  </div>
<% end %>


</div>


<%= render "devise/shared/links" %>
