<div class="ctr max-400 m-x-auto p-a shadow bordered-radiused m-t">

<div>
<p class="text-info">Already have an account?  <%= link_to ("Log In #{fa_icon('angle-double-right')}").html_safe, new_session_path(resource_name) %></p>
<h3 class="text-info">Forgot your password?</h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email, class: "hidden" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send Me Reset Password Instructions", class: "btn btn btn-info w-full" %>
  </div>
<% end %>


</div>


<%= render "devise/shared/links" %>

