
<% if Rails.env.production? %>    
   	<script>
		// <!-- Facebook Pixel Code -->
	    !function(f,b,e,v,n,t,s)
	    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	    n.queue=[];t=b.createElement(e);t.async=!0;
	    t.src=v;s=b.getElementsByTagName(e)[0];
	    s.parentNode.insertBefore(t,s)}(window,document,'script',
	    'https://connect.facebook.net/en_US/fbevents.js');
	     fbq('init', '969234179830395');
	    fbq('track', 'PageView');	    
	   
	    // <!-- End Facebook Pixel Code -->
	  	
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-88724501-1', 'auto');
	  	  
	  $(document).on('turbolinks:load', function(e){
		  var data = (e.data || e.originalEvent.data);
		  ga("set", "location", data.url)
	  	  ga('send', 'pageview');
		  
		  <% if current_user %>
			  ga('set', 'userId', '<%= current_user.email %>');
			  
			  var new_user_session_flag = $("#new_user_session_flag"); 
			  if(new_user_session_flag.length){
				  ga('send','event', 'users', 'signed_up', '<%= current_user.email %>', 0);
				  fbq('track', 'CompleteRegistration');
			  }
			  
			  var loader_was_run = $("#loader_was_run"); 
			  if(loader_was_run.length){
				  ga('send','event', 'loaders', 'loader_was_run', '<%= current_user.email %>', 0);
			  }				 
			  
		  <% end %>
	  });

	</script>
	<!-- Facebook Pixel Code -->
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=969234179830395&ev=PageView
    &noscript=1"/>
    </noscript>
	
<% end %>