<% if flash[:event] %>
	<script type="javascript">
		var target = <%= flash[:event] %>;
		if(ga && target){
			ga('send','event', 'targets', target, '<%= current_user.email %>', 0);
		}
	</script>
<% end %>