<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="errorModalLabel">Connection Error Message</h4>
      </div>
      <div class="modal-body">
        <pre class="alert alert-danger"> </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>