<footer class="text-center text-muted" style="min-height: 110px;margin-top:10%">
	<%= image_tag('logo-watermark-style.png',class: "img-responsive watermark-logo") %>
	<br />
	<p>Lodr is created and maintained by Vero Analytics, Inc. </p>
	<p>© <%= Date.today.year %> Vero Analytics, Inc.</p>
	<p><%= link_to "Home", root_path %> | <%= link_to "Privacy Policy", page_path('privacy') %> | <%= link_to "Terms & Conditions", page_path('terms') %> </p>
</footer>

<% if session[:tmp_new_user] %>

<div class="hidden" id="new_user_session_flag">
	NEW USER
</div>

<% session[:tmp_new_user] = nil %>
<% end %>

<% if session[:loader_was_run] %>

<div class="hidden" id="loader_was_run">
	loader_was_run
</div>

<% session[:loader_was_run] = nil %>
<% end %>