<nav class="navbar navbar-default navbar-fixed-top nav-app-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("favicon/favicon-32x32.png", style: "width:32px"), root_path, class:"navbar-brand lodr-logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
		  	
			<% unless current_project.nil? %>
  	          <li class="dropdown dropdown-pop">
  	            <a href="#" class="dropdown-toggle project-sel-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					 &nbsp;<%= current_project.name %> <span class="caret"></span></a>
  	            <ul class="dropdown-menu" >
					<% current_user.projects.each do |p| %>
						<% unless p == current_project %>
	  	              		<li><%= link_to p.name, p %></li>
						<% end %>
  				  	<% end %>
				  
				  <li role="separator" class="divider"></li>
				  
				  <li>
				  	<%= link_to fa_icon("cog", "Project Settings"), "#", data: { toggle: "modal", target: "#project-settings"} %>
				   </li>
 				  <li>
 				  	<%= link_to fa_icon("user-plus", "Invite Users"), "#", data: { toggle: "modal", target: "#invite-users"} %>
 				   </li>
				  
				  <li role="separator" class="divider"></li>
				  <li class="p-x p-b">
					<%= render 'shared/project'%>
				  </li>
				 
  	            </ul>
  	          </li>
			 <% end %>
		  	  
			  <li><%= link_to "Sources", sources_path, class: "nav-item nav-link" %></li>
			  <li><%= link_to "Loaders", loaders_path, class: "nav-item nav-link" %></li>
			  <li><%= link_to "SQL IDE", sql_index_path, class: "nav-item nav-link" %></li> 
			  
  	          <li class="dropdown dropdown-pop">
  	            <a href="#" class="dropdown-toggle more-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon("bars") %>  &nbsp;More <span class="caret"></span></a>
  	            <ul class="dropdown-menu">
					<li><%= link_to fa_icon("dashboard","Dashboard"), dashboard_path, class: "nav-item nav-link" %></li>
					<li role="separator" class="divider"></li>
	  	            <li><%= link_to en_icon("bucket","S3 Buckets"), s3_buckets_path %></li>
					<li><%= link_to fa_icon("upload","Bucket Loaders"), bucket_loaders_path, class: "nav-item nav-link" %></li>
					<li role="separator" class="divider"></li>
	  				<li><%= link_to fa_icon("database","Databases"), databases_path, class: "nav-item nav-link" %></li>
  	            </ul>
  	          </li>
			  
		    	
				       
      </ul>
	  
	  <% unless current_user.nil? %>
	  <ul class="nav navbar-nav navbar-right">
		  	  <li><%= link_to fa_icon("cloud-upload", "Upload Files"), upload_sources_path, data: {turbolinks: false} %></li>
	          <li class="dropdown dropdown-pop">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= fa_icon("user") %>  &nbsp;<%= clean_user_name %> <span class="caret"></span></a>
	            <ul class="dropdown-menu">
	              <li><%= link_to "Sign Out", destroy_session_path(current_user), method: :delete %></li>
	              <li role="separator" class="divider"></li>
	              <li><%= link_to "Manage Account", account_path %></li>
				  <li><%= link_to "Blog ", 'https://blog.lodr.io', target: "_blank", class: "nav-item nav-link" %></li>
				  <li><%= link_to "Documentation", 'https://blog.lodr.io/tagged/docs', target: "_blank", class: "nav-item nav-link" %></li>			  
				  <li><%= link_to "Video Tutorials", '#', class: "nav-item nav-link", data: {toggle: "modal" , target: "#videoTutorialModal"}%>
				  
				  <% if current_user.admin? %>
	  	              <li role="separator" class="divider"></li>
					  <li><%= link_to "Console", admin_console_path %>
					  <li><%= link_to "Cancel Long Running Jobs", admin_cancel_long_path, method: :delete, data: {confirm: "Are you sure?"} %></li>
	  	              <li><%= link_to "Cancel All Jobs", admin_cancel_all_path, method: :delete, data: {confirm: "Are you sure you want to cancel ALL jobs?"}  %></li>
				  <% end %>
	            </ul>
	          </li>
        </ul>
	  <% end %>	  
	 
	</div><!-- /.navbar-collapse -->
	
	</div><!-- /.container-fluid -->
</nav>