<div class="modal fade" id="project-settings" tabindex="-1" role="dialog"
	data-remote="<%= edit_project_path(current_project) %>" 
	aria-labelledby="project settings dialog">
  <div class="modal-dialog" role="document">		
	  		  
  </div>
</div>

<div class="modal fade" id="invite-users" tabindex="-1" role="dialog" 
	aria-labelledby="invite users to project dialog" data-remote="<%= new_project_invite_path(current_project) %>" >
  	
	<div class="modal-dialog" role="document">		
	  		  
  	</div>
</div>