<%= form_for Project.new,  html: { class: "form"} do |f| %>
	 <%= f.text_field :name, value: "", placeholder: "New Project", class: "form-control input-sm" %> 
	<%= f.submit "CREATE PROJECT", class: "btn btn-primary btn-xs w-full", style: "margin-top:4px"%>
<% end %>