<% if include_schedule_button %>
	<% if schedulable.scheduled? && schedulable.next_occurrence %>
		<%= link_to fa_icon("calendar-check-o", "Schedule: " + schedulable.schedule_in_words), "#editSchedule", class: "btn btn-success-outline schedule-edit-btn",  data: {toggle: "modal", target: "#scheduleModal"} %>
	<% else %>
		<%= link_to fa_icon("calendar-plus-o", "Add Schedule"), "#editSchedule",  class: "btn btn-success-outline schedule-edit-btn",  data: {toggle: "modal", target: "#scheduleModal"} %>
	<% end %>
<% end %>

<div class="modal fade schedulable" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="scheduleModalLabel"><%= fa_icon("calendar")%> Schedule <%= schedulable.class.name.titleize %></h4>
      </div>
	  
      <div class="modal-body p-y-md h-400 over-y-a p-x-md">
		<div class="form-group">
			<%= f.label :schedule_type, "Schedule Frequency", class: "control-label" %> <br />
		  	
      		<%= f.collection_radio_buttons(:schedule_type, schedulable.class.schedule_types, :first, :first, 
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "radio-inline", style: "width:90px;margin-left:5px") { b.radio_button + b.text.titleize.split(" ").last } } %>
			
		</div>
		
		<div class="row" id="start-time-options">					  
		  	<div class="col-sm-4">
				<%= f.label :start_date, "Starts On", class: "control-label" %>
	      		<%= f.date_field :start_date, class: "form-control" %>
			</div>
		  	<div class="col-sm-4">
				<%= f.label :start_time, "Time", class: "control-label" %>
	      		<%= f.time_field :start_time, class: "form-control", 
					value: (schedulable.start_time.class == String ? schedulable.start_time : schedulable.start_time.strftime("%H:%M") ) %>
			</div>
		  	<div class="col-sm-4">
				<%= f.label :time_zone, "Time Zone", class: "control-label" %>
				<%= f.select :time_zone, ActiveSupport::TimeZone::MAPPING.keys, {selected: current_project.time_zone}, { class: "form-control custom-select" } %>
			</div>
		</div>													
		
		<div class="form-inline m-t">
		  <div class="form-group" id="periodic-option">
		    <label for="schedule_period">Runs Every</label>
			<%= f.number_field :schedule_period , class: "form-control form-inline m-x", size: "5", 
				minimum: "1", style: "width:80px;" %>
			<label for="schedule_period">Hour(s)</label>
		  </div>
		</div>
		
					
		<div class="form-group m-t" id="month-of-year-option">
			<hr />	
			<%= f.label :months_of_year, "On Months of Year", class: "control-label" %> <br />
      		<%= f.collection_check_boxes(:months_of_year, array_to_collection(Date::MONTHNAMES), 
				:value, :text, 
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "checkbox-inline", 
					style: "margin-left: 10px;width:100px") { b.check_box + b.text } } %>
		</div>		
		
		<div class="form-group m-t" id="week-of-month-option">
			<hr />	
			<%= f.label :weeks_of_month, "Weeks of Month", class: "control-label" %> <br />
      		<%= f.collection_check_boxes(:weeks_of_month, array_to_collection(Scheduled::WEEKS_OF_MONTH.keys),
				:value, :text,
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "checkbox-inline", 
					style: "margin-left: 10px;width:100px") { b.check_box + b.text.titleize.split(" ").last } } %>
		</div>		
		
		<div class="form-group m-t" id="day-of-week-option">
			<hr />	
			<%= f.label :days_of_week, "On Days of Week", class: "control-label" %> <br />
      		<%= f.collection_check_boxes(:days_of_week, array_to_collection(Date::DAYNAMES), :value, :text, 
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "checkbox-inline", 
					style: "margin-left: 10px;width:100px") { b.check_box + b.text.titleize.split(" ").last } } %>
		</div>									
		
		<div class="row m-t-md" id="day-of-month-option">
			<hr />	
			<%= f.label :day_of_month, "On Day of Month", class: "col-sm-4" %>
			<div class="col-sm-4">
	      		<%= f.select :day_of_month, 1..31, {include_blank: true}, { class: "form-control custom-select"} %>
			</div>
		</div>
		
      </div>
	  
      <div class="modal-footer">
        <button type="button" class="btn btn btn-default-outline schedule-done" data-dismiss="modal">Done</button>
      </div>
	
    </div>
  </div>
</div>