<nav class="navbar navbar-default navbar-fixed-top nav-app-color static-header">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("brand-logo-white-220x60.png"), root_path, class:"navbar-brand lodr-logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
			<li class="dropdown dropdown-pop">
			   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
					 aria-haspopup="true" aria-expanded="false">Product <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><%= link_to "Features", page_path('features') %></li>
						<li><%= link_to "Team Cloud Data Warehouse", page_path('articles/team-cloud-data-warehouse') %> </li>
			            <li><%= link_to "Getting Started with Redshift", page_path('articles/getting-started-with-redshift') %> </li>
			  		  	<li><%= link_to "Self Service ETL", page_path('articles/self-service-etl') %> </li>
						<li class="divider"></li>
						<li><%= link_to "Sync S3 Buckets", page_path('articles/sync-s3-buckets-with-redshift') %> </li>
						<li><%= link_to "JSON Extractor", page_path('articles/load-json-files-into-redshift') %> </li>
						<li><%= link_to "Partitioned File Loader", page_path('articles/load-multiple-files-into-the-same-redshift-table') %> </li>
						<li>
							<%= link_to "Skip the COPY Command", page_path('articles/skip-the-copy-command') %> 						</li>
						<li class="divider"></li>
						<li>
							<%= link_to "Release Notes", page_path('articles/lodr-release-notes') %> 						</li>
			          </ul>
		    </li>		  
		  
			
			<li><%= link_to "Pricing", root_path+'pricing', class: "nav-item nav-link" %></li>
			<li><%= link_to "Blog ", 'https://blog.lodr.io', target: "_blank", class: "nav-item nav-link" %></li>
			<li>&nbsp;</li>
 	        <li>	
 			  <% if current_user.nil? %>
 			  	<%= button_to "Sign In", new_user_session_path, class: "navbar-btn btn btn-sm btn-white-outline", method: :get %>
 			 <% end %>
 		   </li>
	  </ul>
	    
	 
	</div><!-- /.navbar-collapse -->
	
	</div><!-- /.container-fluid -->
</nav>