<div class="modal fade" id="videoTutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="errorModalLabel">Lodr Video Tutorials</h4>
      </div>
      <div class="modal-body">
      
	  	<div class="row p-a">
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/58KreJ-p7AI" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/N8MNJFt7CV4" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/0bbNhQdK_Ck" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		
	  	<div class="row p-a">
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Kn26TRobl-I" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/4cDuutSkaNY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/hpyIfdMIpSQ" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>	
	    
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default-outline" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>