<% content_for :title, "Lodr Pricing" %>

<div class="block p-b pricing-section">
  <div class="container text-center">

    <div class="row m-b-lg hidden-xs">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <h6 class="text-muted text-uppercase">Plans that Scale</h6>
        <h3 class="m-t-0">Accelerate Analytics with Self Service Data Preperation</h3>
      </div>
    </div>

    <div class="row">
      		
		
      <div class="col-sm-4 m-b-lg col-sm-offset-2">
        <div class="lite-shadow p-a price-block"  >
          <h6 class="text-muted text-uppercase m-b">Bootstrap</h6>
          <h1>FREE</h1>
        
        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>50 Thousand</strong> Rows Processed per Month</li>
		  <li class="p-y"><strong>25</strong> Queries per Month</li>
          <li class="p-y"><strong>Unlimited</strong> Users & Projects</li>
        </ul>
		
		<% if current_user && current_user.subscription.bootstrap? %>
			<div class="alert alert-info w-full m-a-0"><%= fa_icon("check-circle") %> Current Plan</div>
		<% else %>
			<%= link_to "CHOOSE", account_choose_plan_path("bootstrap"), class: "btn btn-lg btn-primary-outline btn-pill w-full" %>
		<% end %>
        
		</div>
      </div>
		
		  <div class="col-sm-4 m-b-lg">
        <div class="lite-shadow p-a price-block" >
          <h6 class="text-muted text-uppercase m-b">STARTUP</h6>
          <h1>$79 <small class="text-muted">/MO</small></h1>
        

        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>1 Million</strong> Rows Processed per <br />Month</li>
      <li class="p-y"><strong>150</strong> Queries per Month</li>
      <li class="p-y"><strong>Unlimited</strong> Users & Projects</li>
        </ul>
        
      <% if current_user && current_user.subscription.startup? %>
        <div class="alert alert-info w-full m-a-0"><%= fa_icon("check-circle") %> Current Plan</div>
      <% else %>
        <%= link_to "CHOOSE", account_choose_plan_path("startup"), class: "btn btn-lg btn-primary-outline btn-pill w-full" %>
      <% end %>
      </div>
        </div>


    </div><!-- END PRICING ROW 1 --> 

    <div class="row">

      <div class="col-sm-4 m-b-lg col-sm-offset-2">
        <div class="lite-shadow p-a price-block" style="border-top: 4px solid #0b89ff;">
          <h6 class="text-muted text-uppercase m-b">BIG DATA</h6>
          <h1>$900 <small class="text-muted">/MO</small></h1>
        

        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>100 Million</strong> Rows Processed per <br />Month</li>
		  <li class="p-y"><strong>3500</strong> Queries per Month</li>
		  <li class="p-y"><strong>Unlimited</strong> Users & Projects</li>
        </ul>
        
		<% if current_user && current_user.subscription.big_data? %>
			<div class="alert alert-info w-full m-a-0"><%= fa_icon("check-circle") %> Current Plan</div>
		<% else %>
			<%= link_to fa_icon("trophy","CHOOSE"), account_choose_plan_path("big_data"), class: "btn btn-lg btn-primary btn-pill w-full" %>
		<% end %>
		</div>
      </div>
      
      <div class="col-sm-4 m-b-lg">
        <div class="lite-shadow p-a price-block" >
          <h6 class="text-muted text-uppercase m-b">BUSINESS</h6>
          <h1>$299 <small class="text-muted">/MO</small></h1>
        

        <ul class="list-unstyled list-bordered text-left m-y-md">
          <li class="p-y"><strong>10 Million</strong> Rows Processed per <br />Month</li>
		  <li class="p-y"><strong>1000</strong> Queries per Month</li>
		  <li class="p-y"><strong>Unlimited</strong> Users & Projects</li>
        </ul>
        
		<% if current_user && current_user.subscription.business? %>
			<div class="alert alert-info w-full m-a-0"><%= fa_icon("check-circle") %> Current Plan</div>
		<% else %>
			<%= link_to fa_icon("trophy","CHOOSE"), account_choose_plan_path("business"), class: "btn btn-lg btn-primary btn-pill w-full" %>
		<% end %>
		</div>
      </div>
	  
    </div>
	
	
	<div class="row price-block lite-shadow m-b-lg" style="border-top:2px solid orange">
	    
			 
			 <div class="col-sm-4 p-a">
	       
		         <h6 class="text-muted text-uppercase">Enterprise</h6>
		         <h1>CUSTOM</h1>       
    	
		    </div>
			
			 <div class="col-sm-4 p-a">
			  <%= mail_to "sales@lodr.io", "CONTACT US", 
			 		subject: "Upgrade to Enterprise Plan", 
			 		body: "Hello,\n\n I'm thrilled with Lodr and would like to upgrade to a custom Enterprise plan.\n\nWhat are my options?",
			 		class: "btn btn-lg btn-warning-outline btn-pill w-full m-t" %>
			 		</div>
    	
		    </div>		
	
	</div>
	

  </div>  
</div>


<div class="block bock-secondary">
	<div class="text-center p-b-lg">
		<h1 class="block-title text-dark">FAQ</h1>
	</div>
	
	<div class="container">
	  
      <ul class="featured-list featured-list-bordered">
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon">1</span>
          </div>

          <h3>How does pricing work with mutiple users?</h3>
          <h4 class="text-dark">
            All usage metrics like rows loaded and queries run, are billed against the project owners subscription.
          </h4>
        </li>
	
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon">2</span>
          </div>

          <h3>When are rows counted as "rows processed"?</h3>
          <h4 class="text-dark">
            The input rows of jobs that Succeed, Succeed with Errors, or are Cancelled are counted in your Monthly rows processed figure.
          </h4>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon">3</span>
          </div>

          <h3>For cancelled jobs, which rows are considered "rows processed"?</h3>
          <h4 class="text-dark">
            Only the total input rows processed until the job was cancelled are considered "rows processed."
          </h4>
        </li>
		
        <li class="m-b-lg">
          <div class="featured-list-icon">
            <span class="icon">4</span>
          </div>

          <h3>Can I cancel my Subscrption?</h3>
          <h4 class="text-dark">
            Yes. When you cancel a subscription, the subscription will be valid until the end of the subscription period.
          </h4>
        </li>

      </ul>
	  
	</div>
</div>

<%= render 'pages/shared/whats_included' %>


<%= render 'pages/shared/how_it_works' %>