<% content_for :title, "Redshift Data Studio for Teams - Features" %>

<div class="block bock-secondary" id="features-section">
	<div class="text-center p-b-lg">
		<h1 class="block-title text-dark">Features</h1>
	    <h4 class="text-muted">All the right ingredients to get the job done</h4>
	</div>
	<%= render 'pages/shared/features' %>
	
	<div class="text-center p-t-lg">
		<h3 class="block-title text-muted m-b-md">Proud Redshift Partner</h3>
	    <%= link_to image_tag('logo-apn-tech-small.png'),'https://aws.amazon.com/redshift/partners-detail/lodr/', target: '_blank' %>
	</div>
</div>
<%= render 'pages/shared/try_cta' %>
<%= render 'pages/shared/how_it_works' %>