<% content_for :title, "Redshift Data Studio for Teams - Easier than the COPY Command Faster than Spark" %>
<%= render 'pages/shared/how_it_works' %>

<%= render 'pages/shared/try_cta' %>

<div class="block bock-secondary" id="lodr-wizzard-section">
	<div class="text-center p-b">
		<h1 class="block-title">Prepare Data for Redshift</h1>
	    <h4 class="text-muted">You can now load data into Redshift without defining a schema first!</h4>
	</div>
	<div class="text-center p-x-lg hidden-xs">
		
		<div id="lodr-sn-carousel" class="carousel slide " data-ride="carousel" data-interval="7500">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#lodr-sn-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#lodr-sn-carousel" data-slide-to="1"></li>
		    <li data-target="#lodr-sn-carousel" data-slide-to="2"></li>
			<li data-target="#lodr-sn-carousel" data-slide-to="3"></li>
			<li data-target="#lodr-sn-carousel" data-slide-to="4"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active p-a-lg">
		      <%= image_tag('lodr-transforms.png', class:"img-responsive img-shadow") %>
		      
		    </div>
		    <div class="item p-a-lg">
		      <%= image_tag('lodr-json-extractor.png', class:"img-responsive img-shadow")%>
		    </div>
		    <div class="item p-a-lg">
		      <%= image_tag('lodr-load-stats.png', class:"img-responsive img-shadow")%>
		    </div>
		    <div class="item p-a-lg">
		      <%= image_tag('lodr-table-setting.png', class:"img-responsive img-shadow")%>
		    </div>
		    <div class="item p-a-lg">
		      <%= image_tag('lodr-bucket-loader.png', class:"img-responsive img-shadow")%>
		    </div>
		  </div>
		</div>		
	
	</div>
	<div class="text-center visible-xs">
	<%= image_tag('lodr-transforms.png', class:"img-responsive img-shadow", data:{action: "zoom" })%>
	</div>
</div>

<div class="block bock-secondary" id="sql-ide-section">
	<div class="text-center p-b-lg">
		<h1 class="block-title">The Missing Redshift SQL IDE</h1>
	    <h4 class="text-muted">Execute queries against your cluster and inspect your schema.  Organize all your scripts!</h4>
	</div>
	<div class="text-center p-x-lg hidden-xs">
	<%= image_tag('sql_ide_snow.png', class:"img-responsive img-shadow" , data:{action: "zoom" })%>
	</div>
	<div class="text-center visible-xs">
	<%= image_tag('sql_ide_snow.png', class:"img-responsive img-shadow" , data:{action: "zoom" })%>
	</div>
</div>

<div class="block block-inverse block-secondary app-serverless-block">
	
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-6 col-sm-push-6" data-transition="entrance" style="transform: translateX(-100px)">
        <%= image_tag("shredder.png", class: "visible-sm visible-md visible-lg")%>
      </div>

      <div class="col-sm-5 col-sm-pull-6">
        <h6 class="text-muted text-uppercase">Serverless Tech</h6>
        <h3 class="m-t-0">The serverless revolution is changing the way we prep data.</h3>
        <p class="lead m-b-md">We can now run 1000's of simultaneous data operations in parallel without the hassles of managing 1000's of machine instances.  This is how we are disrupting data preparation.</p>
        <a class="btn btn-default btn-lg btn-borderless" href="https://blog.lodr.io/going-serverless-5x-faster-100x-cheaper-2b7db8c37405#.7xf0tmh75" target="_blank">
          Read More
        </a>
      </div>
    </div>
  </div>
</div>



