<%= form_for current_project, html: { class: "form-horizontal"}, remote: true do |f| %>
    
	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">
        	<%= fa_icon("cog", "Project Settings") %>
        </h4>
      </div>
      <div class="modal-body p-a-md" style="max-height: 400px;overflow-y:auto;">
        
		<% if current_project.errors.any? %>
		  <div id="error_explanation" class="alert alert-danger">
			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			  <span class="sr-only">Error:</span>
			  <% current_project.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
		      <% end %>
		  </div>						
		<% end %>
		
		<div class="form-group p-b">
			<%= f.label :name,"Project Name", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<%= f.text_field :name, placeholder: "Project Name", class: "form-control" %>
			</div>
		</div>
		
        <div class="form-group p-b">
			<%= f.label :time_zone,"Time Zone", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<%= f.select :time_zone, ActiveSupport::TimeZone::MAPPING.keys, {}, { class: "form-control custom-select" } %>
			</div>
		</div>
		
		
        <div class="row p-b">
			<%= f.label "Number of Users", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<span class="help-block"><%= current_project.users.count %></span>
			</div>
		</div>
		
		
		<% unless Rails.application.secrets[:on_prem] %>
        <div class="row p-b">
			<%= f.label "Rows Remaining", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<div class="text-muted"><%= number_with_delimiter current_project.owner.subscription.rows_remaining %> / 
					<%= number_with_delimiter current_project.owner.subscription.plan.rows_per_month %></div>
				<small class="text-warning"><em>Project Plan: <%= current_project.owner.subscription.plan.name.titleize %></em></small>
				<p class="help-block">A projects billing plan and usage is attributed to the project Owner</p>
			</div>
		</div>
		
		
        <div class="row p-b">
			<%= f.label "Queries Remaining", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<span class="help-block"><%= number_with_delimiter current_project.owner.subscription.queries_remaining %> / 
					<%= number_with_delimiter current_project.owner.subscription.plan.queries_per_month %></span>
			</div>
		</div>
		<% end %>
		
        <div class="row p-b">
			<%= f.label "Options", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<% if current_project.owner == current_user %>
					<%= f.label :owner, "Transfer Ownership", class: "control-label", style: "text-align:left;font-size:13px;" %><br />
					<% if current_project.users.count > 1 %>
						<%= f.select :owner_id, current_project.users.collect{|u| [u.full_name, u.id] },{},{ class: "form-control custom-select-sm" } %>
					<% else %>
						<%= f.select :owner_id, current_project.users.collect{|u| [u.full_name, u.id] },{},{ class: "custom-select custom-select-sm" , disabled: true} %>
					<% end %>
				<% end %>
				
				<% if current_project.can_destroy_project?(current_user) %>
					<p class="m-t">
					<%= fa_icon("times") %>
					<%= link_to "Delete Project", project_path(current_project), 
						method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this project??"} %>
					</p>
				<% end %>
			</div>
		</div>
				
		
        <div class="row">
			<%= f.label "api_access_key", "Api Access Key", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<span class="help-block"><%= current_user.api_access_key %></span>
			</div>
		</div>
        <div class="row p-b">
			<%= f.label "api_token", "Api Token", class: "col-sm-3 control-label", style: "text-align:left;font-size:13px;" %>
			<div class="col-sm-8">
				<span class="help-block"><%= current_project.api_token %></span>
			</div>
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default-outline" data-dismiss="modal">Done</button>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
   </div>
   
<% end %>	  


