$(function(){	
	$("#project-settings .modal-dialog").html("<%= j(render 'project_settings') %>");
	$("a.project-sel-btn").html("<%= current_project.name %> <span class=\"caret\"></span>");
	
	$("#project-settings .modal-body").prepend(
		'<div class="alert alert-success alert-dismissable">' +
				'<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
				'Successfully applied your changes...' +
		'</div>');
	
	setTimeout(function(){
		$("#project-settings .alert").slideUp();
	}, 2500);	
});