upstream lodr {
  server unix:///home/deploy/apps/lodr/shared/tmp/sockets/lodr-puma.sock;
}

server {
  listen 80 default_server deferred;
  server_name localhost;
  
  root /home/deploy/apps/lodr/current/public;
  access_log /home/deploy/apps/lodr/current/log/nginx.access.log;
  error_log /home/deploy/apps/lodr/current/log/nginx.error.log info;
  
  # this is the max size nginx can receive from 
  # poxy server. the buffer size is just for head
  proxy_buffers 8 48k;
  proxy_buffer_size 2k;
  
  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }
  
  # Deny external access to 
  # postback api
  location ^~ /api/xo/ {
	<% if fetch(:stage) == :staging %>
		allow 54.187.207.67;
	<% else %>
		allow 127.0.0.1;
		allow  10.8.3.0/24;
    allow  10.8.2.0/24;
	<% end %>
	
	deny   all;
	
	try_files $uri/index.html $uri @lodr;
  }
  
  # Redirect http calls coming from outside
  location / {
	if ($http_x_forwarded_proto = 'http') {
	  	return 301 https://$host$request_uri;
	}
	try_files $uri/index.html $uri @lodr;
  }

  try_files $uri/index.html $uri @lodr;
  location @lodr {
	proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_pass http://lodr;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 10M;
  keepalive_timeout 75;
}