<div class="ctr max-400 m-x-auto p-a shadow bordered-radiused m-t">

<div class="p-b">
<p class="text-info">New here? <%= link_to ("Sign up today #{fa_icon('angle-double-right')}").html_safe, new_registration_path(resource_name) %></p>	
<h3 class="text-info"><%= image_tag('favicon/favicon-32x32.png') %> &nbsp;Log in and load!</h3>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field checkbox">
		<%= f.label :remember_me do %>
      		<%= f.check_box :remember_me %> Remember Me
       <% end %>
    </div>
  <% end -%>

  <div class="form-group p-y">
	<div class="btn-toolbar">  
    	<%= f.submit "Log In", class: "btn btn-primary" %>
		<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
		  <%= link_to "Sign Up", new_registration_path(resource_name), class: "btn btn-info-outline" %><br />
		<% end -%>
	</div>
  </div>
<% end %>

</div>

<%= render "devise/shared/links" %>