<div class="row">
	<div class="col-md-4">
		
		<div class="row">
			<div class="col-sm-3 text-center icon-ctr checkbox-inline">
				<%= check_box_tag 'bucket_loader_ids[]', loader.id, false, class: "input-lg"%>	 
				
				<% if loader.scheduled? %>
  				  <span class="fa-stack fa-lg text-warning" title="job is ready to be run">
  				    <i class="fa fa-circle-thin fa-stack-2x"></i>
  					<i class="fa fa-calendar fa-stack-1x"></i>
  				  </span>
				<% else %>
  				  <span class="fa-stack fa-lg text-info" title="job is ready to be run">
  				    <i class="fa fa-circle-thin fa-stack-2x"></i>
  					<i class="fa fa-upload fa-stack-1x"></i>
  				  </span>
				<% end %> 					  
			</div>
			<div class="col-sm-9">
				<h4 class="title"><%= link_to loader.name, bucket_loader_path(loader) %></h4>
				<p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>
					<% if loader.last_run %> 
						ran <%= time_ago_in_words(loader.last_run.created_at) %> ago
					<% else %>
						edited <%= time_ago_in_words(loader.updated_at) %> ago
					<% end %>
				</p>
				
				<% if loader.scheduled? %>
					<p class="text-info"><i class="fa fa-clock-o"></i>&nbsp; 
						next run on <%= loader.next_occurrence.strftime('%B %d, %Y %I:%M %p %Z') %> </p>
				<% end %>
 			   <% if loader.last_run %>
 				<div class="loader-status m-b">
 					<% if loader.last_run.failed? %>
 						<span class="label label-danger <%= loader.last_run.status %>" 
 							data-loader-id="<%= loader.id %>" >Failed</span>
 					<% elsif loader.last_run.running? %>
 						<span class="label label-primary <%= loader.last_run.status %>"
 							data-loader-id="<%= loader.id %>"  ><%= loader.last_run.status.titleize %></span>&nbsp;<i class="fa fa-spinner fa-spin"></i>		<% elsif loader.last_run.done? %>
 						<span class="label label-success <%= loader.last_run.status %>" 
 							data-loader-id="<%= loader.id %>" >Done</span> 
					<% elsif loader.last_run.cancelled? %>
 						<span class="label label-warning <%= loader.last_run.status %>" 
 							data-loader-id="<%= loader.id %>" >Cancelled</span>					
 					<% else %>
 						<span class="label label-info <%= loader.last_run.status %>"
 							data-loader-id="<%= loader.id %>" > <%= loader.last_run.status.titleize %> </span>
 					<% end %>
 				</div>				
 				<% end %>
				
			</div>
		</div>
				
	</div> 
	
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-3 titled-label">
				<% if loader.s3_bucket.nil? %>
					<label class="label" style="color:#e40505;">BUCKET</label>
					<h5 class="text-danger"><%= link_to "FIXME", edit_bucket_loader_path(loader) %></h5>
				<% else %>
					<label class="label" >BUCKET</label>
					<h5><%= link_to loader.s3_bucket.bucket_name, loader.s3_bucket %></h5>
				<% end %>	
			</div>
	
			<div class="col-md-3 titled-label">
				<label class="label" >PREFIX</label>
				<h5><%= loader.prefix || "NONE" %></h5>			
			</div>
	
			<div class="col-md-3 titled-label">
				<label class="label" >MAPPING</label>
				<h5><%= loader.file_mapping_type.titleize %></h5>	
			</div>
	
			<div class="col-md-3 titled-label">
				
				<% if loader.database.nil? %>
					<label class="label"  style="color:#e40505;">DATABASE</label>
					<h5 class="text-danger"><%= link_to "FIXME", edit_bucket_loader_path(loader) %></h5>
				<% else %>
					<label class="label" >DATABASE</label>
					<h5><%= loader.database.name %></h5>
				
				<% end %>
			</div>
		</div>
		
		<% if loader.last_run %>
		<div class="row">
			
			<div class="col-md-3 titled-label">
				<label class="label" >FILES</label>
				<h5><%= loader.last_run.files_to_load %></h5>	
			</div>
			
			<div class="col-md-3 titled-label">
				<label class="label" >SUCCEEDED / FAILED</label>
				<h5><%= loader.last_run.succeeded_files %> / <%= loader.last_run.failed_files %></h5>	
			</div>
			
			<div class="col-md-5 titled-label">
				<label class="label" >PROGRESS</label>
				<div class="progress">
					<% if loader.last_run.failed?  %>
    	  				  <div class="progress-bar progress-bar-danger" 
    						  role="progressbar" aria-valuenow="<%= loader.last_run.percent_done * 100 %>" 
    						  aria-valuemin="0" aria-valuemax="100" style="width: <%= loader.last_run.percent_done * 100 %>%;">
    	  				    <%= loader.last_run.percent_done * 100 %>%
    	  				  </div>
					<% elsif loader.last_run.cancelled?%>
  	  				  <div class="progress-bar progress-bar-warning" 
  						  role="progressbar" aria-valuenow="<%= loader.last_run.percent_done * 100 %>" 
  						  aria-valuemin="0" aria-valuemax="100" style="width: <%= loader.last_run.percent_done * 100 %>%;">
  	  				    <%= loader.last_run.percent_done * 100 %>%
  	  				  </div>
					<% else %>
	  				  <div class="progress-bar <%= loader.last_run.done? ? 'progress-bar-success' : 'progress-bar-striped' %> " 
						  role="progressbar" aria-valuenow="<%= loader.last_run.percent_done * 100 %>" 
						  aria-valuemin="0" aria-valuemax="100" style="width: <%= loader.last_run.percent_done * 100 %>%;">
	  				    <%= loader.last_run.percent_done * 100 %>%
	  				  </div>
					<% end %>
				  
				</div>
			</div>

		</div>
		<% end %>
		
	</div>
	
		
</div>


<div class="row">
	<div class="col-md-offset-1 col-md-7">
					
		<div class="btn-group btn-group-sm m-b" role="group" aria-label="...">
			<% if loader.last_run && loader.last_run.running? %>
				<%= link_to fa_icon("ban", "Cancel"), cancel_bucket_loader_path(loader), method: :delete, class:"btn btn-danger" ,style: "text-align:left;" %>
			<% else %>
				<%= link_to fa_icon("play-circle", "Run"), run_bucket_loader_path(loader),method: :post, class:"btn btn-default" ,style: "text-align:left;" %>
			<% end %>
			
			<%= link_to fa_icon("eye", "View"), bucket_loader_path(loader), class:"btn btn-default" ,style: "text-align:left;" %>
			<%= link_to(fa_icon("pencil", "Edit"), edit_bucket_loader_path(loader), class: "btn btn-default",style: "text-align:left;") %>
			<%= link_to(fa_icon("clone", "Copy"), new_bucket_loader_path(bucket_loader_id: loader.id), class: "btn btn-default",style: "text-align:left;") %>
			<%= link_to(fa_icon("trash", "Delete"), bucket_loader_path(loader), 
				class: "btn btn-default",style: "text-align:left;",
				data: {confirm: "Are you sure you want to delete this loader?"}, method: :delete) %>		
		</div>
		
	</div>
	
</div>
