<%= form_for @bucket_loader, html: { class: "bucket_loader_form"} do |f| %>

	<% if @bucket_loader.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  <% @bucket_loader.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
	      <% end %>
	  </div>
	<% end %>
	
	<div class="form-group">
		<%= f.label :name, "Loader Name" %>
		<%= f.text_field :name, class: "form-control input-lg", placeholder: "A memorable name for easy reference" %>
	</div>
	
 	<div class="form-group">
		<%= f.label :s3_bucket, "Bucket to be Loaded", class: "control-label" %>
		<div class="input-group">
	  		 <%= f.collection_select(:s3_bucket_id, current_project.s3_buckets, 
	  			:id, :bucket_name, {}, { class: "form-control input-lg custom-select" }) %>
		      <span class="input-group-btn">
		        <%= link_to fa_icon("plus", "New Bucket"), new_s3_bucket_path, class: "btn btn-lg btn-success-outline" %>
		      </span>
		</div>     	  
 	</div>
	
	<div class="form-group">
		<%= f.label :prefix, "S3 File Key Prefix", class: "control-label" %>
		<%= f.text_field :prefix, class: "form-control input-lg", placeholder: "Enter the object name prefix to filter files by (optional)" %>
		<p class="help-block">Filter the file if its key <strong>starts with</strong> the above</p>
	</div>
	
	<button class="btn btn-md btn-info-outline text-left" type="button" data-toggle="collapse" data-target="#file-options" aria-expanded="false" aria-controls="file-options">
	  <i class="fa fa-expand"></i>	
	  Show More File Options
	</button>
	<br /> <br />
	<div class="collapse" id="file-options">
	  <div class="well">
		
		<div class="form-group">
			<%= f.label :file_filter, "Additional file key filter", class: "control-label" %>
			<%= f.text_field :file_filter, class: "form-control", placeholder: "Enter a filter term (optional)" %>
			
			<p class="help-block">Filter the file if its key <strong>contains</strong> the term supplied above.</p>
		</div>
		<div class="checkbox m-t">
		  <label>
		    <%= f.check_box :includes_header %>
			File includes column names (headers)
		  </label>
		</div>
		<div class="checkbox  m-b">
		  <label>
		    <%= f.check_box :load_new_files_only %>
			Only load files that were previously not loaded. Unchecked will reload any previously loaded files.
		  </label>
		</div>
		<div class="row">
			 <div class="col-xs-6">
	 			<%= f.label :delimiter, "File Delimiter", class: "control-label" %>
	 			<%= f.text_field :delimiter, class: "form-control ", placeholder: "Enter AUTO for auto detection" %>
			 </div>
			 <div class="col-xs-6">
 	 			<%= f.label :quote_char, "File Quote Character", class: "control-label" %>
 	 			<%= f.text_field :quote_char, class: "form-control ", placeholder: "Enter AUTO for auto detection" %>
			 </div>
		</div>
		 
	  </div>
	</div>
	
	<hr />
 	<div class="form-group m-t">
 	   <%= f.label :database, "Choose Target Database", class: " control-label" %>
      	
		<div class="input-group">
			<%= f.collection_select(:database_id, current_project.databases, 
				:id, :name, {}, { class: "form-control input-lg custom-select" }) %>
	      <span class="input-group-btn">
	        <%= link_to fa_icon("plus", "New Database"), new_database_path, class: "btn btn-lg btn-success-outline" %>
	      </span>
			
		</div>	     	  
 	</div>
 	<div class="form-group">
		<%= f.label :file_mapping_type, "File to Table Mapping Type", class: "control-label" %>
		<div class="input-group">
	  		 <%= f.collection_select(:file_mapping_type, BucketLoader::FILE_MAPPING_TYPES, 
	  			:last, :first, {include_blank: "Choose a Type"}, { class: "form-control input-lg custom-select" }) %>
		      <span class="input-group-btn">
		        <%= link_to fa_icon("question-circle", ""), "#", class: "btn btn-lg btn-default",
				data: {toggle: "modal" , target: "#mapping-type-help"} %>
		      </span>
		</div>
		<p class="help-block">All child files will be loaded into the same table</p>     	  
 	</div>
	
	<button class="btn btn-md btn-info-outline text-left" type="button" data-toggle="collapse" data-target="#table-options" aria-expanded="false" aria-controls="table-options">
	  <i class="fa fa-expand"></i>	
	  Show Advanced Table Options
	</button>
	<br /> <br />
	<div class="collapse" id="table-options">
	  <div class="well">
		
		<div class="form-group">
			<%= f.label :load_type, "Load Type: Replace or Append to Existing Table", class: "control-label" %> <br/>
			
      		<%= f.collection_radio_buttons(:load_type, BucketLoader.load_types, :first, :first, 
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, class: "radio-inline") { b.radio_button + b.text.titleize.split(" ").last } } %>
			
		</div>
		 <div class="row m-t">
			 <div class="col-xs-6">
	 			<%= f.label :target_table_prefix, "Target Table Name Prefix", class: "control-label" %>
	 			<%= f.text_field :target_table_prefix, class: "form-control ", placeholder: "Optional" %>
			 </div>
			 <div class="col-xs-6">
	 			<%= f.label :target_table_suffix, "Target Table Name Suffix", class: "control-label" %>
	 			<%= f.text_field :target_table_suffix, class: "form-control ", placeholder: "Optional" %>
			 </div>
		</div>
		 
 		 <!-- <div class="row m-t">
 			 <div class="col-xs-6">
 	 			<%= f.label :pre_sql_id, "Choose Pre SQL Script", class: "control-label" %>
   	  		 	<%= f.select(:pre_sql_id, Script.where(user: current_user).collect {|s| [s.name, s.id]},
					{ :include_blank => "None" }, { class: "control-label custom-select" } ) %>
 			 </div>
 			 <div class="col-xs-6">
 	 			<%= f.label :post_sql_id, "Choose Post SQL Script", class: "control-label" %>
   	  		 	<%= f.select(:post_sql_id, Script.where(user: current_user).collect {|s| [s.name, s.id]},
					{ :include_blank => "None" }, { class: "control-label custom-select" } ) %>
 			 </div>
 		</div> -->
		 
	  </div>
	</div>
	
	<hr/>
		<div class="form-group">
			<%= f.label :notify_type, "Notification Type", class: "control-label" %> <br/>
		
	  		<%= f.collection_radio_buttons(:notify_type, BucketLoader.notify_types, :first, :first, 
	  		 	{}, {}) {|b| b.label(:"data-value" => b.value, class: "radio-inline") { b.radio_button + b.text.titleize } } %>		
		</div>
		<div class="form-group">
			<%= f.label :notification_emails, "Notifications Email List (Comma Separated)" %>
			<%= f.text_field :notification_emails, class: "form-control input-lg", placeholder: "Comma sepparated list of emails", value: (f.object.notification_emails || current_user.email) %>
		</div>
 	   
   	<%= render partial: 'shared/schedule', locals: { f: f, schedulable: @bucket_loader, include_schedule_button: true }%>	   
	
	  
	<div class="m-t-lg">
		<hr />
		<%= link_to "Cancel", bucket_loaders_path, class: "btn btn-warning" %>
		<%= f.submit "Save", class: "btn btn-primary "%>
	</div>
<% end %>

<div class="modal fade" id="mapping-type-help" tabindex="-1" role="dialog" aria-labelledby="mapping-type-help">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About File to Table Mapping Types</h4>
      </div>
      <div class="modal-body p-a " style="height:400px;overflow: scroll;">
	    
		<h4 >Each file maps to a single table</h4>
	    <p >This means every single file that matches the crieteria defined in this bucket loader will be loaded into a corresponding table.  The target table name will be derived from the entire file name.</p>
		<hr /> 
	    <h4 >Each root level maps to a single table</h4>
	    <p >Assume your object key is as follows: <br/><strong><i>daily-activity/2017/04/01/09/activity.log</i></strong>
		</p><p>In this case the root level <i>dail-activity</i> will be loaded into a target table called "daily_activity".  All child files beneath this level will be loaded into the same table. In other words, <strong><i>daily-activity/2017/04/01/09/activity.log</i> </strong>and <i>daily-activity/2017/04/<strong>02</strong>/09/activity.log</i> etc., will all be loaded into "daily_activity".
		</p>
		 
 		<hr /> 
 	    <h4 >Up to the second level maps to a single table</h4>
 	    <p >Assume your object key is as follows: <br/><strong><i>daily-activity/2017/04/01/09/activity.log</i></strong>
 		</p><p>In this case the following is upto the second level: <i>dail-activity/2017</i>. It will be loaded into a target table called "daily_activity_2017".  All child files beneath this level will be loaded into the same table. In other words, <i>daily-activity/2017/04/01/09/activity.log</i> and <i>daily-activity/2017/04/<strong>02</strong>/09/activity.log</i> etc., will all be loaded into "daily_activity_2017".
 		</p>
		 
  		<hr /> 
  	    <h4 >Up to the third level maps to a single table</h4>
  	    <p >Assume your object key is as follows: <br/><strong><i>daily-activity/2017/04/01/09/activity.log</i></strong>
  		</p><p>In this case the following is upto the third level: <i>dail-activity/2017/04</i>. It will be loaded into a target table called "daily_activity_2017_04".  All child files beneath this level will be loaded into the same table. In other words, <i>daily-activity/2017/04/01/09/activity.log</i> and <i>daily-activity/2017/04/<strong>02</strong>/09/activity.log</i> etc., will all be loaded into "daily_activity_2017".
  		</p>
		 
		 <p class="text-primary">
			 The rest of the options proceeds as described above with varying levels.
		 </p>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

