<a class="btn btn-primary-outline m-b" onclick="lodr.bucket_loader.getPreview();return false;"><i class="fa fa-refresh"></i> Refresh Preview</a>

<% if @preview %>
	<div class="bucket_loader_preview p-a over-x-a">
		<h4>Preview of Generated Tables and File Mappings</h4>
		<p class="help-block m-b">Only the first 10 target tables are shown</p>
		<% @preview.each do |key, value| %>
		<div class="bucket_loader_preview_table m-b">
				<p ><i class="fa fa-table"></i> &nbsp;<%= key %></p>
					<ul class="fa-ul p-l-lg">
						<% value.each do |v| %>
							<li ><i class="fa-li fa fa-file-o"></i> <%= v %></li>
						<% end %>
					</ul>	
				
		</div>
		<% end %>
		
	</div>
<% else %>
	<div class="alert alert-danger"><%= @bucket_loader.errors.full_messages.join("\n") %></div>
<% end %>