

<div class="row">
	<div class="col-sm-6">
		<h1 class="page-title">Editing Bucket Loader</h1>
		<%= render partial: 'form', locals: {loader: @bucket_loader} %>
	</div>
	<div class="col-sm-6 bucket_loader_preview_section p-a-lg" data-preview-path="<%= preview_bucket_loaders_path(@bucket_loader) %>">
		
	</div>
</div>
