<div class="row">
	
	<div class="col-md-5">
		<div class="titled-label">
			<label>LOADER NAME</label>
			<h1 class="title"><%= @bucket_loader.name %> </h1>
				<div class="btn-toolbar m-b">
				<%= link_to(edit_bucket_loader_path(@bucket_loader), class: "btn btn-info btn-xs") do %>
					<i class="fa fa-pencil" aria-hidden="true"></i> Edit
				<% end %>
			
				<% if @bucket_loader.errors.empty? && !@bucket_loader.is_running? %>
					<%= link_to(run_bucket_loader_path(@bucket_loader), method: :post, class: "btn btn-primary btn-xs", title: "Run the load") do %>
						<i class="fa fa-play-circle" aria-hidden="true"></i> Run
					<% end %>
				<% end %>
			
				<% if @bucket_loader.is_running? %>
					<%= link_to(cancel_bucket_loader_path(@bucket_loader), method: :delete, class: "btn btn-danger btn-xs", title: "Cancel current job") do %>
						<i class="fa fa-ban" aria-hidden="true"></i> Cancel
					<% end %>
				<% end %>
			</div>
		</div>
	
		<% unless @bucket_loader.last_run.nil? %>
			<p class="text-muted"><i class="fa fa-clock-o"></i>&nbsp; 
				last ran <%= time_ago_in_words(@bucket_loader.last_run.created_at) %> ago</p>
					
			<div class="file-status">
				<div class="loader-status">
					<% if @bucket_loader.last_run.failed? %>
						<span class="label label-danger <%= @bucket_loader.last_run.status %>" 
							data-loader-id="<%= @bucket_loader.id %>" >Failed</span>
					<% elsif @bucket_loader.last_run.running? %>
						<span class="label label-primary <%= @bucket_loader.last_run.status %>"
							data-loader-id="<%= @bucket_loader.id %>"  ><%= @bucket_loader.last_run.status.titleize %></span>&nbsp;<i class="fa fa-spinner fa-spin"></i>		<% elsif @bucket_loader.last_run.done? %>
						<span class="label label-success <%= @bucket_loader.last_run.status %>" 
							data-loader-id="<%= @bucket_loader.id %>" >Done</span> 					
					<% else %>
						<span class="label label-info <%= @bucket_loader.last_run.status %>"
							data-loader-id="<%= @bucket_loader.id %>" > <%= @bucket_loader.last_run.status.titleize %> </span>
					<% end %>
				</div>
			</div>
		
		<% end %>
	
		<% if @bucket_loader.scheduled? %>
			<h6 class="m-t">SCHEDULED: </h6>
		
			<p class="text-info"><i class="fa fa-clock-o"></i>&nbsp; 
				next run on <%= @bucket_loader.next_occurrence.strftime('%B %d, %Y %I:%M %p %Z') %> </p>
			<p class="text-info"><i class="fa fa-calendar-o"></i>&nbsp; 
				Runs <%= @bucket_loader.schedule_in_words %> </p>
		<% end %>
	</div>


	
		<div class="col-md-2 col-xs-6">
			<div class="titled-label">
				<label class="label"><i class="fa fa-database"></i>&nbsp; DATABASE</label>
				<% if @bucket_loader.database.nil? %>
					<h4><%= link_to "FIXME", edit_bucket_loader_path(@bucket_loader)  %></h4>
				<% else %>
					<h4><%= @bucket_loader.database.name %></h4>
				<% end %>
			</div>
			<div class="titled-label">
				<label class="label">MODE</label>
				<h4><%= @bucket_loader.file_mapping_type.titleize %></h4>				
			</div>
			<div class="titled-label">
				<label class="label">BUCKET</label>
				<% if @bucket_loader.s3_bucket.nil? %>
					<h4 class="text-danger">
						<%= link_to "FIXME", edit_bucket_loader_path(@bucket_loader) %></h4>
				<% else %>
					<h4><%= link_to @bucket_loader.s3_bucket.bucket_name, s3_bucket_path(@bucket_loader.s3_bucket) %></h4>			
				<% end %>	
			</div>
			<div class="titled-label">
				<label class="label">LOAD TYPE</label>
				<h4><%= @bucket_loader.load_type.titleize %></h4>				
			</div>
		</div>
		
		<div class="col-md-2 col-xs-6">
			<div class="titled-label">
				<label class="label">LOAD NEW ONLY</label>
				<h4 title="Load new files only"><%= @bucket_loader.load_new_files_only %></h4>				
			</div>
			<div class="titled-label">
				<label class="label">PREFIX</label>
				<h4><%= @bucket_loader.prefix %></h4>				
			</div>
			<div class="titled-label">
				<label class="label"><i class="fa fa-filter"></i>&nbsp; FILTER</label>
				<h4><%= @bucket_loader.file_filter.blank? ? "NONE" : @bucket_loader.file_filter %></h4>				
			</div>
		</div>	
		
		<div class="col-md-2 col-xs-6">
			<div class="titled-label">
				<label class="label">LOADERS</label>
				<h4 title="Number of Loaders Created. Each loader targets a single table."><%= @bucket_loader.loaders.count %></h4>				
			</div>
			<div class="titled-label">
				<label class="label">TOTAL FILES</label>
				<h4><%= @bucket_loader.source_files.count %></h4>				
			</div>
			<div class="titled-label">
				<label class="label"><i class="fa fa-envelope-o"></i>&nbsp; NOTIFICATION</label>
				<h4><%= @bucket_loader.notify_type.titleize %></h4>				
			</div>
		</div>
</div>

<% unless  @bucket_loader.valid? %>
	<div class="alert alert-danger">
		<p><strong>This loader is not configured properly:</strong></p>
		<ul>
		<% @bucket_loader.errors.full_messages.each do |m| %>
			<li><%= m %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<div class="lodr-pretty-table m-t-md over-x-a">
<h4 class="table-title">LOAD HISTORY</h4>	
<table class="table table-striped m-t-md">
	<thead>
		<tr>
			<th>Started At</th>
			<th>Status</th>
			<th>Prep Duration</th>
			<th>Duration</th>
			<th title="Succeded files / Attempted files ( percent successful )">File Success Rate</th>
			<th>Rows</th>
			<th>Volume</th>
			<th>Message</th>
		</tr>
	<thead>
	<tbody>
		<% @histories.each do |bh| %>
			<tr>
				<td><%= formatted_time bh.created_at %></td>
				<td>
					<% if bh.done? %>
						<span class="label label-success"><%= bh.status.titleize %></span>
					<% elsif bh.failed? %>
						<span class="label label-danger"><%= bh.status.titleize %></span>
					<% elsif bh.running_loads? %>
						<span class="label label-primary"><%= bh.status.titleize%></span>
					<% else %>
						<span class="label label-info"><%= bh.status.titleize %></span>
					<% end %>
				</td>
				<td><%= humanize_seconds bh.prep_duration %></td>
				<td><%= humanize_seconds bh.duration if bh.duration %></td>
				<td><%= bh.succeeded_files %> / <%= bh.files_to_load %> ( <%=( bh.percent_succeeded * 100 ).ceil %>% )</td>
				<td><%= number_to_human bh.rows_processed, units: num_units %></td>
				<td><%= number_to_human_size bh.volume_processed %></td>
				<td>
					<% if bh.failure_message %>
					<a href="#" data-target="#errorModal" data-toggle="modal"
						data-body="<%= bh.failure_message %>">
						<%= bh.failure_message[0..10]+"..." %>
					</a>
					
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @histories, {"data-scroll" => true, :param_name => 'history_page'} %>
</div>

<div class="lodr-pretty-table m-t-lg over-x-a">
<h4 class="table-title">LOADERS</h4>
<span class="help-block">Each loader corresponds to 1 table but may include more than 1 source file</span>	
<table class="table table-striped m-t-md">
	<thead>
		<tr>
			<th>Loader</th>
			<th>Last Run Status</th>
			<th>Target Table</th>
			
			<th>Mode</th>
			<th>Last Ran At</th>
			<th>Duration</th>
			<th>Rows Processed</th>
		</tr>
	<thead>
	<tbody>
		<% @loaders.each do |bh| %>
			<tr>
				<td><%= link_to bh.name, show_loader_path(bh) %>
				<td>
					<% if bh.last_run %>
						<% if bh.last_run.succeeded? %>
							<span class="label label-success"><%= bh.last_run.status.titleize %></span>
						<% elsif bh.last_run.failed? %>
							<span class="label label-danger"><%= bh.last_run.status.titleize %></span>
						<% elsif bh.last_run.is_running? %>
							<span class="label label-primary"><%= bh.last_run.status.titleize %></span>
						<% else %>
							<span class="label label-info"><%= bh.last_run.status.titleize %></span>
						<% end %>
					<% end %>
				</td>
				<td><%= bh.target_table_name %></td>				
				<td><%= bh.update_mode.split("_").last.titleize %></td>
				<td><%= time_ago_in_words bh.last_run.created_at if bh.last_run %> ago</td>
				<td><%= humanize_seconds bh.last_run.duration if bh.last_run %></td>
				<td><%= number_to_human bh.last_run.input_rows, units: num_units if bh.last_run %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @loaders, {"data-scroll" => true, :param_name => 'loader_page'} %>
</div>

<div class="lodr-pretty-table m-t-lg over-x-a">
<h4 class="table-title">SOURCE FILES</h4>
<table class="table table-striped m-t-md">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Size</th>
			<th>Est. Rows</th>
			<th>Columns</th>
			<th>Delimiter</th>
		</tr>
	<thead>
	<tbody>
		<% @sources.each do |bh| %>
			<tr>
				<td><%= link_to bh.name, source_path(bh) %>
				<td>
					<% if bh.ready? %>
						<span class="label label-success"><%= bh.status.titleize %></span>
					<% elsif bh.loaded? %>
						<span class="label label-primary"><%= bh.status.titleize %></span>
					<% elsif bh.failed? %>
						<span class="label label-danger"><%= bh.status.titleize %></span>
					<% else %>
						<span class="label label-info"><%= bh.status.titleize %></span>
					<% end %>
				</td>
				<td><%= number_to_human_size bh.size %></td>
				<td><%= number_to_human bh.rows, units: num_units %></td>
				<td><%= bh.columns %></td>
				<td><%= bh.delimiter %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @sources, {"data-scroll" => true, :param_name => 'sources_page'} %>
</div>

<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
		class: "form-control custom-select pull-right m-t-md", style: "width:80px",
       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>

<%= render 'shared/error_modal'%>