<div class="browser-panel">
	<div class="browser-panel-header">
		
		<span class="icon icon-database db <%= @database.test_connection_status %>"
				data-toggle="tooltip" data-placement="right" 
				title="<%= @database.failed? ? @database.test_error : @database.testing? ? 'Testing...' : 'Connected' %>" > </span>
		 
		<span class="header-label"> <%= @database.name %> </span>
				
		<div class="dropdown btn-group pull-right browser-menu">
		  <button class="btn dropdown-toggle" type="button" id="db-dropdown" 
		  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    
		    <i class="fa fa-chevron-down" aria-hidden="true"></i>
		  </button>
	
			<ul class="dropdown-menu" aria-labelledby="db-drop-down">
				<li><%= link_to "Edit Connection", edit_database_path(@database), id: "edit-db-conn" %> </li>			
				<li><%= link_to "Refresh", refresh_database_path(@database), remote: true, 
					method: :patch, id: "refresh-db-schema" %> </li>
				
				<li role="separator" class="divider"></li>
				<li class="dropdown-submenu">
			        <a class="submenu" tabindex="-1" href="#">Switch Database <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i></a>
			        <ul class="dropdown-menu">
						<% current_project.databases.each do |d| %>		
							<li	data-toggle="tooltip" data-placement="right" 
								title="<%= d.failed? ? d.test_error[0..150] : d.testing? ? 'Testing...' : 'Connected' %>"> 
								<% if @script %>
									<%= link_to fa_icon('database', d.name, "db #{d.test_connection_status}"), db_sql_path(@script,d), 
									remote: true, method: :patch  %></li>
								<% else %>
									<%= link_to fa_icon('database', d.name, "db #{d.test_connection_status}"), d, remote: true  %></li>
								<% end %>
						<% end %>
			        </ul>
			      </li>
			</ul>	
		</div>
		<input type="text" id="js-db-search" placeholder="search..." class="form-control">
		
		<% @schema = params[:schema] || 'public' %>
		<div class="dropdown m-t browser-menu">
		  <button class="btn btn-default dropdown-toggle" type="button" id="schemaMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    <i class="fa fa-bars"> </i>
			<span class="header-label">Schema: <strong><%= @schema %></strong></span>
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="schemaMenu">
		    <% @database.tables.pluck(:schema).uniq.each do |s| %>
				<li class="<%= 'active' if s == @schema %>" >
					<%= link_to s, database_path(@database, schema: s), remote: true  %></li>
				</li>
			<% end %>
		  </ul>
		</div>
	</div>
	
	<div class="browser-panel-body">
		<% if @database.schema_failed? %>
			<div class="text-danger" style="word-break: break-all;"><small><%= @database.schema_error[0..400] %></small></div>
		<% end %>
		
		<% @database.tables.where(schema: @schema).order(name: :asc).each do |t| %>
		
			<button class="btn tree-node table-item" type="button" data-toggle="collapse" data-target="#columns_<%= t.id %>" 
				data-table-def="<%= (t.to_json) %>"
				aria-expanded="false" aria-controls="collapseExample">
				<% if t.view? %>
					<i class="fa fa-th fa-fw table_type_view" aria-hidden="true"></i>
				<% else %>
					<i class="fa fa-table fa-fw table_type_table" aria-hidden="true"></i>
				<% end %>
				<span class="db-table-name"><%= t.name %></span>
			</button>
			
						
			<ul class="table-columns collapse fa-ul" id="columns_<%= t.id %>">
				<% t.columns.sort_by{|c| c["name"]}.each do |c| %>
					<li class="table-column has-browse-tools" >
						<% case c["data_type"]
								   when "character varying", "varchar", "nvarchar", "text" %>
									   
								<i class="fa-li fa fa-fw fa-text-width" aria-hidden="true" ></i>
							<% when "character", "char", "nchar", "bpchar" %>
								<i class="fa-li fa fa-font fa-fw" aria-hidden="true"></i>
							<% when "integer", "smallint", "bigint","decimal","numeric", "real", "double precision" %>
								<i class="fa-li fa fa-fw text" aria-hidden="true">#</i>
							<% when "boolean" %>
								<i class="fa-li fa fa-fw fa-toggle-on" aria-hidden="true"></i>
							<% when "date" %>
								<i class="fa-li fa fa-calendar fa-fw" aria-hidden="true"></i>
							<% when "timestamp without time zone","timestamp", "timestamp with time zone" %>
								<i class="fa-li fa fa-clock-o fa-fw" aria-hidden="true"></i>
						<% end %>
						
						<span class="db-table-col-name" title="double click to add to editor"><%= c["name"] %></span>
						
					</li>
				<% end %>				
			</ul>
		<% end %>		
	</div>
</div>

<% if @database.tables.size == 0 && !@database.schema_failed? %>
<script>
	$(function(){
		$("#refresh-db-schema").trigger('click');	
	});
</script>
<% end %>


<ul class="dropdown-menu sql-context-menu" aria-labelledby="table-ctx-menu" id="table-context-menu" style="position:absolute; left:100px; top:100px;">
	<li><a href="#" onclick="lodr.sql.cx.select();">Select </a></li>			
	<li><a href="#" onclick="lodr.sql.cx.create();">Create</a></li>	
	<li><a href="#" onclick="lodr.sql.cx.drop();">Drop</a></li>	
	<li><a href="#" onclick="lodr.sql.cx.alter();">Alter</a></li>	
	<li role="separator" class="divider"></li>
	<li><a href="#" onclick="lodr.sql.cx.def();">Show Definition</a></li>
</ul>

<div class="modal fade" id="table-def-modal" tabindex="-1" role="dialog" aria-labelledby="tableDefModal">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       
		<h4 class="modal-title">
			<span class="actual-title"> Modal title </span>
			<span class="label label-primary">table</span>
		</h4>		
      </div>
      <div class="modal-body">
	      <div class="modal-body-table">
		  
	      </div>
      </div>
	  <div class="modal-footer">
		  
	  </div>
    </div>
  </div>
</div>

	
	