<%= form_for(@database, html: {class: "next-submit-form"}) do |f| %>

	<% if @database.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
	      Please fix <%= pluralize(@database.errors.count, "error") %>
	  </div>
	<% end %>
	
		<div class="form-group">
			<%= f.label :name, "Target Name" %>
			<%= f.text_field :name, class: "form-control input-lg", placeholder: "A memorable name for easy reference" %>
		</div>
		
		<div class="form-group">
			<%= f.label :server, "Host Address / Server" %>
			<%= f.text_field :server, class: "form-control input-lg", placeholder: "IP Address or URL" %>
		</div>
		
		<div class="form-group">
			<%= f.label :port, "Port" %>
			<%= f.number_field :port, class: "form-control input-lg", placeholder: "5439" %>
		</div>
		
		<div class="form-group">
			<%= f.label :db_name, "Database Name" %>
			<%= f.text_field :db_name, class: "form-control input-lg", placeholder: "Name of your actual database" %>
		</div>
		
		<div class="form-group">
			<%= f.label :user_name, "User Name" %>
			<%= f.text_field :user_name, class: "form-control input-lg", 
				placeholder: "User name used to access the database" , autocomplete: "off"%>
			<p class="help-block">This user should have write access to the database specified above</p>
		</div>
		<div class="form-group">
			<%= f.label :password, "Password" %>
			<%= f.password_field :password, class: "form-control input-lg", placeholder: "Password", autocomplete: "off" %>
			<% unless @database.new_record? %>
			<p class="help-block">Leave password blank unless you intend to change it</p>
			<% end %>
		</div>
		
		<button class="btn btn-info-outline" type="button" data-toggle="collapse" data-target="#advanced" aria-expanded="false" aria-controls="advanced">
		  <i class="fa fa-expand"></i> Show Advanced Options
		</button>
		<br /> <br />
		<div class="collapse" id="advanced">
		  <div class="well">
			<div class="form-group">
				<%= f.label :properties, "Connection Properties" %>
				<% props={} ; props = JSON.parse @database.properties if @database.properties %>
				<table id="properties" class="no-borders table table-condensed">
					<% props.each_pair do |key,val|%>
						<tr class="keypair">
							<td><input class="form-control" type="text" placeholder="key" 
								name="props[key_<%= key %>]" 
								value="<%= key %>"></td>
							<td><input class="form-control" type="text" 
								placeholder="value" name="props[val_<%= key %>]"
								value="<%= val %>"></td>
							<td><a href="#" class="delete-prop btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> </a></td>
						</tr>					
					<% end %>
					<tr class="keypair">
						<td><input class="form-control" type="text" placeholder="key" name="props[key_<%= props.size+1 %>]" ></td>
						<td><input class="form-control" type="text" placeholder="value" name="props[val_<%= props.size+1 %>]" ></td>
						<td><a href="#" class="delete-prop btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> </a></td>
					</tr>					
				</table>
				
				<a href="#" id="add-prop" class="btn btn-sm btn-success">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add</a>
			</div>  
			  
			  
			<div class="form-group">
				<%= f.label :jdbc_url, "Custom JDBC URL" %>
				<%= f.text_field :jdbc_url, class: "form-control", 
					placeholder: "jdbc:redshift://servername:5439/databasename" %>
				<p class="help-block">When present we will use this url to connect</p>
			</div>
		  </div>
		</div>
  	
  
  	<hr />
	<%= link_to "Cancel", @loader.nil? ? databases_path : loader_target_table_path(@loader), class: "btn btn-warning" %>
	<%= f.submit "Save", class: "btn btn-primary w-sm"%>
	
	<p class="help-block m-t">The database connection will be <strong>tested</strong> on Save</p>

<% end %>

<div class="m-b-lg"> &nbsp;</div>

