<div class="database-ad-block p-a">
	<h4>Get a fully managed Lodr Cloud Data Warehouse</h4>
	<p>Worry free data management starting at <strong>$70 per month!</strong></p>
	<ul>
		<li>Automatic Tuning</li>
		<li>Secure Integrations</li>
		<li>Auto Backup and Recovery</li>
		<li>Advisory Services</li>
	</ul>
	<div class="btn-toolbar">
		<%= link_to "Learn More", page_path('articles/team-cloud-data-warehouse'), class: "btn btn-info btn-square" %>
		
	    <%= mail_to "ajo@lodr.io", "Request Info", 
	   	subject: "Interest in Lodr Cloud Data Warehouse", 
	   	body: "Hello,\n\n I would like to learn more about the cloud data warehouse offering.\n\nI'm available to chat at these times: \n\n 12:30 EST this coming Monday",
	   	class: "btn btn-warning btn-square" %>
		
	</div>
</div>