<%= render 'shared/database_event' %>

<h1 class="page-title">Target Databases</h1>


<div class="row">
	<div class="col-xs-6">
		<%= link_to fa_icon("database","New Database"), new_database_path, class: "btn btn-sm btn-primary-outline"%>
	</div>
</div>

<br />

<table class="table table-striped table-hover">
	<thead><tr>
		<th>Target</th>
		<th>Server Host</th>
		<th>Port</th>
		<th>Database Name</th>
		<th>User Name</th>
		<th>Connection Status</th>
		<th>Error Message</th>
		<th>Actions</th>
	</tr></thead>
	
	<tbody>
		<% @databases.each do |t| %>
			<tr id="database_<%= t.id %>" data-target-id="<%= t.id %>" class="<%= t.test_connection_status %>">
				<td><%= link_to t.name, edit_database_path(t) %></td>
				<td class="nowrap-cell" title="<%= t.server %>"><%= t.server %></td>
				<td><%= t.port %></td>
				<td><%= t.db_name %></td>
				<td><%= t.user_name %></td>
				<td>
					<% if t.failed? %>
						<span class="label label-danger"><%= t.test_connection_status.capitalize %></span>
					<% elsif t.testing? %>
						<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;<span class="label label-warning"> <%= t.test_connection_status.capitalize %></span>
					<% else %>
						<span class="label label-success"><%= t.test_connection_status.capitalize %></span>
					<% end %>					
				</td>
				<td class="nowrap-cell"><a href="#" data-target="#errorModal" 
					data-toggle="modal"
					data-body="<%= t.test_error %>"><%= t.test_error %></a></td>
				<td><%= link_to fa_icon("trash","Delete"), database_path(t), method: :delete,
					data: {confirm: "Are your sure you want to delete target db connection \n\t #{t.name}"},
					class: "btn btn-xs btn-danger" %> </td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if @databases.count ==0 %>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/N8MNJFt7CV4" frameborder="0" allowfullscreen></iframe>
	</div>
<% end %>

<div class="m-t-lg">
	<%= render 'database_ad_block' %>
</div>

<%= render 'shared/error_modal' %>

<script id="_database_row" type="text/x-handlebars-template">
	<td>{{{ name }}}</td>
	<td class="nowrap-cell" title="{{server}}">{{server}}</td>
	<td>{{ port }}</td>
	<td>{{ db_name }}</td>
	<td>{{ user_name }}</td>
	<td>
		{{{ status_html }}}					
	</td>
	<td class="nowrap-cell"><a href="#" data-target="#errorModal" data-toggle="modal" data-body="{{ test_error }}">{{ test_error }}</a></td>
	<td>
		{{{ delete_html }}}
	</td>
</script>