<div class="row">
	<div class="col-sm-6 p-a">
		<h1 class="m-b text-info"><%= fa_icon("database","","text-primary") %>&nbsp;New Database</h1>

		<%= render @database %>
	</div>
	<div class="col-sm-offset-1 col-sm-5">
		<div class="row alert alert-warning m-t-lg max-400" >
			<div class="col-xs-2">
				<%= fa_icon("info-circle","","fa-2x")%>
			</div>
			<div class="col-xs-10">
				<p>Please ensure the following IP Addresses are whitelisted: </p>
				<ul>
					<% Rails.application.secrets.lodr_static_ips.each do |ip| %>
						<li><strong><%= ip %></strong></li>
					<% end %>
				</ul>
				<p>For alternative options of connnection please email us at <%= mail_to "support@lodr.io" %></p>
				
				<p><strong>Whitlisting Doc: </strong><a href="https://blog.lodr.io/how-to-allow-lodr-io-connect-to-your-aws-redshift-cluster-37849979cf34#.gz1sd3r9a" target="_blank">Whitelisting Access to Redshift Cluster</a></p>
			</div>
		</div>		
		
		<div class="m-t-md">
			<%= render 'database_ad_block' %>
		</div>
		
	</div>
</div>