$(function(){
	if($("#database .dropdown-menu").is(":visible")){
		$('#database .browser-menu').trigger('click');
	}	
	if(lodr.sql.schema_fetch_timer){
		clearTimeout(lodr.sql.schema_fetch_timer);
	}
	
	$("#database .schema_status").remove();
	$("#database .browser-panel-header")
		.append('<div class="schema_status"><i class="fa fa-spinner fa-spin"></i> Fetching Schema... </div>');
	lodr.sql.schema_fetch_timer = setTimeout(function(){
		$.getScript('<%= database_path(@database) %>');
	}, (2500*Math.random()));	
});	