
$(function(){
	if(lodr.sql.schema_fetch_timer){
		clearTimeout(lodr.sql.schema_fetch_timer);
	}
	
	// $("#database .browser-panel-body").empty();
	$("#database .browser-panel-header .header-label").text("<%= @database.name %>");
	$("#refresh-db-schema").attr('href', '<%= refresh_database_path(@database) %>');
	$("#edit-db-conn").attr('href', '<%= edit_database_path(@database) %>');
	
	<% if @database.schema_fetching? || @database.schema_status.nil? %>
		$("#database .schema_status").remove();
		$("#database .browser-panel-header")
			.append('<div class="schema_status"><i class="fa fa-spinner fa-spin"></i> Fetching Schema... </div>');
		
		lodr.sql.schema_fetch_timer = setTimeout(function(){
			$.getScript('<%= database_path(@database) %>');
		}, (2500*Math.random()));		
	<% elsif @database.schema_failed? %>
		$("#database .schema_status").remove();
		$("#database .browser-panel-header")
			.append('<div class="schema_status text-danger">' +
						'<i class="fa fa-exclamation-circle"></i> Schema Failed... </div>' +
					'<div class="text-danger"  style="word-break: break-all;" ><small><%= j(@database.schema_error[0..300]) %></small></div>');
	<% else %>
		$("#database").empty().append("<%= raw escape_javascript(render 'databases/browser') %>");
		$("#database .browser-panel-header")
				.append('<div class="schema_status text-success" style="word-break: break-all;" ><i class="fa fa-check-circle"></i> Fetched Schema </div>');
		
				
			setTimeout(function(){
				$(".schema_status").slideUp().delay(1500).remove();
				lodr.sql.resize();
			}, 5000);
	<% end %>
			
	lodr.sql.resize();
});