<% @databases.each do |t| %>
	$("#database_<%= t.id %>").html(
		lodr._target_row({
			name: '<%= link_to t.name, edit_database_path(t) %>'
			, server: "<%= t.server %>"
			, port: <%= t.port %>
			, db_name: "<%= t.db_name %>"
			, user_name: "<%= t.user_name %>"
			, status_html: 
					<% if t.failed? %>
						'<span class="label label-danger"><%= t.test_connection_status.capitalize %></span>'
					<% elsif t.testing? %>
						'<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;<span class="label label-warning"> <%= t.test_connection_status.capitalize %></span>'
					<% else %>
						'<span class="label label-success"><%= t.test_connection_status.capitalize %></span>'
					<% end %>
			, test_error: '<%= t.test_error.gsub("\n"," ") if t.test_error %>'
			, delete_html: '<%= link_to "Delete", database_path(t), method: :delete, data: {confirm: "Are your sure you want to delete target db connection #{t.name}"}, class: "btn btn-xs btn-danger" %>'
		})
	);
	
	<% unless t.testing? %>
		$("#database_<%= t.id %>").removeClass("testing");
	<% end %>
<% end %>