

<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom wizard-path">
  <div class="container-fluid">
		
	<div class="wizard-links text-center" id="bs-example-navbar-collapse-1">
		<% if @loader && !@loader.choose_inputs? %>
			<%= link_to "BACK", loader_back_path(@loader), 
			{id: "wizard-previous-btn", class: "btn navbar-btn btn-sm btn-primary navbar-left"} %>
		<% else %>
			<a href="#" onclick="return;" class="btn navbar-btn btn-sm btn-default navbar-left disabled">BACK</a>
		<% end %>
		
		<%= link_to fa_icon('caret-right', "Choose Files"), 
			loader_sources_path, class: "wizard-link #{action_name == 'sources' ? 'active' : '' }" %> /
		<%= link_to fa_icon('caret-right', "Settings"), 
			loader_settings_path, class: "wizard-link  #{ action_name == 'settings' ? 'active' : '' }" %> /
		<%= link_to fa_icon('caret-right', "Transform"), 
			loader_transforms_path, class: "wizard-link   #{ action_name == 'transforms' ? 'active' : '' }" %> / 
		<%= link_to fa_icon('caret-right', "Target Table"), 
			loader_target_table_path, class: "wizard-link  #{ action_name == 'target_table' ? 'active' : '' }" %> / 
		<%= link_to fa_icon('caret-right', "Summary"), 
			loader_summary_path, class: "wizard-link   #{  action_name == 'summary' ? 'active' : ''  }" %> 
		
		<% if @loader.nil? && !session[:loader_id].nil?  %>
			<%= link_to "NEXT", edit_loader_path(session[:loader_id]), 
				{ class: "navbar-right btn navbar-btn btn-sm btn-primary" } %>
		<% elsif @loader.summary? && @loader.valid? %> 
			<div class="pull-right">
				<%= link_to "Run Now", loader_run_path(@loader), class: "navbar-btn btn btn-sm btn-danger" %>
			</div>
		<% else  %> 
		    <a id="wizard-next-btn" href="#" class="navbar-right btn navbar-btn btn-sm btn-primary">NEXT</a>
		<% end %> 
	</div>
		
	
	
  
  </div>
</nav>