<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("favicon/favicon-32x32.png"), loaders_path, class:"navbar-brand lodr-logo lodr-icon-only" %>
	  <% if @loader %>
		<p class="navbar-text"><%= @loader.name %></p>
	  <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="navigation">
	  
	  <% unless @loader.nil? %>
	  <p class="text-muted navbar-text hidden">Saving...</p>
	  <ul class="nav navbar-nav navbar-right">
			  <li><%= link_to "Exit", exit_wizzard_path %></li>	         
			  <li><%= link_to "Save & Exit", exit_loader_path, id: "save-exit"%></li>
        </ul>
	  <% end %>	  
	 
	</div><!-- /.navbar-collapse -->
	
	</div><!-- /.container-fluid -->
</nav>