<h3 class="text-info">Hello,</h3>

<p>Unfortunately bucket loader: <strong><%= @bl.name %></strong> failed</p>
<div class="error">
		<p><%= @bl.last_run.failure_message[0..200] + '...' %></p> 
</div>

<% if @bl.last_run %>

<p>Bucket Load Summary:</p>
<ul>
	<li>Prep Duration: <%= @bl.last_run.prep_duration %> (secs)</li>
	<li>Duration: <%= number_to_human @bl.last_run.duration %> (secs)</li>
	<li>% Jobs Failed: <%= (@bl.last_run.failed_percent * 100).ceil %>%</li>
	<li># Files to Load: <%= number_with_delimiter @bl.last_run.files_to_load %></li>
	<li># Succeeded Files: <%= number_with_delimiter @bl.last_run.succeeded_files %></li>
	<li># Failed Files: <%= number_with_delimiter @bl.last_run.failed_files %></li>
	<li># Rows Processed: <%= number_to_human @bl.last_run.rows_processed %></li>
	<li># Volume Processed: <%= number_to_human_size @bl.last_run.volume_processed %></li>
</ul>

<% end %>

<p><%= link_to 'See Details', bucket_loader_url(@bl), class: "btn btn-primary" %></p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>