<h3 class="text-info">Hello,</h3>

<p>We started running loads for the bucket loader: <strong><%= @bl.name %></strong> from the S3 bucket: <strong><%= @bl.s3_bucket.bucket_name %></strong></p>
<p>This load will attempt to load files into <strong><%= @bl.database.name %></strong> database.</p>

<% if @bl.last_run.running_loads?%>

<p>Bucket Load Summary:</p>
<ul>
	<li>Prep Duration: <%= @bl.last_run.prep_duration %></li>
	<li># Files to Load: <%= number_with_delimiter @bl.last_run.files_to_load %></li>
	<li># Loaders: <%= number_with_delimiter @bl.last_run.load_jobs.count %></li>
	<li>First 5 Loaders:
	<ol>
	<% @bl.last_run.load_jobs[0..5].each do |lj| %>
		<li><%= "#{lj.loader.target_table_name}"%>	
	<% end %>
	</ol>
	</li>
</ul>

<% end %>

<p><%= link_to 'See Details', bucket_loader_url(@bl), class: "btn btn-primary" %></p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>