<h3 class="text-info">Hi <%= @user.first_name == "__missing__" ? "there" : @user.first_name %>,</h3>

<p>Congratulations you've been invited to a new project on <%= link_to 'Lodr', dashboard_url(project_id: @project.id) %> called 
	<strong><%= @project.name %></strong> by <%= mail_to @inviter.email, @inviter.first_name %>.</p>


<% if @user.first_name == "__missing__" %>

<p>It appears that you might be new to Lodr.  We created an account for you with a temporary password.  Please use your email and the temp password below to login.</p>

<ul>
	<li>Email: <%= @user.email %></li>
	<li>Temp Password: <%= @temp_pass %></li>
</ul>

<% end %>

<p><%= link_to 'Start Loading Files', loaders_url(project_id: @project.id), class: "btn btn-info" %></p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>