<h3 class="text-info">Hi <%= @user.first_name %>,</h3>

<% if @load_job.failed? %>
	<p>Load job for loader <strong><%= @load_job.loader_name %></strong> failed with the following:</p>
	
	<% unless @load_job.execution_errors.blank? %>
		<div class="error">
				<p><%= @load_job.execution_errors[0..200] + '...' %></p> 
		</div>
	<% end %>

<% else %>

	<p>Congratulations! Loader <strong><%= link_to @load_job.loader_name,show_loader_url(@load_job.loader_id) %></strong> completed successfully.</p>

<% end %>

<p>Load Stats:</p>
<ul>
	<% if @load_job.selected_file %>
		<li>Auto selected file named: <br /><%= @load_job.selected_file %></li>
	<% end %>
	<li>Processed Rows: <%= number_with_delimiter @load_job.input_rows %></li>
	<li>Failed Rows: <%= number_with_delimiter @load_job.total_failed_rows %></li>
	<li>Duration: <%= number_to_human @load_job.duration %> secs</li>
	<li>Rows Per Second: <%= number_to_human @load_job.rows_per_second %></li>
</ul>

<p><%= link_to 'Dashboard', dashboard_url, class: "btn btn-info" %></p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>