<h3 class="text-info">Hi <%= @user.first_name %>,</h3>

<% if @zip.succeeded? %>
	<p>We successfully unzipped <strong><%= @zip.name %></strong> and extracted the following files:</p>
	<ul>
		<% @files.each do |f| %>
			<li><%= link_to f.clean_name, source_url(f) %>, <%= number_to_human_size f.size %>, Status: <%= f.status %>, <%= link_to "Load Now", loader_load_source_url(f) %></li>
		<% end %>
	</ul>

	<% unless @zip.failed_reason.blank? %>
		<div class="error">
				<h5>While the unzip was mostly successful there were a few issues</h5>
				<p><%= @zip.failed_reason %></p> 
		</div>
	<% end %>

<% else %>

	<p>Unfortunately we hit a snag while unzipping <strong><%= @zip.name %></strong>:</p>
		<div class="error">
				<p><%= @zip.failed_reason %></p> 
		</div>
	<ul>
		<% @files.each do |f| %>
			<li><%= link_to f.name, loader_load_source_url(f) %>, <%= number_to_human_size f.size %>, <%= f.status %> </li>
		<% end %>
	</ul>
	
	<p>We currently only support file types of csv, psv, txt, log, tsv</p>
	
	<p><%= link_to 'Sources Files', sources_url, class: "btn btn-info" %></p>

<% end %>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>