<% remaining_percent = (current_user.subscription.rows_remaining*1.0)/(current_user.subscription.plan.rows_per_month * 1.0) %>
<% qry_percent = (current_user.subscription.queries_remaining*1.0)/(current_user.subscription.plan.queries_per_month * 1.0) %>
<% qry_percent = 10 if current_user.subscription.plan.queries_per_month == -1 %>

<% if remaining_percent < 0.1 || qry_percent < 0.1 %>

<div class="alert alert-danger m-b-md">
<div class="row">	
	<div class="col-xs-2 col-sm-1">
		<%= fa_icon("exclamation-triangle",nil, "fa-2x") %>
	</div>
	<div class="col-xs-10 col-sm-11">
		You have <strong><%=  number_with_delimiter current_user.subscription.rows_remaining %> </strong> rows remaining this month. Only rows from successful or cancelled jobs are counted against your monthly quota.		
		
		<% if qry_percent != 10 %>
			<br /><br />
			You can run <strong><%= pluralize(current_user.subscription.queries_remaining, 'more query', 'more queries') %></strong> this months.  Consider upgrading to an unlimited plan.
		<% end %>
	</div>
</div>
</div>

<% elsif remaining_percent < 0.25  || qry_percent < 0.25 %>

<div class="alert alert-warning m-b-md">
	<div class="row">
	<div class="col-xs-2 col-sm-1">
		<%= fa_icon("exclamation-triangle",nil, "fa-2x") %>
	</div>
	<div class="col-xs-10 col-sm-11">
		You have <strong><%= number_with_delimiter current_user.subscription.rows_remaining %> </strong> rows remaining this month. Only rows from successful or cancelled jobs are counted against your monthly quota.
		
		<% if qry_percent != 10 %>
			<br /><br />
			You can run <strong><%= pluralize(current_user.subscription.queries_remaining, 'more query', 'more queries') %></strong> this months.  Consider upgrading to an unlimited plan.
		<% end %>
	</div>
</div>
</div>

<% else %>

<div class="alert alert-info m-b-md">
	<div class="row">
	<div class="col-xs-2 col-sm-1">
		<%= fa_icon("info-circle",nil, "fa-2x") %>
	</div>
	<div class="col-xs-10 col-sm-11">
		You have <strong><%=  number_with_delimiter current_user.subscription.rows_remaining %> </strong> rows remaining this month. Only rows from successful or cancelled jobs are counted against your monthly quota.
		
		<% if qry_percent != 10 %>
			<br /><br />
			You can run <strong><%= pluralize(current_user.subscription.queries_remaining, 'more query', 'more queries') %></strong> this months.  Consider upgrading to an unlimited plan.
		<% end %>
	</div>
	</div>
</div>

<% end %>