<div class="lite-panel lite-shadow m-y">
	<div class="lite-panel-header p-x p-t">
		<h2 class="text-info">Upgrade Summary</h2>
		
		<% if current_user.subscription.errors.any? %>
			<div class="alert alert-danger">
				<p>We encountered a few issues while processing this request: </p>
				<ul>
				<% current_user.subscription.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	<div class="lite-panel-body p-a-md p-x-lg">		
		
		<div class="row upgrade-summary-row">
			<div class="col-sm-3 titled-label">
				<label class="label">NEW PLAN</label>
				<h4><%= @plan.name %></h4>				
			</div>
			<div class="col-sm-5 titled-label">
				<label class="label">DETAILS</label>
				<h4><%= @plan.desc %></h4>				
			</div>
			<div class="col-sm-4 titled-label">
				<label class="label">AMOUNT</label>
				<h4><%= number_to_currency(@plan.amount / 100) %> per Month</h4>
			</div>
		</div>
				
		<%= form_tag account_subscribe_path, class: "m-t m-b-lg text-right" do %>
		  
		  <%= hidden_field_tag :stripe_id, @plan.stripe_id %>
		  
		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-name="Plan: <%= @plan.name %>"
				  data-description="<%= @plan.desc %>"
		          data-amount="<%= @plan.amount %>"
		  		  data-email="<%= current_user.email %>"
		  		  data-image="<%= image_path('icon_64x64_stripe.png') %>"
		  		  data-label="Submit Payment and Upgrade"
		  		  data-allow-remember-me="false"
		          data-locale="auto">
		  </script>
		  
		  
		<% end %>
	</div>
</div>