<div class="m-t-lg">
	
	<div class="row">
	  <div class="col-md-6">
		
	    <div class="panel panel-default lite-shadow">
	      <div class="panel-body p-b-md">
	        <h4 class="m-y-0"><i class="fa fa-cloud-upload"> </i> Upload Files from Your Computer</h4>
	        <p class="text-muted">Zip, CSV, TSV, PSV, TXT, and LOG are Acceptable</p>
	        <hr>
	        <p>Upload files from your computer.  Once uploaded, you can transform and load them into your Redshift Data Warehouse.</p>
	      
		  
  		  <%= link_to "Upload Files", upload_sources_path, class: "btn btn-lg btn-info w-full", data: {turbolinks: false} %>
		  </div>
	    </div>
		
	  </div>
	  
	  <div class="col-md-6">
	  
	    <div class="panel panel-default lite-shadow">
	      <div class="panel-body p-b-md">
	        <h4 class="m-y-0"><span class="icon icon-bucket"> </span>Connect AWS S3 Bucket</h4>
	        <p class="text-muted">Connect to your own AWS bucket and add files</p>
	        <hr>
	        <p>Choose files from your Amazon S3 buckets.  The credentials you use should have read and write access to the bucket.</p>
	      
		  	<%= link_to "Add S3 Bucket", new_s3_bucket_path, class: "btn btn-lg btn-warning w-full" %>
			<% if @buckets.length > 0 %>
				<hr />
				<h4 class="text-center m-y"> Or, Use Existing Bucket</h4>
				<% @buckets.each do |b| %>
					<%= link_to b.bucket_name, b, class: "btn btn-sm btn-info w-full m-b" %>
				<% end %>
			<% end %>
		  </div>
		  
	    </div>
	   
	  </div>
	  
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/58KreJ-p7AI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/N8MNJFt7CV4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
	<div class="embed-responsive embed-responsive-16by9 m-t">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/0bbNhQdK_Ck" frameborder="0" allowfullscreen></iframe>
	</div>

</div>
