<% if flash[:event] %>
	<script type="javascript">
		var plan = <%= flash[:event].html_safe %>;
		if(ga && plan && plan.amount){
			ga('send','event', 'subscriptions', plan.name, '<%= current_user.email %>', plan.amount/100);
		}
	</script>
<% end %>

<div class="lite-panel lite-shadow">
	<div class="lite-panel-header p-x p-t">
		<h2 class="text-info">Account Profile</h2>
	</div>
	<div class="lite-panel-body p-a-md p-x-lg">
		<div class="row">
			<div class="col-sm-2 text-right">
				<label class="text-muted">Full Name</label>
			</div>
			<div class="col-sm-4 text-left"><h4 class="m-t-0"> <%= current_user.full_name %> </h4></div>
			<div class="col-sm-2 text-right">
				<label class="text-muted">Last Login</label>
			</div>
			<div class="col-sm-4 text-left">
				<h4 class="m-t-0"> 
				<%= formatted_time(current_user.last_sign_in_at) %> 
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 text-right">
				<label class="text-muted">Email</label>
			</div>
			<div class="col-sm-4 text-left"><h4 class="m-t-0"> <%= current_user.email %> </h4></div>
			<div class="col-sm-2 text-right">
				<label class="text-muted">Last IP</label>
			</div>
			<div class="col-sm-4 text-left">
				<h4 class="m-t-0"> 
				<%= current_user.last_sign_in_ip %> 
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 text-right">
				<label class="text-muted">Company</label>
			</div>
			<div class="col-sm-4 text-left"><h4 class="m-t-0"> <%= current_user.company %> </h4></div>
			<div class="col-sm-2 text-right">
				<label class="text-muted">Billing Period Ends On</label>
			</div>
			<div class="col-sm-4 text-left">
				<h4 class="m-t-0"> 
				<%= formatted_time current_user.subscription.current_period_ends_at %> 
				</h4>
			</div>
		</div>
	</div>
	<div class="lite-panel-footer p-a">
		<div class="btn-toolbar">
			<%= link_to fa_icon("pencil","Edit Profile"), edit_user_registration_path, 
				class: "btn btn btn-info-outline m-b" %>
		</div>
	</div>
</div>

<% unless Rails.application.secrets[:on_prem] %>
<div class="lite-panel lite-shadow m-y">
	<div class="lite-panel-header p-x p-t">
		<h2 class="text-info">My Plan</h2>
	</div>
	
	<div class="lite-panel-body p-a-md p-x-lg">		
		
		<% if current_user.subscription.use_previous_plan? %>
			<div class="alert alert-warning m-b-lg">
				<div class="row">
					<div class="col-sm-1 col-xs-2"><%= fa_icon("info-circle",nil,"fa-2x")%> </div>				
					<div class="col-sm-11 col-xs-10">
						Your previous subscription was canceled but is valid until the period end date of <strong><%= current_user.subscription.current_period_ends_at.strftime("%B %e, %Y") %>.</strong>  Your monthly row quota will be based on the previous plan until the period end after which, you will be switched to the plan shown below.
					</div>
				</div>
			</div>
		<% end %>
		
		<div class="row m-b">
			<div class="col-sm-3 titled-label">
				<label class="label">PLAN</label>
				<h4><%= current_user.subscription.plan.name %></h4>				
			</div>
			<div class="col-sm-5 titled-label">
				<label class="label">DETAILS</label>
				<h4><%= current_user.subscription.plan.desc %></h4>				
			</div>
			<div class="col-sm-2 titled-label">
				<label class="label">AMOUNT</label>
				<% if current_user.subscription.bootstrap? %>
					<h4>FREE</h4>
				<% else %>
					<h4><%= number_to_currency(current_user.subscription.plan.amount / 100) %></h4>				
				<% end %>
			</div>
			<div class="col-sm-2 text-right">
				<% unless current_user.subscription.is_custom? %>
					<% if current_user.subscription.big_data? %>
						<%= link_to "Change Plan", page_path('pricing'), 
							class: "btn btn-primary-outline btn-square m-t" %>
					<% else %>
					<%= link_to "UPGRADE", page_path('upgrade'), 
						class: "btn btn-info btn-square m-t" %>
					<% end %>
				<% else %>
					<%= mail_to "sales@lodr.io", "Contact Sales",
						class: "btn btn-warning-outline btn-square m-t" %>
				<% end %>
								
			</div>
		</div>
		<%= render 'rows_alert' %>
		
		<% if current_user.subscription.is_stripe_paid_plan? %>
			<div class="row m-b">
				<div class="col-sm-9">
					<h4 class="text-muted">Canceling your subscription will put you back in the Bootstrap tier, however, you will be able to use the remaining rows until the period end.</h4>
				</div>
				<div class="col-sm-3 text-right">
					<%= link_to "Cancel Subscription", account_cancel_path, 
						method: :delete, class: "btn btn-danger-outline btn-square m-t ", data: {confirm: "Are you sure you want to cancel your subscription? Your current subscription will still be valid til the period end."} %>
				</div>
			</div>
		<% end %>
		
	</div>
</div>
<% end %>