
var $q = $("#queries");

lodr.sql.queries = <%= raw @queries.to_json %>;
$q.html("");
$.each(lodr.sql.queries,function(i,q){ 
	if(q.status == "completed"){
		lodr.sql.completed_query(q); 
	}else if(q.status == "failed"){
		lodr.sql.failed_query(q); 
	}else{
		lodr.sql.running_query(q); 
	}
	
	// var hw = $("#history").width();
// 	var $q = $(".query");
// 	$q.width(hw-20);
//
// 	var $m = $(".main-content");
// 	$m.width($m.width()+(hw-$q.width()));
//
// 	$q.width(hw-30);
});



