$(function(){
	
	<% if @can_query %>
		if(lodr.sql.queries == undefined){
			lodr.sql.queries = [];
		}
	
		var q = <%= raw @query.to_json %>;
		lodr.sql.queries.push(q);
		lodr.sql.running_query(q);
	<% else %>
		lodr.sql.request_upgrade();		
	<% end %>
	
	 
	$(".btn").blur();
});
