$(function(){
	var index = -1;
	var query = <%= raw @query.to_json %>;
	var pqid = <%= params[:id] %>;
	$.each(lodr.sql.queries, function(i,q){
		if(pqid == q.id){
			index = i;
		}
	});
	
	if(index == -1 || <%= @query.nil? %>) return;
	
	lodr.sql.queries[index] = query;
	if(query.status == "completed"){
		lodr.sql.completed_query(query, true); 
	}else if(query.status == "failed"){
		lodr.sql.failed_query(query, true); 
	}else{
		lodr.sql.running_query(query, true); 
	}
});

