// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lite-panel{
	background: #fff;
}
.lite-shadow{
	-webkit-box-shadow: 2px 2px 3px 0px rgba(102,102,102,0.37);
		-moz-box-shadow: 2px 2px 3px 0px rgba(102,102,102,0.37);
		box-shadow: 2px 2px 3px 0px rgba(102,102,102,0.37);
}

.lite-shadow-boxed{
	-webkit-box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.3);
}

.upgrade-summary-row{
	border-bottom: 1px solid lightgray;
}
body.choose_plan{
	background: #efefef;
}