/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//@import "bootstrap-sprockets";
//@import "bootstrap";
//@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";
@import "toolkit-startup.min";
@import "jquery-ui.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "pages";
@import "sources";
@import "loaders";
@import "dashboard";
@import "devise";
@import "account";
@import "sql";
@import "bucket_loaders";
@import "admin/console";
@import "codemirror";
@import "handsontable.full.min";

body{
	padding-top: 70px;
	font-size: 16px;
	font-weight: 400; 
}
body.pages{
	padding-top: 110px;
}
body.no-body-pad{padding-top: 0px;}
.lodr-logo{
	padding: 10px 15px;
}
.watermark-logo{
	margin: auto;
}
footer{
	margin-bottom: 50px;
}
footer.text-muted{
	a{color: #8da8bf;}
	p{ color: #cacaca;}
}
.lg-subtitle{font-size: 17px;}
.lodr-table{
	.list-group-item{
		padding: 20px 15px;
		p {
		    margin: 0 0 5px;
		}
	}
	.title{
		word-wrap: break-word;
	    margin-bottom: 3px;
	}
}
.icon-ctr{ 
	padding-right:0px;
	padding-top:10px;
	input[type=checkbox]{ margin-top: -15px; }}
.title{
	margin-bottom: 30px;
	font-weight:300;
}
.page-title{
	margin-bottom: 30px;
	font-weight:300;
	text-transform: uppercase;
	font-size: 32px;
}
.check-all{
	border: none;
    border-right: 1px dotted lightgray;
    border-radius: 0px;
    padding-right: 10px;
    margin-right: 10px;
	color: #848484;
	&:hover{
		background:none;
		color: #4a93d6;
	};
}
.text-icon{ font-weight: bold;}
.text-icon-string{ font-family: arial; font-size: 10px;}
.menu-label{ padding-left: 5px;}

.subtitle{
	font-size: 11px;
    font-weight: bold;
    margin-top: -5px;
    color: slategray;
}

.form-panel{
	max-width: 500px;
	margin: auto;
	margin-top: 3%;
	.panel-body {padding: 20px;}
	.panel-footer{ text-align: right;}
	margin-bottom: 30px;
}

.field_with_errors{
	input{ border: 1px solid #980202; }
	label{ color: #980202;}
}
.left-banner{
	text-align: center;
}
@media (min-width: 768px){
	.left-banner h1 {
	    margin-top: 50%;
	}
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

td.nowrap-cell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

#errorModal .modal-body{
    max-height: 400px;
    overflow: scroll;
}
table.no-borders {
	tr td{ border: none;  vertical-align: middle;}
}
.big-form-container{
    max-width: 700px;
    margin: auto;
	.title{text-align:center;}
}
.max-700{ max-width: 700px; }
.max-500{ max-width: 500px; }
.max-400{ max-width: 400px; }
.max-300{ max-width: 300px; }
.max-1100{ max-width: 1100px; }
.h-500{max-height: 500px;}
.h-400{max-height: 400px;}
.over-y-a{ overflow-y:auto; }
.over-x-a{ overflow-x:auto; }

.titled-label{
	overflow: hidden;
	label, .label{
		padding: 0;
		color: #bcc2c7;
	    text-transform: capitalize;
		margin-bottom:0px;
	}
	h1, .h1, h2, .h2, h3, .h3{
		margin-top: 0px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	    margin-top: 3px;
	}
	h1,.h1,h2,.h2{
		overflow: hidden;
	    text-overflow: ellipsis;
	}
	.title{
	    margin-bottom: 20px;
	}
}
.file-icon{display:inline-block;}
.dropdown-menu > li > a > i{margin-right: 5px;}

.lite-table{
	border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	thead {
		background: #f3f3f3;
	    color: #6f6f6f;
	    font-size: 13px;
	    border-bottom: 1px solid #ddd;
	    border-top: 1px solid #ddd;
		.col-title{ 
			font-weight: normal;
			cursor: pointer;			
		}
		th { 
			border-right: 1px solid #ddd;
			border-bottom:none;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;		
		}
	}
	tbody{
		font-size: 80%;
	    background: #ffffff;
	    color: #616161;
		td { 
			word-break: break-word; 
			border-right: 1px solid #ddd;
			border-top: none;
			padding-right: 4px!important;	
			padding-left: 4px!important;			
		}
		.icon-col{
			width: 30px;
			border-right: 0px;
		}
	}
}


@media (min-width: 768px){
.navbar-fixed-top .container-fluid .navbar-right,
.navbar-fixed-bottom .container-fluid .navbar-right{
	margin-right:0;
}}
.wizard-links{
	color: #3c668a;
	.fa{display: none;}
	.wizard-link{
		padding-left: 6px;
		padding-right: 6px;
		line-height: 3.5; 
		color: #3c668a;
	}
	.wizard-link.active{
		.fa{ display: inline-block;}
		color: #88a4bd;
	} 
}
.loaders .lodr-icon-only{ background: #8c3c12;}

.shadow{
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.45);
}
.bordered-radiused{
	border: 1px solid lightgray;
	border-radius: 5px;
}
.pagination{
	margin: 0px;
	span,
	a, .current{
		padding: 3px 8px;
	    margin-left: -5px;
	    line-height: 1.42857143;	   
	    text-decoration: none;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    display: inline-block;
	}
	a{  color: #337ab7; 
		&:hover { background-color: #ececec; };
	}
	.next_page{ border-radius: 0 3px 3px 0;}
	.previous_page{ border-radius: 3px 0px 0px 3px;}
}
hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border-top: 1px solid #e5e7e8;
}

.block{
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    font-weight: 200;
	    line-height: 1.2;
	    color: #56677d;
	}
	.text-muted{ color: #b2b7bf;}
}

.btn-white-outline{
	border-color: #fff;
	color: #fff;
	background-color: transparent;
	&:hover{background-color: #fff;}
}

.nav-app-color{
	background-color: #114563;
	.navbar-nav > li > a{ 
		color: #fff; 
		&:hover{
			color: #fce333;
			background-color: transparent;
		}
	}
}
.help-block{color: #8d8f92;}
.submenu{
	.fa,i{
		color: #8a8a8a;
	}
}
.database-ad-block{
	width: 300px;
	height: 300px;
    border: 1px solid #d6d6d6;
}

.input-lg.custom-select{
	font-size: 19px;
	line-height: 1.4;
}

#navigation{
	.navbar-nav > li > a {
    	text-transform: uppercase;
    	font-size: 13px;
	}
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	    text-decoration: none;
	    color: #ffffff;
	    background-color: #4ea5e2;
	}
}