// Place all the styles related to the BucketLoaders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lodr-pretty-table{
    border: 1px solid lightgray;
    padding: 10px 20px;
    border-radius: 2px;
	thead{
		font-size: 13px;
		tr > th { border-bottom: 1px solid #ddd; font-weight: 500;}
	}
	tbody{
		font-size: 12px;
		border: solid #ddd 1px;
		
	}
}

.bucket_loader_preview {
    font-size: 13px;
    background: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #bac9d0;
    color: #1b92b9;
}

.loader-tabs{
	.nav-tabs li.active a { background: #f3f3f3;}
	.tab-content{
		border: 1px solid #ddd;border-top:none;
		background: #f3f3f3;
	}
	a.check-all { background: #f3f3f3;}
}