// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard{
	.exec-history{
		table > thead > tr{
		    background: #d4d7da;
		    color: #828b94;
		}
		table > thead > tr > th{
		    vertical-align: bottom;
		    border: 0px;
		    font-weight: 400;
		}
		table > thead > tr > th:first-of-type{
			border-radius: 5px 0 0 0;
		}
		table > thead > tr > th:last-of-type{
			border-radius: 0 5px 0 0;
		}
		background: #ececec;
	    border-radius: 5px;
	    border: 1px solid #d2d7dc;
	    padding: 5px;
		overflow-x: auto;
	}
	
	#overview-chart{
	    background: #ececec;
	    border-radius: 3px;
	    border: 1px solid #d2d7dc;
	    padding: 5px;
	}
}
.stat-chart, .square-bordered{
	border: 1px solid #d2dae0;
}

.modal-content .modal-footer label{
	max-width: 450px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}