// Place all the styles related to the loaders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.transforms{
//	background: #e0d8cd;
	.summary{
		margin-bottom: 20px;
		h4{color: #de7311;}
	}
	.main-ctr {
		margin-top:-20px;
	}
}
.dashed-border-right{
	border-right: 1px dashed gray;
}
.source-stat{
	padding: 0 15px;
}
#wrangle-outer-wrapper{
    background: #eaeaea;
}
#wrangle-wrapper{
	overflow-x: auto;
    background: #fff;
	padding-left: 0px;
}
#transforms{ overflow-y: auto; overflow-x:hidden;}
.transform-table-style{
	border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	thead {
		background: #f3f3f3;
	    color: #6f6f6f;
	    font-size: 13px;
	    border-bottom: 1px solid #ddd;
	    border-top: 1px solid #ddd;
		.col-title{ 
			font-weight: normal;
			cursor: pointer;			
		}
		.header {
			.sort-btn{
				background: none;
				cursor: pointer;
				color: #d0d0d0;
			    font-size: 11px;
				margin-left: 5px;
				padding: 3px;
				border: 1px solid transparent;	
				&:hover{
					background: none;
				    border: 1px solid #5b6975;
					color: #0a3048;				    
				}
			}
			.sort-btn.sorted{
				color: #0a3048;	
			}
		}
		th { 
			text-align: left;
			min-width: 25px;
			border-right: 1px solid #ddd;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
			.transforms-menu-icon { font-size: 16px;}	
			
			.dropdown-header {
			    font-size: 10px;
			    color: #a9a9a9;		
			}		
		}
	}
	tbody{
		font-size: 75%;
	    color: #757575;
	    font-weight: 500;
	    background: #ffffff;
		td { 
			word-break: break-word; 
			border-right: 1px solid #ddd;
			border-top: none;
			border-bottom: 1px solid #ecebeb;
			padding-right: 4px!important;	
			padding-left: 4px!important;			
		}
		td.danger{
			border-bottom: 1px dotted #d89191;
		}
		th{color: #9a9a9a;}		
	}
	.handsontable thead th .relative {
	    padding: 4px 4px;
	}	
	.col-dropdown .btn{
		padding: 3px;
		border: 1px solid transparent;
		background: transparent;
		    color: #485b67;
			font-size: 13px;
			text-shadow: none;
			box-shadow: none;
			-webkit-box-shadow:none;
	}
	th button, th .btn{
		border-radius: 0px;
		&:hover{
			border: 1px solid #5b6975;
		}
	}
	.type_INTEGER,
	.type_DECIMAL {text-align: right;}
}

.transform-modal{
	.modal-dialog{
			width: 300px;
	}
	.preview{
		max-height: 220px;
		font-size: 11px;
		overflow: scroll;
		.table > thead > tr > th{border-bottom: none;}
		.table > tbody > tr > td{
		    border-top: 1px solid #c6ced2;
		    color: #447c98;
		}
	}	
}
.req{color: red;}
.wide-transform{
	.modal-dialog{
			width: 600px;
	}	
}
#wrangle-scripts{ 
	width: 300px;
	float: left;
	background: #eaeaea;
	#transforms-header h5{color: #547394;}
	.no-transforms{
	    margin-top: 25px;
	    border: 2px dashed #9c9c9c;
	    padding: 15px;
		p{ color: #a5a5a5;}
	}
}
.command-script{
    padding: 5px;
    color: #597c9e;
    font-weight: bold;
    font-size: 12px;
    font-family: helvetica;
    border-radius: 3px;
	opacity: 0.8;
	.command{ color: #a03548; }
	.column{ color: #75b3f1; }
	.command-argument{
		padding-left: 20px;
		margin: 3px 0 0px;
		.command-arg-key{ color: #c18162;}
		.command-arg-val{color: #668c62;}
	}
	button.close{ 
		color: #909090;
		    font-size: 14px;
		text-shadow: none;
		margin-right: 10px;
	}
}
.wait-content{
    text-align: center;
    margin-top: 15%;
    color: #d6630c;
}

.summary-section{
	width: 80%;
	max-width: 960px;
	margin: auto;
    border-top: 1px solid #eaeaea;
    margin-top: 40px;
	padding-top: 30px;
	h1,h2,h3{margin: 0%; margin-bottom:10px;}
	.summary-status-ok{color: #00a900;}
}

.text-danger h1{
	color: #a94442;
}

#transform_extract_json{
	.proccessed-table{
		overflow: scroll;
		font-size: 70%;
	}
	.modal-dialog{ width: 80%;}
	.modal-body{
		padding: 0;
		overflow: hidden;
		.row{
			    margin-top: -16px;
		}
		.table-view, .json-view{overflow: scroll;}
		.table-view{
			background-color: #f3f3f3;
			.input-group-addon{ background: none;}
			.clear-input {
				opacity: 0.6;
				cursor: pointer;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
	.btn.json-tree-node{
		font-size: 13px;
		padding: 1px;
		background: none;
		&:hover{
			color: lightblue;
		};
	}
	.json-node-type.scalar{
		i.fa{ 
		    color: #ff8600;
		    font-size: 12px;
		}
	}
	span.pathNode{
		cursor: pointer;
		color: #7394bf;
		font-weight: bold;
		margin-right: 8px;
		&:hover{
		  color: #ef163f;	
		}
		
	}
	span.pathNode.highlight{ background: yellow;}
	.btn.current-row{cursor: text;
		&:hover{background: none; color: #0b89ff;};
	}
}