// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (min-width: 768px){
	.navbar .navbar-nav 
	.dropdown-pop.open {
		> a{ 
			background-color: white;
			border-radius: 3px 3px 0px 0px;
	    	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
	    	margin-bottom: -2px;
			    color: #555;
		}
		> .dropdown-menu {
		    margin-top: -1px;
		    border: none;
		    border-radius: 3px 3px;
		}
	}

	.navbar .navbar-nav 
	.dropdown-pop .dropdown-menu > li > a {
	    line-height: 1.6;
		&:hover{color: #06aee4;};
	}	
}

.lodr-logo img{ width: 110px;}
.lodr-icon-only img{ width: auto;}
.static-header{
	background-color: #2c89b5;
	background-image: image-url("cover-dots-bg.png");	
}

.pages{
	.static-header{
		min-height: 100px;
		> .container{ margin-top: 18px;}
		background-color: #2c89b5;
	}
	#seeWorks{
		    margin-bottom: -10px;
	}
	color: #676767;
	#cover-header{
		background-image: image-url("cover-dots-bg.png");
		nav{     position: absolute; }
		background-color: #114563;
		.lodr-logo img{ width: 110px;}
	}
	.block{
		h1,h2,h3,h4,h5{ color: #862804; font-weight: 400;}
		.text-dark{ color: #000000;}	
		.text-muted{ color: #c3c3c3;}
	}
	h1,h2,h3,h4{
		color: #862804;
		 font-weight: 400;
	}
	.lead{ color: #000000;}
	.app-serverless-block{
		background: #3890d6;
	    overflow: hidden;
		h3{color: #fff;}
		p.lead{
			color: #daeaff;
		}
	}
	.app-footer{ 
		background: #2c4d67; 
		h6{
		    color: #fff;
		    font-weight: 400;
		}
		.list-unstyled li a{color: #778b9e; font-size: 12px;}
	}
	.pricing-section{
		    margin-top: -22px;
	    background: #efefef;
		h1{ color: #203c6b;}
		.text-muted{color: #848484;}
		h3{
			a{
				color: #862804;
			    text-decoration: underline;
			}
		}
	}
	.lead-block{
	    padding: 28px;
	    border-radius: 5px;
		margin: auto;
		> h1 { color: #fff; font-size:37px;}
		.lead { color: #fff; font-weight: 400; font-size:19px;}
	}
	#navbar-collapse-com{
//		background: #114563;
	}
	
	.price-block{
		background: White;
		.list-bordered li {
		    border-top: 1px dotted #e2e2e2;
		}
		.list-bordered li:last-child {
		    border-bottom: 0px;
		}
	}
	.price-row-titles{
		text-align: left;
		background: transparent;
		h1{ font-size: 28px;}
		h4{
			font-size: 18px;
			    line-height: 1.4;
		}
	}
	.carousel-control.left , .carousel-control.right{
		background: transparent;
	}
	.carousel-indicators li {
		border: 1px solid #114563;
	}
	.carousel-indicators .active{
		background-color:  #114563;
	}
	#main-call-to-action{
		background-color: #dc5a2e;
	    border-color: #dc5a2e;
	}
	#lodr-wizzard-section{
		background-color:#f3f3f3;
		img{margin: auto;}
		.block-title{
			color: #4b7486;
		}
		.text-muted {
		    color: #9e9e9e;
		}
	}
	#sql-ide-section{
		background-color:#2d3c42;
		img{margin: auto;}
		.block-title{
		    color: #f9d855;
		}
	}
	.demo-video{
		margin: auto;
	    max-width: 720px;
	    border: 20px #fff solid;
		.wistia_embed .w-chrome{
			border: 1px solid lightgray;
		}
	}
}

.articles{
	.title{
	    color: #44565f;
	    font-weight: 500; 
	    margin-bottom: 8px;
	}
	.subtitle{
		color: #b3b3b3;
	    font-size: 18px;
	    font-weight: normal;
		margin-bottom: 15px;
	}
	.article{
		font-size: 21px;
	    line-height: 1.4;
	    color: #333;
	    text-rendering: optimizeLegibility;
	    -webkit-font-smoothing: antialiased;
	    --x-height-multiplier: 0.35;
	    --baseline-multiplier: 0.179;
	    font-weight: 400;
	    font-style: normal;	
		p{     margin-top: 29px; }	
		ol,ul{
			margin-top: 29px;
			li{
				    margin-bottom: 14px;
			}
		}	
	}
	.articles-cta{
	    width: 245px;
	    border: 1px solid lightgrey;
		text-align: center;		
	}
	.articles-cta.mobile{
		margin: auto;
	}
	
}

.img-shadow{
	-webkit-box-shadow: 0px 10px 25px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 25px 8px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 25px 8px rgba(0,0,0,0.75);
}
@media (min-width: 768px){
	.app-align-center {
	    display: flex;
	    align-items: center;
	}
}

body.pricing{
	background: #efefef;
}

.no-value{
    font-size: 10px;
    background: #efefef;
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
    color: #8fabb7;
}