// Place all the styles related to the sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
	display: table;
	width: 100%;
  color: #949494;
  border-style: dashed;
  border-color: #949494;
  text-align: center;
  font-size: 24px;
	
	.direct-upload{
		display: table-cell;
		vertical-align: middle;
	}
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.active-drop{
  color: #268a3d;
  border-color: #268a3d;
}
.upload-container{max-width: 700px;}
.file-upload-status{ display:none;}
span.file-size {
	color: #8a8a8a;
  font-weight: bold;
  font-size: 11px;
  padding-left: 2%;
}

.input-file{
	span.label{
		cursor: hand;
	}
}
.sample-area{
	overflow-x: auto;
	table {
		font-size: 75%;
		thead th{
			min-width: 80px;
			width: 80px;	
		}	
	}
}