// Place all the styles related to the sql controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    height: 100%;
}
body.sql {
    margin: 0;
	padding-top: 50px;
	overflow: hidden;
}

.sql{
	.highlight{
	    background: yellow;
	    color: #3cabbf;
	}
	#upgrade{ display:none;}
	#database{
		#js-db-search{
		    margin-top: 8px;
		    margin-bottom: 5px;
		}
		.schema_status{
			font-size: 12px;
		    font-weight: bold;
		    padding: 5px 5px 0 5px;
		}
	}
	.db{ margin-left: -3px; }
	#scripts{
		.browser-panel{margin-bottom: 5px;}
		.browser-panel-body{
			padding-top: 0px;
			margin-top: -5px;
			.table-column{ font-size: 13px;
				padding-top: 4px;
				.fa{ font-size: 16px; padding-right: 4px;}
				a{color: #949494;}
				a:hover{text-decoration: none; color: #4d90d0;};
				font-weight: normal;
			}
		}
	}
	.browser-panel-btn{
		padding-left: 0px;
	    padding-right: 0px;
	    background: transparent;
	    font-size: 18px;
	    color: #949494;
		&:hover{ color: #4d90d0; };
	}
	#main-warning-alert{display: none;}
	 #save-state{ font-size: 12px; }
	.navbar{ margin-bottom: 0;}
	.main{
		height: 100%;
		padding: 0px;
		position: relative;
		left: 300px;
	}
	.browser{
		position: absolute;
		left: 0;
		width: 300px;
		background: #edeeef;
	}
	.main{
		.main-content{
			width: 60%;
			background: white;
		}
		.query-history{
			width: 40%;
			background: #edeeef;
			
			.btn-toolbar{
				.h4,h4{    
					color: #949494;
				    /* font-family: helvetica; */
				    font-weight: 300;}
			}
		}
	}
	
	.db.succeeded{
		color: #949494;
	}
	.db.failed{
		color: #b9180d;
	}
	.db.testing{
		color: #d48912;
	}
	#clear-history{
		margin-top: 10px;
	}
}

.browser-menu{
	.btn{ 	padding: 0px; 
			border: none;
			&:hover, &:active, &:focus{
				background: transparent;
				color: lightblue;
			};
			background: transparent;
			color: #ccc;
			margin-top: -2px;
		}
}
.browser-panel-header{
	.header-label{ color: #949494;}
}
.browser-panel-body{
	padding-top: 8px;
	overflow-y: auto;
}
.browser-menu.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.tree-node.btn{
	padding: 2px;
    display: block;
    background: transparent;
    font-size: 13px;
}
.tree-node.btn.focus, .tree-node.btn:focus, .tree-node.btn:hover {
    color: #3c99ff;
    text-decoration: none;
}
.table-columns{
	list-style-type: none;
	padding: 2px 10px;
	
	.btn-folder{ font-size: 13px; 
		.fa{ font-size: 16px;}
	}
}
.table-column{
	font-size: 13px;
	i.text{ font-weight: bold;}
	padding-top: 3px;
	i{padding-top: 3px;}
	.browse-tools{
		display: none;
		.btn{
			padding: 1px; 
			border-width: 0px;
			i{color: #bac1c7;}
			&:hover{
				background: transparent;
				i{color: #5bb8f3;}
			};
		}
		
	}
	.btn-folder{ padding-left: 0px;}
}
.editable-label{
	&:hover{ border: 1px solid gray;};
	padding: 5px;
	cursor: pointer;
}

// styling the code editor
.CodeMirror-linenumbers{
	width: 32px;
    background-color: #5796ce;
}
#editor .CodeMirror-linenumber{
	color: aliceblue;
}
#editor{
	font-size: 14px;
	border: 1px solid #5796ce;
}
#editor-footer{
	padding: 10px 6px;
	    border-width: 0px 1px 1px 1px;
	    border-color: #5796ce;
	    border-style: solid;
}
#queries-wait{
	margin-left: 40%;
	margin-top: 50%;
}
.query{
	max-height: 400px;
	font-size: 12px;
	overflow: auto;
	table{ overflow: auto;}
	background: white;
	
	.query-header{
	    padding: 6px;
	    background: #d2d3d6;
	    color: white;
		.btn{ 	color: #8094a7; 
				border-color: #8094a7;
				&:hover{
					background: #8094a7;
					color: white;
				}
			}
			.btn.query-text{
				cursor: default;
				color: #a1a8ad; 
				border: 0px; 
				&:hover,&:active, &:focus{ background: transparent; color: #a1a8ad; };}
	}
	
	.query-footer{
		padding: 8px;
	    border-top: solid 1px lightgray;
	    background: #cecece;
	    color: #5789af;
		.completed{ color: #85c776;}
		.failed{ color: #CC1E24; }
		.running{ color: orange;}
	}
	
	.query-body-error{
		font-size: 13px;
		color: darkred;
		max-height: 250px;
	    overflow: scroll;
	    word-break: break-word;
	}
	.query-body-sql{
		max-height: 328px;
		overflow: scroll;
		code{
		    color: #52637d;
		    background-color: transparent;
		    border-radius: 3px;
		    font-size: 13px;
		}
	}
	
	.ht_clone_top_left_corner th {
	  border-bottom: 1px solid #eaeaea;
	}

	/* Left and right */
	.ht_clone_left th {
	  border-right: 1px solid #eaeaea;
	  border-left: 1px solid #eaeaea;
	}

	/* Column headers */
	/* Top, bottom and right */
	.ht_clone_top th {
	  border-top: 1px solid #eaeaea;
	  border-right: 1px solid #eaeaea;
	  border-bottom: 1px solid #eaeaea;
	}

	/* Left */
	.ht_clone_top_left_corner th {
	  border-right: 1px solid #eaeaea;
	}
	
	/* Bottom */
	.ht_master tr > td {
	  border-bottom: 1px solid #eaeaea;
	}

	/* Right */
	.ht_master tr > td {
	  border-right: 1px solid #eaeaea;
	}
	
	/* corner */
	.ht_clone_top_left_corner th, .handsontable th {
	  background-color: #eaeaea;
	}
	
}
#queries{
	overflow-y: auto;	
}
.handsontable .htCheckboxRendererLabel {
	font-size: 12px;
	margin-bottom: 0px;
}
#table-def-modal{
	font-size: 12px;
	.modal-body{ padding:0px;}
	.modal-footer{text-align: left;
		h6{ text-transform: none; margin-right: 3px;}
	}
}
#gridFullScreenModal{
	font-size: 12px;
	.modal-lg{ width: 90%;}
	.modal-content{ 
	    background: #cecece;
	    color: #5789af;
	}
	.modal-body{ padding:0;}
	
	.ht_clone_top_left_corner th {
	  border-bottom: 1px solid #eaeaea;
	}

	/* Left and right */
	.ht_clone_left th {
	  border-right: 1px solid #eaeaea;
	  border-left: 1px solid #eaeaea;
	}

	/* Column headers */
	/* Top, bottom and right */
	.ht_clone_top th {
	  border-top: 1px solid #eaeaea;
	  border-right: 1px solid #eaeaea;
	  border-bottom: 1px solid #eaeaea;
	}

	/* Left */
	.ht_clone_top_left_corner th {
	  border-right: 1px solid #eaeaea;
	}
	
	/* Bottom */
	.ht_master tr > td {
	  border-bottom: 1px solid #eaeaea;
	}

	/* Right */
	.ht_master tr > td {
	  border-right: 1px solid #eaeaea;
	}
	
	/* corner */
	.ht_clone_top_left_corner th, .handsontable th {
	  background-color: #eaeaea;
	}
}
.btn-folder{margin-left: -2px;}