<h3 class="text-info">Welcome <%= @resource.first_name %>!</h3>

<p>Thanks for signing up with Lodr! Please confirm your account email by clicking the link below: </p>

<p><%= link_to 'Confirm My Account', confirmation_url(@resource, confirmation_token: @token), class: "btn btn-info" %></p>

<br />
<p>Reply to this email if you are having issues accessing your account.</p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>
