<h3 class="text-info">Hi <%= @resource.first_name %>,</h3>

<p>We're contacting you to notify you that your password has been changed.  
</p>

<p>	
If you did not request a password change, please email us at <%= mail_to "support@lodr.io" %> or reply to this email.</p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>
