<h3 class="text-info">Hi <%= @resource.first_name %>,</h3>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change My Password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-info" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>