<h3 class="text-info">Hi <%= @resource.first_name %>,</h3>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token), class: "btn btn-info" %></p>

<p class="signature">
Sincerely,</br>
Team Lodr
</p>
