<div class="row">
	<div class="col-md-4">
		
		<div class="row">
			<div class="col-sm-3 text-center icon-ctr checkbox-inline">
				<%= check_box_tag 'loader_ids[]', loader.id, false, class: "input-lg"%>	 
				  <% if loader.active %>
				  	<% if loader.is_running? %>
  	  				  <span class="fa-stack fa-lg text-success" title="there is an active load job running">
  	  				    <i class="fa fa-circle-thin fa-stack-2x"></i>
  	  					<i class="fa fa-chevron-right fa-stack-1x"></i>
  	  				  </span>
					<% elsif loader.scheduled? %>
	  				  <span class="fa-stack fa-lg text-warning" title="job is ready to be run">
	  				    <i class="fa fa-circle-thin fa-stack-2x"></i>
	  					<i class="fa fa-calendar fa-stack-1x"></i>
	  				  </span>
					<% else %>
	  				  <span class="fa-stack fa-lg text-info" title="job is ready to be run">
	  				    <i class="fa fa-circle-thin fa-stack-2x"></i>
	  					<i class="fa fa-upload fa-stack-1x"></i>
	  				  </span>
					<% end %>
				  <% else%>
					  <span class="fa-stack fa-lg text-muted">
					    <i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-pencil fa-stack-1x"></i>
					  </span> 
				  <% end %>						  
			</div>
			<div class="col-sm-9">
				<h4 class="title"><%= link_to loader.name, show_loader_path(loader) %></h4>
				<p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>
					<% if loader.last_run %> 
						ran <%= time_ago_in_words(loader.last_run.created_at) %> ago
					<% else %>
						edited <%= time_ago_in_words(loader.updated_at) %> ago
					<% end %>
					</p>
					
				<p class="text-muted"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
					update mode <span class="text-info"><%= loader.update_mode.split("_").last.capitalize %></span>
				</p>
					
			   <% if loader.last_run %>
				<div class="loader-status">
					<% if loader.last_run.queued? %>
						<span class="label label-info <%= loader.last_run.status %>" 
							data-loader-id="<%= loader.id %>" >Queued</span>&nbsp;<i class="fa fa-spinner fa-spin"></i>
					<% elsif loader.last_run.running? %>
						<span class="label label-info <%= loader.last_run.status %>"
							data-loader-id="<%= loader.id %>"  >Running</span>&nbsp;<i class="fa fa-spinner fa-spin"></i>		
					<% elsif loader.last_run.succeeded_with_errors? %>
						<span class="label label-warning <%= loader.last_run.status %>"
							data-loader-id="<%= loader.id %>"  >Succeeded with Errors</span>
					<% elsif loader.last_run.succeeded? %>
						<span class="label label-success <%= loader.last_run.status %>"
							data-loader-id="<%= loader.id %>"  >Succeeded</span>
					<% elsif loader.last_run.failed? %>
						<span class="label label-danger <%= loader.last_run.status %>"
							data-loader-id="<%= loader.id %>"  >Failed  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
					<% elsif loader.last_run.scheduled? %>
						<span class="label label-warning <%= loader.last_run.status %>"
							data-loader-id="<%= loader.id %>"  >Scheduled </span>
					<% else %>
						<span class="label label-warning <%= loader.last_run.status %>"
							data-loader-id="<%= loader.id %>"  ><%= loader.last_run.status.titleize %> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></span>
					<% end %>
				</div>				
				<% end %>
				
			</div>
		</div>
				
	</div> 
	
	<div class="col-md-8">
		<% unless loader.last_run.nil? %>
			<div class="row">
				<div class="col-md-4">
					<div class="statcard p-a">
					  <h3 class="statcard-number"><%= number_to_human (loader.last_run.input_rows || 0), units: num_units %></h3>
					  <span class="statcard-desc">PROCESSED ROWS</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="statcard p-a">
					  <h3 class="statcard-number"><%= number_to_human loader.last_run.duration, units: num_units %></h3>
					  <span class="statcard-desc">DURATION (SECS)</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="statcard p-a">
					  <h3 class="statcard-number"><%= number_to_human loader.last_run.rows_per_second, units: num_units %></h3>
					  <span class="statcard-desc">ROWS PER SECOND</span>
					</div>
				</div>
			</div>
		<% end %>
		
		<div class="row">
			<div class="col-md-4">
				<div class="titled-label p-l">
					<label class="label"><i class="fa fa-table" aria-hidden="true"></i> &nbsp;TARGET TABLE</label>
					<h5 title="<%= loader.target_table_name %>"><%= loader.target_table_name %></h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="titled-label p-l">
					<label class="label"><i class="fa fa-database" aria-hidden="true"></i> &nbsp;DATABASE</label>
					<h5 title="<%= loader.database ? loader.database.name : "Unknown" %>"><%= loader.database ? loader.database.name : "Unknown" %></h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="titled-label p-l">
					<label class="label"></i> COLUMNS</label>
					<h5><%= loader.parsed_column_settings ? loader.parsed_column_settings.size : 0 %></h5>
				</div>
			</div>
		</div>
		
	</div>
	
		
</div>

<div class="row m-t">
	<div class="col-md-offset-1 col-md-7">
		
		<% if loader.last_run && loader.last_run.info %>
			<div class="alert alert-warning">
				<h6>Last Run Info</h6>
				<p class="text-warning"><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;<%= loader.last_run.info %></p>
			</div>
		<% end %>
	
		<% if loader.last_run && loader.last_run.execution_errors %>
		<div class="alert alert-danger">
			<strong>Error! </strong> <a href="#" data-target="#errorModal" 
					data-toggle="modal"
					data-body="<%= loader.last_run.execution_errors %>"><%= loader.last_run.execution_errors[0..100] %> </a>
		</div>
		<% end %>
			
		<div class="btn-group btn-group-sm m-b" role="group" aria-label="...">
			<% if loader.active && !loader.is_running? %> 
				<%= link_to(fa_icon("play-circle", "Run"), loader_run_path(loader), class: "btn btn-default",style: "text-align:left;") %>
			<% end %>
			
			<%= link_to fa_icon("eye", "View"), show_loader_path(loader), class:"btn btn-default" ,style: "text-align:left;" %>
			<%= link_to(fa_icon("pencil", "Edit"), edit_loader_path(loader), class: "btn btn-default",style: "text-align:left;") %>
			<%= link_to(fa_icon("clone", "Copy"), new_loader_path(loader_id: loader.id), class: "btn btn-default",style: "text-align:left;") %>
			<%= link_to(fa_icon("trash", "Delete"), delete_loader_path(loader), 
				class: "btn btn-default",style: "text-align:left;",
				data: {confirm: "Are you sure you want to delete this loader?"}, method: :delete) %>
			<% if loader.is_running? %>
			 	<%= link_to(fa_icon("ban", "Cancel"),loader_cancel_path(loader),
					class: "btn btn-sm btn-danger-outline ",style: "text-align:left;",
					data: {confirm: "Are you sure you want to cancel this load?"}) %>
			<% end %>			
		</div>
		
	</div>
	
</div>
