
<h3>Advanced Options</h3>
<div class="panel-group" id="accordionAdvanced" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
 <div class="panel-heading" role="tab" id="preSqlHeading">
   <h4 class="panel-title">
     <a role="button" data-toggle="collapse" data-parent="#accordionAdvanced" href="#preSql" aria-expanded="true" aria-controls="preSql">
       Pre SQL
     </a>
   </h4>
 </div>
 <div id="preSql" class="panel-collapse collapse" role="tabpanel" aria-labelledby="preSql">
   <div class="panel-body">
	 <p class="help-block">Pre SQL queries are executed right before the target table is loaded. Use semicolon to separate multiple statements.</p>
	 <%= f.text_area :pre_sql, class: "form-control" %>      
   </div>
 </div>
</div>
<div class="panel panel-default">
 <div class="panel-heading" role="tab" id="postSqlHeading">
   <h4 class="panel-title">
     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionAdvanced" href="#postSql" aria-expanded="false" aria-controls="postSql">
       Post SQL
     </a>
   </h4>
 </div>
 <div id="postSql" class="panel-collapse collapse" role="tabpanel" aria-labelledby="postSqlHeading">
   <div class="panel-body">
	   <p class="help-block">Post SQL queries are executed immediately after the target table is loaded. Use semicolons to separate multiple statements.</p>
	  <%= f.text_area :post_sql, class: "form-control" %> 
   </div>
 </div>
</div>
</div>