	 <div class="row">
		 <div class="col-sm-3 control-label"><label class="control-label">Table Settings</label></div>
		 <div class="col-sm-9">
			 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			   <div class="panel panel-default">
			     <div class="panel-heading" role="tab" id="primaryKeysHeading">
			       <h4 class="panel-title">
			         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#primaryKeys" aria-expanded="true" aria-controls="primaryKeys">
			           Primary Keys
			         </a>
			       </h4>
			     </div>
			     <div id="primaryKeys" class="panel-collapse collapse" role="tabpanel" aria-labelledby="primaryKeys">
			       <div class="panel-body">
					 <p class="help-block">Choose primary keys for the table. <a target="_blank"  href="http://docs.aws.amazon.com/redshift/latest/dg/t_Defining_constraints.html">Learn more here</a></p>
			   		 <%= f.collection_check_boxes(:primary_keys, @loader.headers, :strip, :strip, 
			   		 	{}, {}) {|b| b.label(:"data-value" => b.value, class: "checkbox-inline") { b.check_box + b.text } } %>      
			       </div>
			     </div>
			   </div>
			   <div class="panel panel-default">
			     <div class="panel-heading" role="tab" id="sortKeysHeading">
			       <h4 class="panel-title">
			         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#sortKeys" aria-expanded="false" aria-controls="sortKeys">
			           Sort Keys
			         </a>
			       </h4>
			     </div>
			     <div id="sortKeys" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sortKeysHeading">
			       <div class="panel-body">
			   		 <p class="help-block">Sort keys organize how data is sorted on disk. Choosing good keys here can help improve range queries.  <a target="_blank" href="http://docs.aws.amazon.com/redshift/latest/dg/t_Sorting_data.html"> Learn more here.</a></p>
					 <%= f.collection_check_boxes(:sort_keys, @loader.headers, :strip, :strip, 
			   		 	{}, {}) {|b| b.label(:"data-value" => b.value, class: "checkbox-inline") { b.check_box + b.text } } %>
		 
			       </div>
			     </div>
			   </div>
			   <div class="panel panel-default">
			     <div class="panel-heading" role="tab" id="distStyleHeading">
			       <h4 class="panel-title">
			         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#distStyle" aria-expanded="false" aria-controls="distStyle">
			           Distribution Style
			         </a>
			       </h4>
			     </div>
			     <div id="distStyle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="distStyleHeading">
			       <div class="panel-body">
					  
			  	  		 <%= f.collection_radio_buttons(:distribution_style, Loader.distribution_styles, :first, :first, 
			  	  		 	{}, {class: "dist-key-style"}) {|b| b.label(:"data-value" => b.value, class: "radio-inline") { b.radio_button + b.text.titleize.split(" ").last } } %>
	 
			  		 <p class="help-block">When you load data into a table, Amazon Redshift distributes the rows of the table to each of the compute nodes according to the table's distribution style.  <a href="http://docs.aws.amazon.com/redshift/latest/dg/t_Distributing_data.html" target="_blank">Learn more here.</a></p>
	 
			  		 <p class="help-block"><strong>Key</strong> style requires you to pick one of the columns as the method of distribution.</p> 
					   
					 <div class="<%= @loader.dist_key? ? "" : "hide" %>" id="dist-keys">
				 	  	<label>Distribution Key</label><br />
				      	
				   		 <%= f.collection_radio_buttons(:distribution_key, @loader.headers, :strip, :strip, 
				   		 	{}, {}) {|b| b.label(:"data-value" => b.value, class: "radio-inline") { b.radio_button + b.text } } %>
		 		    			 	  
					 </div>
			       </div>
			     </div>
			   </div>
			 </div>
		 </div>
	 </div>