<div class="row">
	<div class="col-xs-8">
			<h3>Table Schema</h3>
	</div>
	<div class="col-xs-4 text-right">
		<input id="col-search" class="form-control m-t" type="text" placeholder="search columns" />
	</div>
</div>
<table class="table table-condensed table-striped table-hover lite-table" >
	<thead>
		<tr>					
			<th colspan="2">Column</th>	
			<th>Primary Key</th>
			<th>Merge Key</th>
			<th>Sort Key</th>	
			<th>Distribution Key</th>							
		</tr>	
	</thead>
	<tbody>
		<% @loader.parsed_column_settings.each do |hd| %>					
			<tr>
					<td class="icon-col"><%= type_to_html hd['dataType'] %></td>
					<td><%= hd['columnName'] %></td>
					<td class="text-center">
						<%= f.check_box :primary_keys, { :multiple => true,
							 checked: (@loader.contains(:primary_keys, hd['columnName'])) }, hd['columnName'] %>							
					</td>
					<td class="text-center">
						<%= f.check_box :merge_keys, { :multiple => true, 
							disabled: (!@loader.mode_merge?),
							checked: (@loader.contains(:merge_keys,hd['columnName'])) },
							hd['columnName'] %>	
					</td>	
					<td class="text-center">
						<%= f.check_box :sort_keys, { :multiple => true, 
								checked: (@loader.contains(:sort_keys, hd['columnName'])) }, hd['columnName'] %>
					</td>	
					<td class="text-center">
						<%= f.radio_button :distribution_key, hd['columnName'], 
							{ checked: (@loader.distribution_key == hd['columnName']),
							 disabled: (!@loader.dist_key?) } %>
					</td>								
			</tr>	
		<% end %>
	</tbody>
</table>