<div class="m-y loader-tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Loaders</a></li>
    <li role="presentation"><%= link_to "Bucket Loaders", bucket_loaders_path %></li>
  </ul>

  <div class="tab-content p-a-md p-x-lg">

<h1 class="page-title">Loaders</h1>

<div class="row">
	<div class="col-sm-6">
		<div class="btn-toolbar">
			<a class="btn btn-default check-all" data-checked="false" data-check-all-target=".check-enable"> <i class="fa fa-square-o fa-1x" aria-hidden="true"></i></a>
			
			<%= link_to fa_icon("upload", "New Loader"), new_loader_path, class: "btn btn-sm btn-primary" %>
			<%= link_to fa_icon("trash", "Delete Selected"), "#", 
				class: "btn btn-sm btn-danger-outline hidden check-enable",
				data: {"check-all-form" => "#destroy_loaders" } %>
			<%= link_to fa_icon("play-circle", "Run"), "#", 
				class: "btn btn-sm btn-danger-outline hidden check-enable",
				data: {"check-all-form" => "#run_loaders" } %>
		</div>
	</div>
	<div class="col-sm-6 text-right">
		
		<%= form_tag(loaders_path, method: "get", class: "form-inline") do %>
		<div class="form-group">
		  <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "search sources") %>
		</div>
		  <%= submit_tag "Search", class: "btn btn-sm btn-default-outline" %>
		<% end %>
	</div>
</div>


<br />

<%= form_tag destroy_loaders_path, id: "destroy_loaders" do %>
<% end %>

<%= form_tag run_loaders_path, id: "run_loaders" do %>
<% end %>

<%= form_tag "", id: "main-check-all-form" do %>
<div class="lodr-table list-group">
	
	<% if @loaders.count ==0 %>
		<% if params[:search].blank? %>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/0bbNhQdK_Ck" frameborder="0" allowfullscreen></iframe>
			</div>
		<% else %>
			<div class="alert p-a-lg alert-warning">
				<i class="fa fa-exclamation-triangle"></i>
				<strong>Oh oh,</strong> we could not find any loaders with a name containing <strong><%= params[:search] %></strong>
			</div>
		<% end %>
	<% end %>
	
	<% @loaders.each do |loader| %>
		<div class="list-group-item input-file" id="loader_<%= loader.id %>" data-loader-id="<%= loader.id %>" >
			<%= render loader %>
		</div>
	<% end %>
</div>
<% end %>

</div> <!-- end tab content -->
</div> <!-- end tabs -->

<%= will_paginate @loaders %>

<% if @loaders.size > 0 %>
	<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right", style: "width:50px",
	       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
<% end %>

<%= render 'shared/error_modal' %>