
<h1 class="title">Load Settings</h1>

<%= form_for @loader, url: update_loader_settings_path(@loader), 
	html: { class: "next-submit-form form-horizontal", id: "wrangler-form"} do |f| %>
		
	<%= f.hidden_field :step, value: Loader.next_step(:loader_settings) %>
	<%= fields_for @file do |ff| %>
		
		<%= ff.hidden_field :id %>
	<div class="row">
		
		<div class="col-sm-6">
			
		    <div class="form-group">
			  <%= f.label :name, "Loader Name", class: "col-sm-3 control-label" %>
			  	<% if @loader.bucket_loader_id.nil? %>
			  	<div class="col-sm-9">
		      		<%= f.text_field :name, class: "form-control" %>
				</div>
				<% else %>
			  	<div class="col-sm-9">
		      		<%= f.text_field :name, class: "form-control", disabled: true %>
				</div>
				<% end %>
			</div>
			
		    <div class="form-group">
			  <%= ff.label :sample_size, "Sample Size", class: "col-sm-3 control-label" %>
			  	<div class="col-sm-9">
		      		<%= ff.number_field :sample_size, class: "form-control" %>
					<span id="helpBlock" class="help-block">This is the number of rows we sampled from the original file. You will see the full set of rows in the next step.</span>
				</div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-3 col-sm-9">
			      <div class="checkbox">
			        <label>
			          
					  <%= ff.check_box :includes_header %>
					  Includes Header Row
			        </label>
					<span class="help-block">Checked if the first row of the file includes column names</span>
			      </div>
			      <div class="checkbox">
			        <label>			          
					  <%= f.check_box :notify %>
					  Send email notification on completion
			        </label>
			      </div>
			    </div>
			  </div>
		</div>		
		<div class="col-sm-6">
			
		 <div class="form-group">
	  	   <%= ff.label :encoding, "File Encoding", class: "col-sm-3 control-label" %>
	       	<div class="col-sm-9">
	           	<%= ff.select :encoding, SourceFile::ENCODINGS, {}, { class: "form-control" } %>
	     	</div>	     	  
		 </div>
		
		 <div class="form-group">
	  	   <%= ff.label :delimiter, "Delimiter", class: "col-sm-3 control-label" %>
	       	<div class="col-sm-9">
	           	<%= ff.text_field :delimiter, class: "form-control"  %>
				<span class="help-block">Use no_delimiter incase this is not a delimited file</span>
	     	</div>	     	  
		 </div>	
		
		<div class="form-group">
		  	   <%= ff.label :quote_char, "Quote Character", class: "col-sm-3 control-label" %>
		       	<div class="col-sm-9">
		           	<%= ff.text_field :quote_char, class: "form-control"  %>
		     	</div>	     	  
		</div>
			
		</div>
	
			
	</div>
	
 	<% end %>
 <% end %>   	


<div class="container sample-area">	
	<%= render 'sources/sample' %>
</div>

<div style="height: 110px;">&nbsp;</div>
