<div class="row">
	
<div class="col-md-6">
	<div class="titled-label">
		<label>LOADER NAME</label>
		<h1 class="title"><%= @loader.name %> </h1>
			<div class="btn-toolbar m-b">
			<%= link_to(edit_loader_path(@loader), class: "btn btn-info btn-xs") do %>
				<i class="fa fa-pencil" aria-hidden="true"></i> Edit
			<% end %>
			
			<% if @loader.errors.empty? && !@loader.is_running? %>
				<%= link_to(loader_run_path(@loader), class: "btn btn-primary btn-xs", title: "Load as table into database") do %>
					<i class="fa fa-play-circle" aria-hidden="true"></i> Run
				<% end %>
			<% end %>
			
			<% if @loader.is_running? %>
				<%= link_to(loader_cancel_path(@loader), class: "btn btn-danger btn-xs", title: "Cancel current job") do %>
					<i class="fa fa-ban" aria-hidden="true"></i> Cancel
				<% end %>
			<% else %>
				<%= link_to(fa_icon("trash", "Delete"), delete_loader_path(@loader), 
					class: "btn btn-danger btn-xs",style: "text-align:left;",
					data: {confirm: "Are you sure you want to delete this loader?"}, method: :delete) %>
			<% end %>
		</div>
	</div>
	
	<% unless @loader.last_run.nil? %>
		<p class="text-muted"><i class="fa fa-clock-o"></i>&nbsp; 
			last ran <%= time_ago_in_words(@loader.last_run.started_at || @loader.last_run.created_at) %> ago</p>
			
		<p class="text-muted">				
			<% if @loader.last_run.info %>
				<p class="text-warning">Last Run Status: <br /><i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;<%= @loader.last_run.info %></p>			
			<% end %>
		
		<div class="file-status">
			<% if @loader.last_run.queued? %>
				<span class="label label-info <%= @loader.last_run.status %>" 
					data-load-job-id="<%= @loader.last_run.id %>" >Queued</span>&nbsp;<i class="fa fa-spinner fa-spin"></i>
			<% elsif @loader.last_run.running? %>
				<span class="label label-info <%= @loader.last_run.status %>"
					data-load-job-id="<%= @loader.last_run.id %>" >Running</span>&nbsp;<i class="fa fa-spinner fa-spin"></i>		
			<% elsif @loader.last_run.succeeded_with_errors? %>
				<span class="label label-warning <%= @loader.last_run.status %>"
					data-load-job-id="<%= @loader.last_run.id %>" >Succeeded with Errors</span>
			<% elsif @loader.last_run.succeeded? %>
				<span class="label label-success <%= @loader.last_run.status %>"
					data-load-job-id="<%= @loader.last_run.id %>" >Succeeded</span>
			<% elsif @loader.last_run.failed?  %>
				<span class="label label-danger <%= @loader.last_run.status %>"
					data-load-job-id="<%= @loader.last_run.id %>" >Failed  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
			<% elsif @loader.last_run.cancelled?  %>
				<span class="label label-warning <%= @loader.last_run.status %>"
					data-load-job-id="<%= @loader.last_run.id %>" >Cancelled  <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></span>
			<% else %>
				<span class="label label-default <%= @loader.last_run.status %>"
					data-load-job-id="<%= @loader.last_run.id %>" ><%= @loader.last_run.status.titleize %> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
			<% end %>
		</div>
		
		</p>
	<% end %>
	
	<% if @loader.scheduled? %>
		<h6 class="m-t">SCHEDULED: </h6>
		
		<p class="text-info"><i class="fa fa-clock-o"></i>&nbsp; 
			next run on <%= @loader.next_occurrence.strftime('%B %d, %Y %I:%M %p %Z') %> </p>
		<p class="text-info"><i class="fa fa-calendar-o"></i>&nbsp; 
			Runs <%= @loader.schedule_in_words %> </p>
	<% end %>
</div>

<% if @loader.source_files.size > 0 %>

<div class="col-md-3 col-xs-6">
	
	<div class="titled-label">
		<label class="label"><i class="fa fa-database"></i> &nbsp;DATABASE</label>
		<h4><%= @loader.database ? @loader.database.name : "Database Not Set" %></h4>				
	</div>
	<div class="titled-label">
		<label class="label"><i class="fa fa-table"></i> &nbsp;TABLE</label>
		<h4><%= @loader.target_table_name %></h4>				
	</div>
	<div class="titled-label">
		<label class="label"><i class="fa fa-hand-o-right"></i> &nbsp;MODE</label>
		<h4>
			<%= @loader.update_mode.split("_").last.capitalize %> 
		</h4>
	</div>
</div>

<div class="col-md-3 col-xs-6">
	<div class="titled-label">
		<label class="label">SIZE</label>
		<h4>
			<%= number_to_human_size @loader.source_files.where.not(size: nil).sum(&:size) %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">COLUMNS</label>
		<h4>
			<%= @loader.source_files.first.columns %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label">ROWS</label>
		<h4>
			<%= number_to_human(@loader.source_files.where.not(rows: nil).sum(&:rows), significant: false, precision: 1) %> 
		</h4>
	</div>
	<div class="titled-label">
		<label class="label"><i class="fa fa-envelope"></i> &nbsp;NOTIFY</label>
		<h4>
			<%= @loader.notify %> 
		</h4>
	</div>
	<% if @loader.use_file_prefix %>
		<div class="titled-label">
			<label class="label"><i class="fa fa-file-code-o"></i> &nbsp;FILE PREFIX</label>
			<h4>
				<%= @loader.file_prefix %> 
			</h4>
		</div>
	<% end %>	
</div>

<% end %>
</div>

<!-- Errors -->

<% if @loader.errors.any? %>

<div class="alert alert-danger">	  
  <div><p><i class="fa fa-exclamation-triangle fa-2x" ></i> This loader has 
	  <span class="label label-danger"><%= @loader.errors.count %></span> <%= @loader.errors.count > 1 ? "errors" : "error" %> that needs to be fixed: </p></div>
  <ul>
      <% @loader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </ul>
</div>
<% end %>


<% unless @loader.source_files.first.nil? %>

<button class="btn btn-md btn-info-outline text-left m-t" type="button" data-toggle="collapse" data-target="#loader-schema" aria-expanded="false" aria-controls="loader-schema">
  <i class="fa fa-expand"></i>	
  Show Configured Schema
</button>

<div class="row collapse" id="loader-schema">
	<div class="col-md-3">
		<h2>Input</h2>
		<table class="table table-condensed table-striped table-hover lite-table" >
			<thead>
				<tr>									
					<th colspan="2">Column</th>		
				</tr>	
			</thead>
			<tbody>
				<% @loader.source_files.first.parsed_headers.each do |hd| %>					
					<tr>
							<td class="icon-col"><%= type_to_html hd['dataType'] %></td>
							<td><%= hd['columnName'] %></td>							
					</tr>	
				<% end %>
			</tbody>
		</table>
	</div>
	
	<div class="col-md-1"> &nbsp;
		
	</div>
	
	<div class="col-md-8">
		<h2>Output</h2>
		<table class="table table-condensed table-striped table-hover lite-table" >
			<thead>
				<tr>					
					<th colspan="2">Column</th>	
					<th>Primary Key</th>
					<th>Merge Key</th>
					<th>Sort Key</th>	
					<th>Distribution Key</th>							
				</tr>	
			</thead>
			<tbody>
				<% @loader.parsed_column_settings.each do |hd| %>					
					<tr>
							<td class="icon-col"><%= type_to_html hd['dataType'] %></td>
							<td><%= hd['columnName'] %></td>
							<td class="text-center">
								<% if @loader.contains(:primary_keys, hd['columnName']) %>
									<i class="fa fa-key" aria-hidden="true"></i>
								<% end %>							
							</td>
							<td class="text-center">
								<% if @loader.contains :merge_keys, hd['columnName'] %>
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
								<% end %>
							</td>	
							<td class="text-center">
								<% if @loader.contains :sort_keys, hd['columnName'] %>
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
								<% end %>
							</td>	
							<td class="text-center">
								<% if @loader.distribution_key == hd['columnName'] %>
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
								<% end %>
							</td>								
					</tr>	
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>


<div class="lodr-pretty-table m-t-md over-x-a">
<h4 class="table-title">JOB HISTORY</h4>	
<table class="table table-striped m-t-md">
	<thead>
		<tr>				
			<th>Start</th>
			<th>Finish</th>
			<th>Duration</th>
			<th>Info</th>
			<th>Status</th>
			<th>Bytes</th>
			<th><i data-toggle="tooltip" 
				data-title="Total input rows" 
				class="fa fa-question-circle" ></i> Rows In</th>
			<th><i data-toggle="tooltip" 
				data-title="Total rows loaded of the input" 
				class="fa fa-question-circle" ></i> Loaded</th>
			<th><i data-toggle="tooltip" 
				data-title="Total rows inserted" 
				class="fa fa-question-circle" ></i> Inserted</th>
			<th><i data-toggle="tooltip" 
				data-title="Total rows updated" 
				class="fa fa-question-circle" ></i> Updated</th>
			<th><i data-toggle="tooltip" 
				data-title="Total rows failed. These are rows where none of the columns had a valid value to be inserted." 
				class="fa fa-question-circle" ></i> Failed</th>
			<th><i data-toggle="tooltip" 
				data-title="Error count per column.  Errors are mostly due to data type mismatch." 
				class="fa fa-question-circle" ></i> Field Errors</th>
			<th>Errors</th>
		</tr>	
	</thead>
	<tbody>
		<% @jobs.each do |j| %>					
			<tr>
					<td><%= formatted_time(j.started_at) %></td>
					<td><%= formatted_time(j.finished_at) %></td>
					<td><%= j.finished_at && j.started_at ? (j.finished_at - j.started_at) : -1 %></td>
					<td><%= j.info %>
						<% if j.selected_file %>
							<p class="text-muted">auto selected file: <%= j.selected_file %></p>
						<% end %>
					</td>
					<td>
						<% if j.failed? || j.cancelled? %>
							<label class="label label-danger"><%= j.status %></label>
						<% elsif j.succeeded? %>
							<label class="label label-success"><%= j.status %></label>
						<% elsif j.succeeded_with_errors? %>
							<label class="label label-warning"><%= j.status %></label>
						<% else %>
							<label class="label label-info"><%= j.status %></label>
						<% end %>
					</td>
					<td><%= number_to_human_size j.input_bytes %></td>	
					<td><%= j.input_rows %></td>
					<td><%= j.total_rows_loaded %></td>		
					<td><%= j.inserted_rows %></td>
					<td><%= j.updated_rows %></td>
					<td><%= j.total_failed_rows %></td>	
					<td > 
						<% if j.field_errors %>
						<a href="#" data-target="#errorModal" data-toggle="modal"
							class="field-errors" data-body-transformer="fieldError"							
							data-body="<%= j.field_errors.to_json %>">
							<% err = j.field_errors.size %>
							<%= "#{pluralize(err, 'field error')} "  %>
						</a>
						<% end %>
					</td>
					<td>
						<% if j.execution_errors %>
						<a href="#" data-target="#errorModal" data-toggle="modal"
							data-body="<%= j.execution_errors %>">
							<%= j.execution_errors[0..10]+"..." %>
						</a>
						<% end %>
					</td>		
			</tr>	
		<% end %>
	</tbody>
</table>

<div class="m-y-md">
<%= will_paginate @jobs, {"data-scroll" => true} %>
</div>

</div> <!-- end job history -->


<div class="lodr-pretty-table m-t-lg">
<h4 class="table-title">SOURCE FILES</h4>
<table class="table table-striped m-t-md">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Size</th>
			<th>Est. Rows</th>
			<th>Columns</th>
			<th>Delimiter</th>
		</tr>
	<thead>
	<tbody>
		<% @sources.each do |bh| %>
			<tr>
				<td>
					<% bh_name = bh.loadable_id.nil? ? bh.clean_name : bh.name  %>
					<%= link_to bh_name, source_path(bh) %>
				<td>
					<% if bh.ready? %>
						<span class="label label-success"><%= bh.status.titleize %></span>
					<% elsif bh.loaded? %>
						<span class="label label-primary"><%= bh.status.titleize %></span>
					<% elsif bh.failed? %>
						<span class="label label-danger"><%= bh.status.titleize %></span>
					<% else %>
						<span class="label label-info"><%= bh.status.titleize %></span>
					<% end %>
				</td>
				<td><%= number_to_human_size bh.size %></td>
				<td><%= number_to_human bh.rows, units: num_units %></td>
				<td><%= bh.columns %></td>
				<td><%= bh.delimiter %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="m-y-md">
<%= will_paginate @sources, {"data-scroll" => true, :param_name => 'sources_page'} %>
</div>

</div>

<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
			class: "form-control pull-right custom-select m-t", style: "width:70px",
	       :onchange => "if(this.value){Turbolinks.visit('?per_page='+this.value);}" %>


<%= render 'shared/error_modal'%>
