<div class="row">
	<% if @loader.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
	      Please fix <%= pluralize(@loader.errors.count, "error") %>
		  <ul>
		      <% @loader.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		  </ul>
	  </div>
	<% end %>
	
	<div class="col-sm-6">
		<div class="btn-toolbar">
			<h2 class="title">Choose Source Files</h2>
		</div>
	</div>
	<div class="col-sm-6 text-right">
		<%= form_tag(loader_sources_path, method: "get", class: "form-inline m-t-md") do %>
		<div class="form-group">
		  <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "search sources") %>
		</div>
		  <%= submit_tag "Search", class: "btn btn-sm btn-default-outline" %>
		<% end %>
	</div>
</div>

<div class="m-t">

<%= form_for @loader, url: update_loader_sources_path(@loader), 
	html: { class: "next-submit-form"} do |f| %>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#choose-sources" aria-controls="choose-sources" role="tab" data-toggle="tab">Sources</a></li>
    <li role="presentation"><a href="#advanced" aria-controls="advanced" role="tab" data-toggle="tab">
    	Advanced: Automatic File Selection
    </a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="choose-sources">
		
			<%= f.hidden_field :step, value: Loader.next_step(:choose_inputs)%>
			<ul class="list-group sources-list m-t-md">
				<%= f.collection_check_boxes(:source_file_ids, @files, :id, :clean_name) do |cb| %>
					<li class="list-group-item checkbox">
				
						<% if (@loader.source_files.collect{ |f| f.id}).include? cb.object.id%>
							<%= cb.label { cb.check_box({checked: true}) + cb.text} %>
						<% else %>
							<%= cb.label { cb.check_box({checked: false}) + cb.text} %>
						<% end %>
				
						<% if cb.object.pre_processing? %>
							<span class="badge alert-warning" data-toggle="tooltip" 
								data-title="Analyzing file encoding, delimeter, quote char, and a light preview of the data." 
								data-placement="top" >Pre Processing</span>
						<% elsif cb.object.profiling? %>
							<span class="badge alert-warning" data-toggle="tooltip" 
								data-title="Detecting column data types and building a larger file preview." 
								data-placement="top" >Profiling</span>
						<% elsif cb.object.ready? %>
							<span class="badge alert-success" data-toggle="tooltip" 
								data-title="Data is profiled and ready to be used in a load job." 
								data-placement="top" >Ready</span>
						<% elsif cb.object.failed? %>
							<span class="badge alert-danger" data-toggle="tooltip" 
								data-title="<%= cb.object.processing_errors %>" 
								data-placement="top" >Failed  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
						<% else %>
							<span class="badge" data-toggle="tooltip" 
								data-title="This file has been uploaded to a target database in the past." 
								data-placement="top" ><%= cb.object.status.titleize %></span>
						<% end %>
				
						<small>
							<span class="source-stat text-muted pull-right" title="<%= cb.object.updated_at %>">
								<i class="fa fa-clock-o" aria-hidden="true"></i> updated <%= time_ago_in_words(cb.object.updated_at) %> ago</span>
							<span class="source-stat text-muted pull-right" title="<%= cb.object.rows %>">
									<%= number_to_human(cb.object.rows, significant: false, precision: 1) %> rows</span>
						</small>
						
						<% unless cb.object.loadable.nil? %>
							<p class="text-muted p-l"><small>
								<i class="fa fa-key" aria-hidden="true"></i>
								s3 object key: <%= cb.object.name %></small>
							</p>
						<% end %>
						
					</li>
				<% end %>
			</ul>

		<%= will_paginate @files %>

		<% if @files.size > 0%>
			<%= select_tag :per_page, options_for_select([10,25,50,100], @per_page),
					class: "form-control pull-right", style: "width:50px",
			       :onchange => "if(this.value){window.location=window.location+'?&per_page='+this.value;}" %>
		<% end %>		
    </div>
    <div role="tabpanel" class="tab-pane" id="advanced">
		<div class="well well-lg m-t-md">
			<div class="row">
				<div class="col-xs-1 p-l">
					<%= fa_icon("cog","","fa-2x")%>
				</div>
		
				<div class="col-xs-11">
					<h4 class="m-t-0">Automatically Choose the Latest File with matching Prefix</h4>
					<p class="help-block">Lodr can choose the latest file available that matches the provided prefix.  If the prefix matches a compressed (zip, gzip etc) file, Lodr will unzip it and choose a file that matches the original input file name or the latest one. <strong> You still have to select a source file in the Sources tab so we can configure the load process.</strong> <%= link_to "Learn more", 'https://blog.lodr.io/choosing-the-latest-matching-file-7e6d83c9c5e9', target: "_blank" %></p>
			
					<div class="checkbox m-t">
					  <label>
					    <%= f.check_box :use_file_prefix %>
					    Enable prefix based file selection
					  </label>
					</div>
			
		   		 <div class="form-group m-t">
		   	  	    <%= f.label :file_prefix, "File Prefix", class: " control-label" %>
		   	       	<%= f.text_field :file_prefix, class: "form-control"  %>
					<p class="help-block">For S3 files, do not enter the entire object key. Lodr will create the object key using the the object key of the file selected above. <%= link_to "Learn more", 'https://blog.lodr.io/choosing-the-latest-matching-file-7e6d83c9c5e9', target: "_blank" %></p>	     	  
		   		 </div>
				</div>
			</div>
		</div>

		<% end %>
		
    </div>
  </div>

</div>


<div style="height: 110px;">&nbsp;</div>