<% if @loader.will_exceed_quota? %>

<div class="alert alert-warning p-a-md">
	<div class="row">
		<div class="col-xs-2 col-sm-1"><%= fa_icon("exclamation-triangle",nil,"fa-2x")%> </div>
		<div class="col-sm-11">
			
			<h4 class="m-t-0 text-warning">
		
				Unfortunately, you do not have enough rows in your current plan to run this loader.  This loader will process about <%= number_with_delimiter(number_with_precision(@loader.estimated_input_rows, precision: 0)) %> rows but you have <%= number_with_delimiter current_project.owner.subscription.rows_remaining %> rows left. </h4>
				
			<h4>Row allocation is based on the project owners subscription.</h4>
	
			<h4>Please consider upgrading</h4>
	
			<%= link_to "Upgrade", page_path('upgrade'), class: "btn btn-primary btn-lg btn-square m-t"%>
			
		</div>
	</div>
</div>

<% end %>

<% @loader.loader_is_valid? %>


<% if @loader.errors.any? %>
	<div class="text-center text-danger">
		<h1 >Looks like there are some issues</h1>
		<p class="lg-subtitle text-muted">Please resolve the problems below before proceeding</p>
	</div>
<% else %>
	<div class="text-center">
		<h1 >You're all set to load data!</h1>
		<p class="lg-subtitle text-muted">Review the summary below before running the load job</p>
	</div>
<% end %>

	
<div class="row summary-section">
	<div class="col-sm-1">
		<% if @loader.has_source_errors? %>
			<i class="fa fa-exclamation-circle fa-3x summary-status-error text-danger" aria-hidden="true"></i>			
		<% else %>
			<i class="fa fa-check-circle fa-3x summary-status-ok" aria-hidden="true"></i>
		<% end %>
	</div>
	<div class="col-sm-9">
		<h3>Source Files</h3>
		
		<% if @loader.has_source_errors? %> 
			<ul class="lg-subtitle text-danger">
			<% @loader.errors.each do |a,m| %>
				<% if [:source_files, :columns, :invalid_files ].include? a %>
					<li><%= @loader.errors.full_messages_for(a).first %></li>
				<% end %>
			<% end %>
			</ul>
		<% else %>
			<p class="lg-subtitle text-muted">An <i><strong title="The actual row counts will be tabulated when a the job is run.  The estimate is usually within 5%">estimated</strong></i> total of <%= number_to_human @loader.source_files.where.not(rows: nil).sum(:rows)%> 
				rows will be processed, <%= number_to_human_size @loader.source_files.where.not(rows: nil).sum(:size)%></p>
			<ul class="text-muted">
			<% @loader.source_files.each do |f| %>
				<li><%= "#{f.name}, #{number_to_human f.rows} rows, #{f.columns} columns, #{number_to_human_size f.size} , updated #{time_ago_in_words(f.updated_at)} ago" %></li>
			<% end %>
			</ul>
			<% if @loader.use_file_prefix %>
				<div class="alert alert-warning">
					<h6 class="text-warning" style="font-weight:bold;">Auto File Selection</h6>
					The actual loaded file will be the latest matching file with the prefix <strong><%= @loader.file_prefix %></strong>
				</div>
			<% end %>
		<% end %>		
		
	</div>
	<div class="col-sm-2">
		<%= link_to "Edit", loader_sources_path(@loader), class: "btn btn-primary" %>
	</div>
</div>

<div class="row summary-section">
	<div class="col-sm-1 summary-status-ok">
		<% if @loader.has_transform_errors? %>
			<i class="fa fa-exclamation-circle fa-3x summary-status-error text-danger" aria-hidden="true"></i>			
		<% else %>
			<i class="fa fa-check-circle fa-3x summary-status-ok" aria-hidden="true"></i>
		<% end %>
	</div>
	<div class="col-sm-9">
		<h3>Transformations</h3>
		<% if @loader.has_transform_errors? %>
			<p class="lg-subtitle text-danger">Visit the transformations sections and preview data before proceeding</p>
		<% else %>
			<p class="lg-subtitle text-muted"><%= "#{@tr.size} transformations will produce #{@cols.size} columns" %> </p>
		<% end %>		
	</div>
	<div class="col-sm-2">
		<%= link_to "Edit", loader_transforms_path(@loader), class: "btn btn-primary" %>
	</div>
</div>

<div class="row summary-section">
	<div class="col-sm-1 summary-status-ok">
		<% if @loader.has_target_errors? %>
			<i class="fa fa-exclamation-circle fa-3x summary-status-error text-danger" aria-hidden="true"></i>			
		<% else %>
			<i class="fa fa-check-circle fa-3x summary-status-ok" aria-hidden="true"></i>
		<% end %>
	</div>
	<div class="col-sm-9">
		<h3>Target</h3>
		
		<% if @loader.has_target_errors? %>
		
			<ul class="lg-subtitle text-danger">
			<% @loader.errors.each do |a,m| %>
				<% if [:target_table_name, :database_id, 
         :update_mode, :distribution_style, :merge_key, :distribution_key].include? a %>
					<li><%= @loader.errors.full_messages_for(a).first %></li>
				<% end %>
			<% end %>
			</ul>
		
		<% else %>
		
		<p class="lg-subtitle text-muted">Table <strong><%= @loader.target_table_name %></strong> in database <strong><%= @loader.database.name %></strong> will be loaded with the <strong><%= @loader.update_mode.split("_")[1].titleize %></strong> strategy</p>
		
		<a class="btn btn-default" role="button" data-toggle="collapse" href="#showDetails" aria-expanded="false" aria-controls="showDetails">
		  Show Details
		</a> <br /><br />
		
		<div class="well collapse" id="showDetails">			
		
		
		<% if @loader.update_mode == "mode_merge" %>
			<p class="text-muted"><strong>Merge Keys &nbsp;&nbsp;</strong> 
				<% @loader.merge_keys.each do |k| %>
					<span class="label label-info"><%= k %></span>
				<% end %>
			</p>
		<% end %>
		
		<% if @loader.primary_keys && @loader.primary_keys.size > 0 %>
			<p class="text-muted"><strong>Primary Keys &nbsp;&nbsp;</strong> 
				<% @loader.primary_keys.each do |k| %>
					<span class="label label-success"><%= k %></span>
				<% end %>
			</p>
		<% end %>
		
		<% if @loader.sort_keys && @loader.sort_keys.size > 0 %>
			<p class="text-muted"><strong>Sort Keys &nbsp;&nbsp;</strong> 
				<% @loader.sort_keys.each do |k| %>
					<span class="label label-danger"><%= k %></span>
				<% end %>
			</p>
		<% end %>
		
		<% if @loader.dist_key? %>
			<p class="text-muted"><strong>Distribution Key &nbsp;&nbsp;</strong> 
				<span class="label label-danger"><%= @loader.distribution_key %></span>
			</p>
		<% end %>
		
		<p class="text-muted"><strong>Columns &nbsp;&nbsp;</strong> 
			<% @cols.each do |k| %>
				<span class="label label-default" title="<%= k["dataType"].titleize %>"><%= k["columnName"] %>
				</span>	&nbsp;			
			<% end %>
		</p>
		
		
		</div> <!-- end details -->
		
		<% end %>
	</div>
	<div class="col-sm-2">
		<%= link_to "Edit", loader_target_table_path(@loader), class: "btn btn-primary" %>
	</div>
</div>

<div class="row summary-section">
	<div class="col-sm-1 summary-calendar">
		<% if @loader.has_schedule_errors? %>			
			<i class="fa fa-exclamation-circle fa-3x summary-status-error text-danger" aria-hidden="true"></i>
		<% else %>
			<i class="fa fa-calendar fa-3x <%= @loader.scheduled? ? "text-success" : "text-muted" %>" aria-hidden="true"></i>	
		<% end %>
	</div>
	<div class="col-sm-9">
		<h3>Load Schedule: <%= @loader.schedule_type_name %> </h3>
		<% if @loader.has_schedule_errors? %>
			<ul class="lg-subtitle text-danger">
			<% @loader.errors.each do |a,m| %>
				<% if [:start_time, :start_date, :time_zone ].include? a %>
					<li><%= @loader.errors.full_messages_for(a).first %></li>
				<% end %>
			<% end %>
			</ul>
		<% elsif @loader.schedule_none? %>
			<p class="lg-subtitle text-muted"> This loader has not been scheduled. Click Edit to add a schedule.</p>
		<% elsif @loader.schedule_once? %>
			<p class="lg-subtitle"> This loader was scheduled to run once on <strong> <%= @loader.next_occurrence ? @loader.next_occurrence.strftime("%B %d, %Y %I:%M %p %Z") : @loader.start_time.strftime("%B %d, %Y %I:%M %p %Z") %> </strong></p>
		<% else %>
			<p class="lg-subtitle">
				<ul>
					<li><%= @loader.schedule_in_words %></li>
					
					<li>Next load runs on: 
					<% if @loader.next_occurrence %>
						<strong><%= @loader.next_occurrence.strftime("%B %d, %Y %I:%M %p %Z") %></strong>
					<% else %>
						<strong>No further loads are scheduled</strong>
					<% end %>
					</li>
				</ul>
			</p>
		<% end %>			
	</div>
	<div class="col-sm-2">
		<%= link_to "Edit", "#editSchedule", class: "btn btn-primary", data: {toggle: "modal", target: "#scheduleModal"} %>
	</div>
</div>

<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="scheduleModalLabel"><%= fa_icon("calendar")%> Schedule Loader</h4>
      </div>
	  
	<%= form_for @loader, url: update_loader_schedule_path(@loader), 
		html: { class: "next-submit-form form-horizontal", id: "wrangler-form"} do |f| %>
	  
      <div class="modal-body p-y-md p-x-lg h-400 over-y-a schedulable">
		<div class="form-group col-sm-11">
			<%= f.label :schedule_type, "Schedule Frequency", class: "control-label" %> <br />
		  	
      		<%= f.collection_radio_buttons(:schedule_type, Loader.schedule_types, :first, :first, 
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "radio-inline", style: "width:90px;margin-left:5px") { b.radio_button + b.text.titleize.split(" ").last } } %>
			
		</div>
		
		<div class="form-group" id="start-time-options">					  
		  	<div class="col-sm-4">
				<%= f.label :start_date, "Starts On", class: "control-label" %>
	      		<%= f.date_field :start_date, class: "form-control" %>
			</div>
		  	<div class="col-sm-4">
				<%= f.label :start_time, "Time", class: "control-label" %>
	      		<%= f.time_field :start_time, class: "form-control", 
					value: (@loader.start_time.class == String ? @loader.start_time : @loader.start_time.strftime("%H:%M") ) %>
			</div>
		  	<div class="col-sm-4">
				<%= f.label :time_zone, "Time Zone", class: "control-label" %>
				<%= f.select :time_zone, ActiveSupport::TimeZone::MAPPING.keys, {selected: (@loader.time_zone == "UTC" ? current_project.time_zone : @loader.time_zone) }, { class: "form-control custom-select" } %>
			</div>
		</div>													
		
		<div class="form-inline m-t-md" id="periodic-option">
			<hr />
					
			<p class="form-control-static"><strong>Runs Every</strong>
			<%= f.number_field :schedule_period , class: "form-control form-inline m-x", size: "5", 
				minimum: "1", style: "width:80px;" %> 
			<strong class="period-type"> Hour(s) </strong></p>
		</div>
						
						
		<div class="form-group" id="month-of-year-option">
			<hr />
								
			<div class="col-sm-11">						
				<%= f.label :months_of_year, "On Months of Year", class: "control-label" %> <br />
	      		<%= f.collection_check_boxes(:months_of_year, array_to_collection(Date::MONTHNAMES), 
					:value, :text, 
	      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
						class: "checkbox-inline", 
						style: "margin-left: 10px;width:100px") { b.check_box + b.text } } %>
			</div>
		</div>		
		
		<div class="form-group m-t" id="week-of-month-option">
			<hr />	
			<div class="col-sm-11 ">
			<%= f.label :weeks_of_month, "Weeks of Month", class: "control-label" %> <br />
      		<%= f.collection_check_boxes(:weeks_of_month, array_to_collection(Scheduled::WEEKS_OF_MONTH.keys),
				:value, :text,
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "checkbox-inline", 
					style: "margin-left: 10px;width:100px") { b.check_box + b.text.titleize.split(" ").last } } %>
			</div>
		</div>		
		
		<div class="form-group m-t" id="day-of-week-option">
			<hr />	
			<div class="col-sm-11 ">
			<%= f.label :days_of_week, "On Days of Week", class: "control-label" %> <br />
      		<%= f.collection_check_boxes(:days_of_week, array_to_collection(Date::DAYNAMES), :value, :text, 
      		 	{}, {}) {|b| b.label(:"data-value" => b.value, 
					class: "checkbox-inline", 
					style: "margin-left: 10px;width:100px") { b.check_box + b.text.titleize.split(" ").last } } %>
			</div>
		</div>									
		
		<div class="form-group m-t-md" id="day-of-month-option">
			<hr />
			<%= f.label :day_of_month, "On Day of Month", class: "col-sm-4" %>
			<div class="col-sm-4">
	      		<%= f.select :day_of_month, 1..31, {include_blank: true}, { class: "form-control col-sm-9"} %>
			</div>
		</div>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-default-outline" data-dismiss="modal">Close</button>
		<%= f.submit "Apply Schedule", class: "btn btn-info" %>
      </div>
	
	<% end %>  
	
    </div>
  </div>
</div>


<div style="height: 110px;">&nbsp;</div>