<div class="big-form-container">
<h1 class="title">Configure Target Table </h1>

	<% if @loader.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
	      Please fix <%= pluralize(@loader.errors.count, "error") %>
		  <ul>
		      <% @loader.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		  </ul>
	  </div>
	<% end %>
	
<%= form_for @loader, url: update_loader_target_path(@loader), 
	html: { class: "next-submit-form form-horizontal",id: "wrangler-form"} do |f| %>
	
	<%= f.hidden_field :step, value: Loader.next_step(:target_table) %>
		
	 <div class="form-group">
	 	   <%= f.label :database, "Choose Target Database", class: "col-sm-3 control-label" %>
	      	<div class="col-sm-7">
				<%= f.collection_select(:database_id, current_project.databases, 
					:id, :name, {}, { class: "form-control" }) %>
	    	</div>
			<div class="col-sm-2 text-right">
				<%= link_to fa_icon("database", "New"), new_database_path, class: "btn btn-info-outline w-full" %>
			</div>	     	  
	 </div>
		
	 <div class="form-group">
	 	   <%= f.label :target_table_name, "Target Table Name", class: "col-sm-3 control-label" %>
	      	<div class="col-sm-9">
	          	<%= f.text_field :target_table_name, { class: "form-control" } %>
	    	</div>	     	  
	 </div>
	 
	 <div class="form-group" id="update-mode">
 	   <%= f.label :update_mode, "Table Update Mode", class: "col-sm-3 control-label" %>
      	<div class="col-sm-9">
   		 <%= f.collection_radio_buttons(:update_mode, Loader.update_modes, :first, :first, 
   		 	{}, {}) {|b| b.label(:"data-value" => b.value, class: "radio-inline") { b.radio_button + b.text.titleize.split(" ").last } } %>
		 
		 <p class="help-block">When the target table already exists, the above method will be used to load new data.  If the target table and the incoming data are structurally different, an error message will be sent.</p>
		 
		 <p class="help-block"><strong>Merge</strong> will update records based on the selected keys below if they exist, or insert new records. This process is also known as Upserts.</p>
    	</div>		 	  
	 </div>
	 
	 <div class="form-group" id="dist-style">
 	   <%= f.label :distribution_style, "Distribution Style", class: "col-sm-3 control-label" %>
      	<div class="col-sm-9">
  	  		 <%= f.collection_radio_buttons(:distribution_style, Loader.distribution_styles, :first, :first, 
  	  		 	{}, {class: "dist-key-style"}) {|b| b.label(:"data-value" => b.value, class: "radio-inline") { b.radio_button + b.text.titleize.split(" ").last } } %>

  		 <p class="help-block">When you load data into a table, Amazon Redshift distributes the rows of the table to each of the compute nodes according to the table's distribution style.  <a href="http://docs.aws.amazon.com/redshift/latest/dg/t_Distributing_data.html" target="_blank">Learn more here.</a></p>
    	</div>		 	  
	 </div>
	 <%= render partial: 'table_schema', locals: {f: f} %>	
	 
	 <%= render partial: 'table_advanced_settings', locals: {f: f} %>
		
<% end %>  
</div>


<script type="text/javascript">
$(document).on('click', '#update-mode input',function(e){
	if($(e.currentTarget).val() == "mode_merge"){
		$("input[name='loader[merge_keys][]'").removeAttr("disabled");
	}else{
		$("input[name='loader[merge_keys][]'").attr("disabled",true);
		$("input[name='loader[merge_keys][]'").removeAttr("checked");
	}
});
$(document).on('click', 'input.dist-key-style',function(e){
	if($(e.currentTarget).val() == "dist_key"){
		$("input[name='loader[distribution_key]'").removeAttr("disabled");
	}else{
		$("input[name='loader[distribution_key]'").attr("disabled",true);
		$("input[name='loader[distribution_key]'").removeAttr("checked");
	}
});

</script>

<div style="height: 110px;">&nbsp;</div>