	<% if @loader.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
	      Please fix <%= pluralize(@loader.errors.count, "error") %>
		  <ul>
		      <% @loader.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		  </ul>
	  </div>
	<% end %>



<div class="row" id="wrangle-outer-wrapper" style="">
	<div class="wrangle-scripts p-a" id="wrangle-scripts" >
		<div id="transforms-header">
			<h5>Transformations Script</h5>
		</div>
		
		<% if notice %>
			<div id="main-ok-alert" class="alert alert-info"><%= notice %></div>
		<% end %>
	
		<% if alert %>
			<div id="main-error-alert" class="alert alert-danger"><%= alert %></div>
		<% end %>
		
		<div id="transforms">
			<div class="no-transforms">
				<p >Apply transformations by using the transformations drop down menu on each column.			
				</p>
				<p >
				You can also change a columns data type by using the data type drop down on left of each column.
				</p>
			</div>			
		</div>
	</div>
	<div id="wrangle-wrapper">
		<div id="table-container" class="transform-table-style">
		
		</div>
	</div>
</div>

<%= form_for @loader, url: update_loader_transform_path(@loader), 
	html: { class: "next-submit-form form-horizontal", id: "wrangler-form"} do |f| %>
		
	<%= f.hidden_field :step, value: Loader.next_step(:transformations) %>
	<%= f.hidden_field :column_settings %>
	<%= f.hidden_field :transformations %>	
		
<% end %>


<script type="text/javascript">
$(function(){
	$(".container").removeClass("container").addClass("container-fluid");
	lodr.transformations = <%=raw @loader.transformations ? @loader.transformations : "[]" %>;
	lodr.column_settings = <%=raw @loader.column_settings ? @loader.column_settings : "[]" %>; 
	lodr.headers = <%=raw @file.headers %>;
	
	$.each(lodr.headers, function(i,hd){
		hd.original_index = i;
	});
	
	lodr.source_file_name =  "<%= @file.name %>";
	lodr.rows = <%=raw @file.sample.sample %>;
	lodr.original_headers = <%=raw @file.headers %>;
	lodr.original_rows = <%=raw @file.sample.sample %>;
	lodr.reapply_commands();
	lodr.renderWranglerTable();
});
</script>

<script id="_colHdr" type="text/x-handlebars-template">
	<div class="col-header header" id="col_{{safeId columnName }}" 
			data-col-name="{{ columnName }}" 
			data-datatype="{{dataType}}" 
			data-original-index="{{original_index}}"
			style="width:{{width}}px;min-width:{{width}}px;">
			
		<div class="col-dropdown data-type-btn btn-group" id="type-drop-{{safeId columnName }}">
		  <button type="button" class="btn btn-default dropdown-toggle" 
		  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{{typeHtml dataType }}}		
		  </button>

		  <ul class="dropdown-menu" data-parent="#col_{{safeId columnName }}" >
			<li><a href="#" 
				onclick="lodr.controller.changeType('{{ columnName }}','VARCHAR',event);">
				<i class="fa text-icon text-icon-string">abc</i><span class="menu-label"> Text</span></a></li>
		    <li><a href="#" 
				onclick="lodr.controller.changeType('{{ columnName }}','DATE',event);">
				<i class="fa fa-calendar" aria-hidden="true"></i><span class="menu-label">  Date</span></a></li>
		    <li><a href="#" 
				onclick="lodr.controller.changeType('{{ columnName }}','TIMESTAMP',event);">
				<i class="fa fa-clock-o" aria-hidden="true"></i><span class="menu-label">  Date Time</span></a></li>
		    <li><a href="#"  
				onclick="lodr.controller.changeType('{{ columnName }}','INTEGER',event);">
				<i class="fa fa-hashtag" aria-hidden="true"></i><span class="menu-label">  Integer</a></span></li>
		    <li><a href="#" 
				onclick="lodr.controller.changeType('{{ columnName }}','DECIMAL',event);">
				<i class="fa text-icon" aria-hidden="true">#.#</i><span class="menu-label"> Decimal </span></a></li>
			<li><a href="#" onclick="lodr.controller.changeType('{{ columnName }}','BOOLEAN',event);">
				<i class="fa fa-toggle-on" aria-hidden="true"></i><span class="menu-label">  Boolean</a></span></li>
		  </ul>
		</div>
		<span class="col-title">{{ columnName }}</span>
		<!-- <button class="btn btn-default sort-btn">
			<i class="fa fa-sort-amount-asc sort-icon" aria-hidden="true"></i>
		</button> -->

		<div class="col-dropdown transforms-menu-btn btn-group" id="transforms-drop-{{safeId columnName }}">
		  <button type="button" class="btn btn-default dropdown-toggle" 
		  	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="transforms-menu-icon fa fa-caret-down" aria-hidden="true"></i>		
		  </button>

		  <ul class="dropdown-menu" data-parent="#col_{{safeId columnName }}" >
			<li class="dropdown-header">GENERAL</li>
			<li><a href="#" onclick="lodr.controller.show('rename',event);" >
				<span class="menu-label">Rename Column...</span></a></li>
			<li><a href="#" onclick="lodr.controller.do('delete',event);" >
				<span class="menu-label">Delete Column</span></a></li>
			<li><a href="#" onclick="lodr.controller.show('move',event);" >
				<span class="menu-label">Move Column...</span></a></li>
			<li class="merge-right"><a href="#" onclick="lodr.controller.show('merge',event);" >
				<span class="menu-label">Merge with Target Column..</span></a></li>
			<li><a href="#" onclick="lodr.controller.show('find_replace',event);" >
				<span class="menu-label">Find and Replace...</span></a></li>
						
			
			<li class="dropdown-header">EXTRACT STRING</li>
			<li><a href="#" onclick="lodr.controller.show('extract_between',event);" >
				<span class="menu-label">Extract Text Between...</span></a></li>
			<li><a href="#" onclick="lodr.controller.show('extract_pattern',event);" >
				<span class="menu-label">Extract Pattern...</span></a></li>
			
			<li><a href="#" onclick="lodr.controller.show('extract_json',event);" >
				<span class="menu-label">Extract JSON...</span></a></li>
			
			<li class="dropdown-header">SPLIT</li>
			<li><a href="#" onclick="lodr.controller.show('split_delimiter',event);" >
				<span class="menu-label">Split by Delimiter...</span></a></li>
			<li><a href="#" onclick="lodr.controller.show('split_position',event);" >
				<span class="menu-label">Split by Position...</span></a></li>
			
			<li class="divider"></li>	
			<li class="dropdown-submenu">
		        <a class="submenu" tabindex="-1" href="#">Row Processing <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i></a>
		        <ul class="dropdown-menu"  data-parent="#col_{{safeId columnName }}">
					<li><a href="#" onclick="lodr.controller.do('merge_all_rows',event);" >
						<span class="menu-label">Merge all Rows</span></a></li>
					<li><a href="#" onclick="lodr.controller.do('insert_file_name',event);" >
						<span class="menu-label">Insert File Name</span></a></li>
					<li><a href="#" onclick="lodr.controller.show('delete_rows',event);" >
						<span class="menu-label">Delete Rows...</span></a></li>
		        </ul>
		    </li>
			
			<li class="dropdown-submenu">
		        <a class="submenu" tabindex="-1" href="#">Text Transforms <i class="fa fa-caret-right fa-fw" aria-hidden="true"></i></a>
		        <ul class="dropdown-menu"  data-parent="#col_{{safeId columnName }}">
					<li><a href="#" onclick="lodr.controller.do('upper_case',event);" >
						<span class="menu-label">UPPERCASE</span></a></li>
					<li><a href="#" onclick="lodr.controller.do('lower_case',event);" >
						<span class="menu-label">lowercase</span></a></li>
					<li><a href="#" onclick="lodr.controller.do('capitalize',event);" >
						<span class="menu-label">Capitalize words</span></a></li>
					<li><a href="#" onclick="lodr.controller.do('titleize',event);" >
						<span class="menu-label">Titleize Words</span></a></li>
					<li><a href="#" onclick="lodr.controller.do('snake_case',event);" >
						<span class="menu-label">snake_case_words</span></a></li>
					<li><a href="#" onclick="lodr.controller.do('trim',event); " >
						<span class="menu-label">Trim</span></a></li>
		        </ul>
		    </li>
			
		  </ul>
		</div>

	</div>
</script>


<script id="_rename" type="text/x-handlebars-template">
	<div class="transform-modal modal fade" id="transform_rename" tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Rename: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a">
	        <form>
	          <div class="form-group">
				<input type="hidden" name="col_name" value="{{ columnName }}">
	            <label for="column-name" class="control-label">Enter New Column Name: <span class="req">*</span></label>
	            <input type="text" class="form-control" id="column-name" name="new_column_name" required="true" data-allow-blanks="false">
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_move" type="text/x-handlebars-template">
	<div class="transform-modal modal fade" id="transform_move" tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Move Column: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a">		  
	        <form>
	          <div class="form-group">
				<input type="hidden" name="col_name" value="{{ columnName }}">
	            <label for="column-name" class="control-label">Enter new Column Position<span class="req">*</span></label>
	            <input type="number" class="form-control" id="position" name="position" min="1" required="true" data-allow-blanks="false">
				<p class="help-block">To move column to first position enter 1</p>
	          </div>
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_merge" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_merge" 
		data-previewable="500" data-preview-index="0"
		tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Merge Right: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a-md">
	        <form>
			  <div class="form-group">
				<label for="target_column_name" class="control-label">Choose Column to Merge With:<span class="req">*</span></label>
	            <select class="form-control preview-trigger" name="target_column_name" required="true" data-allow-blanks="false">
					{{#each headers}}
						<option value="{{columnName}}">{{columnName}}</option>
					{{/each}}
				</select>
			  </div>
			  	
	          <div class="form-group">
				<input type="hidden" name="col_name" value="{{ columnName }}">
				<label for="column-name" class="control-label">Enter Merge Delimiter</label>
	            <input type="text" class="form-control preview-trigger" id="delimiter" name="delimiter">
				<p class="help-block">i.e. merge "some_val" with "some_other_val" using delimiter "-" => "some_val-some_other_val"</p>
	          </div>
	        </form>
			
			<div class="preview">
				<h5>Preview</h5>				
				<div class="preview-content">complete the fields to see a preview...</div>
			</div>
			
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_delete_rows" type="text/x-handlebars-template">
	<div class="transform-modal modal fade" id="transform_delete_rows" tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Delete Rows</h4>
	      </div>
	      <div class="modal-body p-a">
			<form class="form-inline">
				  <div class="form-group">
				    <label for="start">Start</label>
				    <input type="number" class="form-control" id="start" value="1"
						name="start" placeholder="1" min="1" style="width:70px" required="true" data-allow-blanks="false">
				  </div>
				  <div class="form-group">
				    <label for="end">End</label>
				    <input type="number" class="form-control" id="end" value="1"
						name="end" placeholder="1" min="1"  style="width:70px" required="true" data-allow-blanks="false">
				  </div>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_split_delimiter" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_split_delimiter" 
		data-previewable="1000" data-preview-index="0"
		tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Split Column: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body  p-a-md">
	        <form>
	          <div class="form-group">
				<input type="hidden" name="col_name" value="{{ columnName }}">
	            <label for="delimiter" class="control-label">Enter Split Delimiter<span class="req">*</span></label>
	            <input type="text" class="form-control preview-trigger" name="delimiter" required="true" data-allow-blanks="true">
			 </div>
			 
			 <div class="form-group">
	            <label for="limit" class="control-label">Split Limit</label>
	            <input type="number" class="form-control preview-trigger" name="limit" min="1">
				
				<p class="help-block">Maximum number of columns this split will produce.</p>
			 </div>
				<div class="checkbox">
				    <label class="checkbox-inline">
				      <input type="checkbox" name="retain_column" class="preview-trigger"> Retain Original Column
				    </label>
					 <label class="checkbox-inline">
					   <input type="checkbox" name="case_insensitive" class="preview-trigger" checked> Case Insensitive
					 </label>
					 <label class="checkbox-inline">
					   <input type="checkbox" name="regex"  class="preview-trigger"> Regular Expression
					 </label>
				 </div>
	          
	        </form>
			<div class="preview">
				<h5>Preview</h5>				
				<div class="preview-content">complete the fields to see a preview...</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_split_position" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_split_position" 
		data-previewable="800" data-preview-index="0"
		tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Split Column: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a-md">
	        <form>
	          <div class="form-group">
				<input type="hidden" name="col_name" value="{{ columnName }}">
	            <label for="position" class="control-label">Enter Position Number<span class="req">*</span></label>
	            <input type="number" class="form-control preview-trigger" name="position" min="1" required="true">
				
				<p class="help-block">"SuperString" => "Su" and "perString" on position value of 2</p>
			 </div>
			 
				<div class="checkbox">
				    <label>
				      <input type="checkbox" name="retain_column" class="preview-trigger"> Retain Original Column
				    </label>
				 </div>
	          
	        </form>
			<div class="preview">
				<h5>Preview</h5>				
				<div class="preview-content">complete the fields to see a preview...</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_extract_between" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_extract_between"  
		data-previewable="500" data-preview-index="1"
		tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Extract Text Between: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a-md">
	        <form class="form-horizontal">
	          <input type="hidden" name="col_name" value="{{ columnName }}">
			  <div class="form-group">				
	            <label for="begin" class="col-sm-2 control-label">Begin<span class="req">*</span></label>
				<div class="col-sm-10">
	            	<input type="text" class="form-control preview-trigger" name="begin" required="true" data-allow-blanks="true">				
					<p class="help-block">Starting character sequence</p>
				</div>
			 </div>
			  <div class="form-group">				
	            <label for="end" class="col-sm-2 control-label">End<span class="req">*</span></label>
	            <div class="col-sm-10">
					<input type="text" class="form-control preview-trigger" name="end" required="true" data-allow-blanks="true" >				
					<p class="help-block">Ending character sequence</p>
				</div>
			 </div>
			 
			 <div class="form-group">
				 <div class="col-sm-offset-2 col-sm-10">
					 <label class="radio-inline">
					   <input class="preview-trigger" type="radio" name="occurrence" id="inlineRadio1" value="first" checked> First Occurrence
					 </label>
					 <label class="radio-inline">
					   <input class="preview-trigger" type="radio" name="occurrence" id="inlineRadio2" value="last"> Last Occurrence
					 </label>
			   	  </div>
			 </div>
			 	          
	        </form>
			
			<div class="preview">
				<h5>Preview</h5>				
				<div class="preview-content">complete the fields to see a preview...</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_extract_pattern" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_extract_pattern"  data-previewable="1000"
		data-preview-index="1"
		tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Extract Pattern: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a-md">
	        <form class="form-horizontal">
	          <input type="hidden" name="col_name" value="{{ columnName }}">
			  <div class="form-group">				
	            <label for="pattern" class="col-sm-2 control-label">Pattern<span class="req">*</span></label>
				<div class="col-sm-10">
	            	<textarea type="textarea" class="form-control preview-trigger" name="pattern" id="pattern" rows="2" required="true" data-allow-blanks="flase"></textarea>		
					<p class="help-block">Regular Expression String</p>
				</div>
			 </div>
			  <div class="form-group">				
	            <label for="end" class="col-sm-2 control-label">Limit</label>
	            <div class="col-sm-10">
					<input type="number" class="form-control preview-trigger" name="limit" min="1" value="1">				
					<p class="help-block">Maximum number of extracts</p>
				</div>
			 </div>
			 	          
	        </form>
			
			<div class="preview">
				<h5>Preview</h5>					
				<div class="preview-content">complete the fields to see a preview...</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_find_replace" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_find_replace" data-previewable="500"  data-preview-index="0"
		tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Find and Replace: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body p-a-md">
	        <form class="form-horizontal">
	          <input type="hidden" name="col_name" value="{{ columnName }}">
			  <div class="form-group">				
	            <label for="begin" class="col-sm-2 control-label">Find<span class="req">*</span></label>
				<div class="col-sm-10">
	            	<input type="text" class="form-control preview-trigger" name="find" required="true" data-allow-blanks="true">				
					<p class="help-block">Enter search text</p>
				</div>
			 </div>
			  <div class="form-group">				
	            <label for="end" class="col-sm-2 control-label">Replace</label>
	            <div class="col-sm-10">
					<input type="text" class="form-control preview-trigger" name="replace" data-allow-blanks="true">				
					<p class="help-block">Replacement text when a match is found</p>
				</div>
			 </div>
			 
			 <div class="form-group">
				 <div class="col-sm-offset-2 col-sm-10">
					 <label class="checkbox-inline">
					   <input class="preview-trigger" type="checkbox" id="inlineRadio1" name="replace_all" checked> Replace All
					 </label>
					 <label class="checkbox-inline">
					   <input class="preview-trigger" type="checkbox" name="case_insensitive" checked> Case Insensitive
					 </label>
					 <label class="checkbox-inline">
					   <input class="preview-trigger" type="checkbox" name="regex"> Regular Expression
					 </label>
			   	  </div>
			 </div>
			 	          
	        </form>
			
			<div class="preview">
				<h5>Preview</h5>					
				<div class="preview-content">complete the fields to see a preview...</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_extract_json" type="text/x-handlebars-template">
	<div class="transform-modal wide-transform modal fade" id="transform_extract_json" tabindex="-1" role="dialog" aria-labelledby="transforms dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="exampleModalLabel">Extract JSON: {{ columnName }}</h4>
	      </div>
	      <div class="modal-body">
	        <form>
	          <div class="form-group">
				<input type="hidden" name="col_name" value="{{ columnName }}">
			 </div>	          
			
			<div class="row">
				<div class="col-sm-7 json-view p-a">
					<input type="text" class="form-control json-search m-b max-300" placeholder="search for a json node" />
				</div>
				<div class="col-sm-5 table-view p-a-md">
						<div class="checkbox">
						    <label class="checkbox-inline">
						      <input type="checkbox" name="retain_column"> Retain Original Column
						    </label>
							 <label class="checkbox-inline">
							   <input type="checkbox" name="expand_array" checked> Expand Array
							 </label>
						 </div>
						  <div class="form-group">				
				            <label for="begin" class="control-label text-muted">JSON Paths <span class="req">*</span>
							<span class="p-l"> <a href="https://blog.lodr.io/jsonpath-expressions-in-lodr-7f28f9b553fd" target="_blank">Learn More</a>
							</label>
							<div class="input-group">
								<input type="text" class="form-control jsonPathDefinition" name="path" id="jsonPathInput" 
								placeHolder="Enter a json path or click on a node"  required="true" data-allow-blanks="false" />
								<div class="input-group-addon"><i class="fa fa-times-circle clear-input" aria-hidden="true"></i></div>
							</div>
						 </div>
						
					</form>
				
					<div class="proccessed-table">
						<h4 class="text-muted m-t-lg"><i> Enter a JSON path above or click on node in the JSON viewer </i></h4>
					</div>					
				</div>
			</div>			
	      </div>
	      <div class="modal-footer">
			<div class="btn-group btn-group-sm pull-left" role="group" aria-label="...">
			  <button type="button" class="btn btn-primary-outline row-decrement"><i class="fa fa-chevron-left"> </i></button>
			  <button type="button" class="btn btn-primary-outline disabled current-row">Row 1 of 500</button>
			  <button type="button" class="btn btn-primary-outline row-increment"><i class="fa fa-chevron-right"> </i></button>
			</div>  
			  
	        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
	        <button id="apply" type="button" class="btn btn-sm btn-primary">Apply</button>
	      </div>
	    </div>
	  </div>
	</div>
</script>

<script id="_json_sampler" type="text/x-handlebars-template">
	<table class="table table-condensed">
		<thead>
			<tr>
				{{#each headers}}
					<th>{{ this }}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>
			{{#each rows}}
				<tr>{{#each this }}
						<td>{{ this }}</td>
					{{/each }}
				</tr>
			{{/each}}
		</tbody>
	</table>
</script>

<script id="_script_do" type="text/x-handlebars-template">
	<div class="command-script" id="command_{{ order }}" data-command-index="{{ order }}">
		<button type="button" class="close" aria-label="Close" data-command-index="{{ order }}"><span aria-hidden="true">×</span></button>
	{{ prefix }}<span class="command"> {{ command }} </span> on column <span class="column"> {{ columnName }} </span></div>
</script>
<script id="_script_show" type="text/x-handlebars-template">
	<div class="command-script" id="command_{{ order }}">
		<button type="button" class="close" aria-label="Close" data-command-index="{{ order }}"><span aria-hidden="true">×</span></button>
		{{ prefix }}<span class="command"> {{ command }} </span> on column <span class="column"> {{ columnName }} </span> with
		{{#each opts}}
			{{#unless (if_eq @key 'col_name' ) }}
			<p class="command-argument">
				<span class="command-arg-key">{{ @key }}:</span> 
				<span class="command-arg-val">{{ this }}</span>
			</p>
			{{/unless }}
		{{/each}}
	</div>
</script>