<!DOCTYPE html>
<html>
  <head>
    <title>Lodr - Admin</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
	
	<%= render 'application/favicon' %>
	
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
		<%= render "shared/header" %>
		
		<div class="container-fluid p-x-md">
			
			<div class="row">
				<div class="col-sm-2">
					<ul class="nav nav-pills nav-stacked">
					  	<li role="presentation" class=""><%= link_to 'Users', admin_console_path %></li>
					   	<li role="presentation" class=""><%= link_to 'Load Jobs', admin_console_load_jobs_path %></li>
				    	<li role="presentation" class=""><%= link_to 'Queries', admin_console_queries_path %></li>
					 	<li role="presentation" class=""><%= link_to 'Zips', admin_console_zips_path %></li>
						<li role="presentation" class=""><%= link_to 'Sources', admin_console_sources_path %></li>
						<li role="presentation" class=""><%= link_to 'Databases', admin_console_databases_path %></li>
					</ul>
				</div>
	
				<div class="col-sm-10">
					<% unless notice.nil? %>
						<div id="main-ok-alert" class="alert alert-info"><%= notice %></div>
					<% end %>
		
					<% unless alert.nil? %>
						<div id="main-error-alert" class="alert alert-danger"><%= alert %></div>
					<% end %>
			
					<%= yield %>
		
				</div>
			</div>		
					
		</div>
		
		<%= render "shared/footer" %>
  </body>
</html>
