<!DOCTYPE html>
<html>
  <head>
    <title>Lodr - <%= controller_name.titleize %></title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
	
	<%= render 'application/favicon' %>	
	<%= render "shared/analytics" %>
	<%= render "shared/drift" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
		<%= render "shared/header" %>
		
		
		<div class="container-fluid p-x-lg">
			<% unless notice.nil? %>
				<div id="main-ok-alert" class="alert alert-info"><%= notice.html_safe %></div>
			<% end %>
		
			<% unless alert.nil? %>
				<div id="main-error-alert" class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					
					<%= alert.html_safe %>
				</div>
			<% end %>
			
			<% unless flash[:warning].nil? %>
				<div id="main-warning-alert" class="alert alert-warning alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					
					<%= flash[:warning].html_safe %>
				</div>
			<% end %>
			
			<%= yield %>
		</div>
		
		<%= render "shared/project_config" %>
			  
		<%= render "shared/footer" %>
		<%= render "shared/tutorial" %>
  </body>
</html>
