<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
		
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Visually prep and load files from your desktop or S3 buckets into your Amazon Redshift Data Warehouse.  Lodr is built on a serverless backend for fast data transformations and loading.">
	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
	
	<%= render 'application/favicon' %>
	<%= render "shared/analytics" %>
	<%= render "shared/drift" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> articles">
	  	<%= render "shared/static_header" %>		
		
		<div class="container m-b-lg m-t">
			<div class="row">
				<div class="col-sm-3">
					<div class="hidden-xs" >
						<div class="articles-cta p-a m-t">
							<p class="text-muted m-b">
								You can load 50K rows per month for free! Own your data destiny with unlimted users and projects.
							</p>
							<%= link_to "TRY IT FREE", new_user_registration_path, id: "main-call-to-action",class: "btn btn-primary btn-lg btn-warning m-b btn-square" %>		
						</div>
						<div class="article-links m-t">
							<h4>Use Cases</h4>
							<ul class="fa-ul">
								<li><i class="fa-li fa fa-caret-right"></i>
									<%= link_to "Getting Started with Redshift", page_path('articles/getting-started-with-redshift') %>  
								</li>
								<li><i class="fa-li fa fa-caret-right"></i>
									<%= link_to "Team Cloud Data Warehouse", page_path('articles/team-cloud-data-warehouse') %>  
								</li>
								<li><i class="fa-li fa fa-caret-right"></i><%= link_to "Self Service ETL", page_path('articles/self-service-etl') %>  </li>
								<!-- <li><i class="fa-li fa fa-caret-right"></i><%= link_to "Personal Cloud DWH", page_path('articles/personal-cloud-dwh')  %> </li> -->
							</ul>
							<h4 class="m-t">Feature Highlights</h4>
							<ul class="fa-ul">
								<li><i class="fa-li fa fa-caret-right"></i>
									<%= link_to "Sync S3 Buckets", page_path('articles/sync-s3-buckets-with-redshift') %> 						</li>
								<li><i class="fa-li fa fa-caret-right"></i>
									<%= link_to "Skip the COPY Command", page_path('articles/skip-the-copy-command') %> 						</li>
								<li><i class="fa-li fa fa-caret-right"></i>
									<%= link_to "JSON Extractor", page_path('articles/load-json-files-into-redshift') %>  
								</li>
								<li><i class="fa-li fa fa-caret-right"></i>
									<%= link_to "Load Partitioned Files", page_path('articles/load-multiple-files-into-the-same-redshift-table') %>  
								</li>
							</ul>							
						</div>
					</div>
				</div>
				<div class="col-sm-9 p-x-lg">
					<% unless notice.nil? %>
						<div id="main-ok-alert" class="alert alert-info"><%= notice %></div>
					<% end %>
		
					<% unless alert.nil? %>
						<div id="main-error-alert" class="alert alert-danger"><%= alert %></div>
					<% end %>
					
					<%= yield %>
				</div>
				
			</div>
			<div class="text-center">
			<div class="articles-cta mobile p-a m-t visible-xs" >
				<p class="text-muted m-b">
					You can load 10K rows per month for free or upto 2 Million rows for $19! Own your data destiny.
				</p>
				<%= link_to "TRY IT FREE", new_user_registration_path, id: "main-call-to-action",class: "btn btn-primary btn-lg btn-warning m-b btn-square" %>		
			</div>		
			</div>	
		</div>		
		
		
		<%= render "pages/shared/footer" %>
		<%= render "shared/tutorial" %>
		
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58b06e74e16d5fb3"></script> 
  </body>
</html>
