<!DOCTYPE html>
<html>
  <head>
    <title>Lodr - Accounts <%= action_name.humanize.titleize if action_name != "show" %></title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">

	<%= render 'application/favicon' %>
	<%= render "shared/analytics" %>
	<%= render "shared/drift" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> dark-bg">
	  	<% if user_signed_in? %>
			<%= render "shared/header" %>
		<% else %>
			<%= render "shared/static_header" %>	
		<% end %>
		
		<div class="container">
			<% unless notice.nil? %>
				<div id="main-ok-alert" class="alert alert-info"><%= notice %></div>
			<% end %>
		
			<% unless alert.nil? %>
				<div id="main-error-alert" class="alert alert-danger"><%= alert %></div>
			<% end %>
			
			<%= yield %>
		</div>
		
		<% if current_project && user_signed_in? %>
			<%= render "shared/project_config" %>
		<% end %>
		<%= render "shared/footer" %>
		<%= render "shared/tutorial" %>
  </body>
</html>
