<!DOCTYPE html>
<html>
  <head>
    <title>Loader - <%= action_name.capitalize %></title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
	
	<%= render 'application/favicon' %>
	<%= render "shared/analytics" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
		<%= render "loaders/shared/header" %>
		
		
		<div class="container main-ctr">
			<% if notice && action_name != "transforms" %>
				<div id="main-ok-alert" class="alert alert-info"><%= notice.html_safe %></div>
			<% end %>
		
			<% if alert && action_name != "transforms"  %>
				<div id="main-error-alert" class="alert alert-danger"><%= alert.html_safe %></div>
			<% end %>
			
			<%= yield %>
		</div>
		
		<%= render "loaders/shared/footer" %>
		<%= render 'shared/database_event' %>
	
  </body>
</html>