<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body{
		  background: #dde2e6;
		  color: #6C6F73;
	      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		  font-size: 16px;
		  line-height: 1.4em;
      }
	  a {
	      color: #7eb3e0;
		  text-decoration: none;
	  }
	  p{ font-size: 16px; line-height: 1.4em;}
	  .container{
		  width: 90%;
		  max-width:550px;
		  background: #fff;
	      border: 1px solid lightgray;
	      border-radius: 3px;
		  padding: 20px;
		  text-align: left;
		  margin-top: 40px;
	  }
	  .shadow {
	      -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
	      -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
	      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
	  }
	  .btn{
		  font-size: 16px;
	      text-transform: none;
	      letter-spacing: normal;
	      display: inline-block;
	      margin-bottom: 0;
	      font-weight: 400;
	      text-align: center;
	      vertical-align: middle;
	      cursor: pointer;
	      border: 1px solid transparent;
	      white-space: nowrap;
	      padding: 6px 12px;
	      line-height: 1.4;
	      border-radius: 3px;
		  text-decoration: none;
	      -webkit-user-select: none;
	      -moz-user-select: none;
	      -ms-user-select: none;
	      user-select: none;
	  }
	  .btn-info {
	      color: #fff;
	      background-color: #5bc0de;
	      border-color: #46b8da;
	  }
	  .btn-primary {
	      color: #fff;
	      background-color: #2595FF;
	      border-color: #0b89ff;
	  }
	  .text-info {
	      color: #31708f;
	  }
	  .header{}
	  .footer{
	  	  color: #acb5b9;
		  margin-top: 50px;
		  font-size: 14px;
		  line-height: 1.23em;
	  }
	  .footer p{
		  margin: 0 0 5px;
		  font-size: 13px;
		  line-height: 1.23em;
	  }	  
	  .water-mark{ margin-bottom: 15px;}
	  .error{
		  color: #a94442;
	      background-color: #f2dede;
		  border-color: #dca7a7;
	      padding: 15px;
	      border-radius: 4px;
	  }
	  .warning{
		  color: #8a6d3b;
	      background-color: #FCF8E5;
		  border-color: #FAEBCE;
	      padding: 15px;
	      border-radius: 4px;
	  }
    </style>
  </head>

  <body>
	  <center>
		<div class="container shadow">
			<div class="header">
				<%= link_to (image_tag('brand-logo.png')), dashboard_url %>
			</div>
		    <%= yield %>
		</div>
		
		<div class="footer">
			<%= image_tag('logo-watermark-style.png', class: "water-mark") %>
			<br />
			<p>Lodr is created and maintained by Vero Analytics, Inc. </p>
			<p>© <%= Date.today.year %> Vero Analytics, Inc.</p>
			<p><%= link_to "Home", root_url %> | <%= link_to "Dashboard", dashboard_url %>  </p>
			<br />
			<p>
				8607 WESTWOOD CENTER DRIVE <br /> 
				SUITE 250 <br /> 
				VIENNA, VA, 22182
			</p>
		</div>
	  </center>
  </body>
</html>
