<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Visually prep and load files from your desktop or S3 buckets into your Amazon Redshift Data Warehouse.  Lodr is built on a serverless backend for fast data transformations and loading.">
	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
	
	<%= render 'application/favicon' %>
	<%= render "shared/analytics" %>
	<%= render "shared/drift" %>
	
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; color: #333;}
    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		#mc_embed_signup label {text-align: left;}
    </style>
	
  </head>

  <body class="<%= controller_name %> <%= action_name %>  <%= 'no-body-pad' if request.path == "/" %>">
	  	<% if request.path == "/" %>
			<%= render "pages/shared/cover_header" %>
		<% elsif current_user %>
			<div style="margin-bottom:-50px"><%= render "shared/header" %></div>
		<% else %>
			<%= render "shared/static_header" %>
		<% end %>
		
		
		<div class="container">
			<% unless notice.nil? %>
				<div id="main-ok-alert" class="alert alert-info"><%= notice %></div>
			<% end %>
		
			<% unless alert.nil? %>
				<div id="main-error-alert" class="alert alert-danger"><%= alert %></div>
			<% end %>
		</div>
		
		<%= yield %>
		
		<%= render "pages/shared/footer" %>
		<%= render "shared/tutorial" %>
  </body>
</html>
