<!DOCTYPE html>
<html>
  <head>
    <title>Lodr - SQL Client</title>
    <%= csrf_meta_tags %>
	<meta name="turbolinks-cache-control" content="no-cache">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600" rel="stylesheet" type="text/css">
	
	<%= render 'application/favicon' %>	
	<%= render "shared/analytics" %>
  </head>

  <body class="sql">
		<%= render "shared/header" %>
		
		
		<div class="container-fluid ">
			
			
			<%= yield %>
		</div>
		
		<%= render "shared/project_config" %>
		<%= render "shared/tutorial" %>
  </body>
</html>
